pkgbase = python-milc
	pkgdesc = Opinionated Batteries-Included Python 3 CLI Framework.
	pkgver = 1.6.6
	pkgrel = 1
	url = https://milc.clueboard.co/#/
	arch = any
	license = MIT
	checkdepends = python-semver
	checkdepends = python-nose2
	makedepends = python-setuptools
	depends = python-appdirs
	depends = python-argcomplete
	depends = python-colorama
	depends = python-halo
	source = python-milc-1.6.6.tar.gz::https://github.com/clueboard/milc/archive/1.6.6.tar.gz
	sha256sums = b383bccac8dfb21748ec0433daba2c9128b53c2991b5c443284d102ad219841b

pkgname = python-milc
