pkgbase = python-milc
	pkgdesc = Opinionated Batteries-Included Python 3 CLI Framework.
	pkgver = 1.0.10
	pkgrel = 3
	url = https://milc.clueboard.co/#/
	arch = any
	license = MIT
	checkdepends = python-semver
	checkdepends = python-nose2
	makedepends = python-setuptools
	depends = python-appdirs
	depends = python-argcomplete
	depends = python-colorama
	source = python-milc-1.0.10.tar.gz::https://github.com/clueboard/milc/archive/1.0.10.tar.gz
	sha256sums = 09cd6c4839b1a25ccc426250ee75252fec8f9adced640e87f1081f03e7d87216

pkgname = python-milc

