pkgbase = python-milc
	pkgdesc = Opinionated Batteries-Included Python 3 CLI Framework.
	pkgver = 1.2.0
	pkgrel = 1
	url = https://milc.clueboard.co/#/
	arch = any
	license = MIT
	checkdepends = python-semver
	checkdepends = python-nose2
	makedepends = python-setuptools
	depends = python-appdirs
	depends = python-argcomplete
	depends = python-colorama
	source = python-milc-1.2.0.tar.gz::https://github.com/clueboard/milc/archive/1.2.0.tar.gz
	sha256sums = bfb77ccf8587d4a80940856bfd572908ebb51c6b731cbd91543bbce5ab5cd873

pkgname = python-milc

