pkgbase = git-lfs
	pkgdesc = Git extension for versioning large files
	pkgver = 3.1.4
	pkgrel = 1
	url = https://git-lfs.github.com
	arch = x86_64
	license = MIT
	makedepends = go
	makedepends = ruby-ronn
	makedepends = go-tools
	depends = git
	source = git+https://github.com/git-lfs/git-lfs.git#tag=v3.1.4?signed
	validpgpkeys = 88ACE9B29196305BA9947552F1BA225C0223B187
	sha256sums = SKIP

pkgname = git-lfs
