pkgbase = micro
	pkgdesc = Modern and intuitive terminal-based text editor
	pkgver = 2.0.10
	pkgrel = 3
	url = https://micro-editor.github.io/
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = go
	optdepends = wl-clipboard: for copying/pasting text using Wayland
	optdepends = xclip: for copying/pasting text using X
	source = git+https://github.com/zyedidia/micro#commit=b97638566ea8431712f0faafe23661da2db0e8ec
	b2sums = SKIP

pkgname = micro
