pkgbase = micro
	pkgdesc = Modern and intuitive terminal-based text editor
	pkgver = 2.0.11
	pkgrel = 4
	url = https://micro-editor.github.io/
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = go
	optdepends = wl-clipboard: for copying/pasting text using Wayland
	optdepends = xclip: for copying/pasting text using X
	source = git+https://github.com/zyedidia/micro#commit=225927b9a25f0d50ea63ea18bc7bb68e404c0cfd
	b2sums = SKIP

pkgname = micro
