pkgbase = perl-gnupg-interface
	pkgdesc = Object-oriented methods for interacting with GnuPG
	pkgver = 1.00
	pkgrel = 2
	url = https://metacpan.org/release/GnuPG-Interface
	arch = any
	license = PerlArtistic
	license = GPL
	makedepends = perl-module-install
	depends = gnupg
	depends = perl-math-bigint
	depends = perl-moo
	depends = perl-moox-handlesvia
	depends = perl-moox-late
	options = !emptydirs
	source = https://cpan.metacpan.org/authors/id/J/JE/JESSE/GnuPG-Interface-1.00.tar.gz
	sha512sums = 82436543cc3fff19c10fce2be70db5c056e1e186c283127e4e197aa213dc70b5d6d5b61ccd66b577c411a822aef8f2c02057c996e561d5b192fcc2d96a677f07

pkgname = perl-gnupg-interface

