pkgbase = toolbox
	pkgdesc = Unprivileged development environment
	pkgver = 0.0.97
	pkgrel = 1
	url = https://github.com/containers/toolbox
	arch = x86_64
	license = APACHE
	makedepends = go
	makedepends = shellcheck
	makedepends = go-md2man
	makedepends = bash-completion
	makedepends = ninja
	makedepends = git
	makedepends = meson
	depends = podman
	depends = bash
	depends = flatpak
	source = git+https://github.com/containers/toolbox#commit=3cbd2a1343e614a4064f9650c5e0b466ae3cfb94
	sha256sums = SKIP

pkgname = toolbox

