pkgbase = toolbox
	pkgdesc = Unprivileged development environment
	pkgver = 0.0.99.4
	pkgrel = 1
	url = https://github.com/containers/toolbox
	arch = x86_64
	license = APACHE
	makedepends = go
	makedepends = shellcheck
	makedepends = go-md2man
	makedepends = bash-completion
	makedepends = ninja
	makedepends = git
	makedepends = meson
	makedepends = podman
	depends = podman
	depends = bash
	depends = flatpak
	source = git+https://github.com/containers/toolbox#commit=f7c4c7dedb34be33333065296275869e77464400
	sha256sums = SKIP

pkgname = toolbox
