pkgbase = toolbox
	pkgdesc = Unprivileged development environment
	pkgver = 0.0.96
	pkgrel = 1
	url = https://github.com/containers/toolbox
	arch = x86_64
	license = APACHE
	makedepends = go
	makedepends = shellcheck
	makedepends = go-md2man
	makedepends = bash-completion
	makedepends = ninja
	makedepends = git
	makedepends = meson
	depends = podman
	depends = bash
	depends = flatpak
	source = git+https://github.com/containers/toolbox#commit=03c69894dffae348e6b24086af298e4f5036a89a
	sha256sums = SKIP

pkgname = toolbox

