pkgbase = borg
	pkgdesc = Deduplicating backup program with compression and authenticated encryption
	pkgver = 1.2.4
	pkgrel = 2
	url = https://borgbackup.github.io/
	arch = x86_64
	license = BSD
	checkdepends = python-pytest
	checkdepends = python-dateutil
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	makedepends = python-pkgconfig
	makedepends = python-sphinx
	makedepends = python-guzzle-sphinx-theme
	makedepends = python-wheel
	makedepends = cython
	depends = acl
	depends = lz4
	depends = openssl
	depends = xz
	depends = zstd
	depends = python
	depends = python-packaging
	depends = python-msgpack
	optdepends = openssh: repositories on remote hosts
	optdepends = python-llfuse: mounting backups as a FUSE file system
	provides = borgbackup
	replaces = borgbackup
	source = https://github.com/borgbackup/borg/releases/download/1.2.4/borgbackup-1.2.4.tar.gz
	source = https://github.com/borgbackup/borg/releases/download/1.2.4/borgbackup-1.2.4.tar.gz.asc
	validpgpkeys = 6D5BEF9ADD2075805747B70F9F88FB52FAF7B393
	sha256sums = a4bd54e9469e81b7a30a6711423115abc818d9cd844ecb1ca0e6104bc5374da8
	sha256sums = SKIP

pkgname = borg
