pkgbase = borg
	pkgdesc = Deduplicating backup program with compression and authenticated encryption
	pkgver = 1.1.16
	pkgrel = 5
	url = https://borgbackup.github.io/
	arch = x86_64
	license = BSD
	checkdepends = python-pytest
	checkdepends = python-pytest-cov
	checkdepends = python-pytest-benchmark
	checkdepends = python-mock
	makedepends = cython
	makedepends = python-sphinx
	makedepends = python-setuptools
	makedepends = python-guzzle-sphinx-theme
	makedepends = python-setuptools-scm
	depends = acl
	depends = lz4
	depends = openssl
	depends = xz
	depends = zstd
	depends = python
	optdepends = openssh: repositories on remote hosts
	optdepends = python-llfuse: mounting backups as a FUSE file system
	provides = borgbackup
	replaces = borgbackup
	source = https://github.com/borgbackup/borg/releases/download/1.1.16/borgbackup-1.1.16.tar.gz
	source = https://github.com/borgbackup/borg/releases/download/1.1.16/borgbackup-1.1.16.tar.gz.asc
	validpgpkeys = 6D5BEF9ADD2075805747B70F9F88FB52FAF7B393
	sha256sums = bc569224d6320483e508c36ff2a651d01bbd0aaebf32305e2683a696b9c32d50
	sha256sums = SKIP

pkgname = borg

