pkgbase = borg
	pkgdesc = Deduplicating backup program with compression and authenticated encryption
	pkgver = 1.1.15
	pkgrel = 3
	url = https://borgbackup.github.io/
	arch = x86_64
	license = BSD
	checkdepends = python-pytest
	checkdepends = python-pytest-cov
	checkdepends = python-pytest-benchmark
	checkdepends = python-mock
	makedepends = cython
	makedepends = python-sphinx
	makedepends = python-guzzle-sphinx-theme
	makedepends = python-setuptools-scm
	depends = acl
	depends = lz4
	depends = openssl
	depends = python-setuptools
	depends = xz
	depends = zstd
	optdepends = openssh: repositories on remote hosts
	optdepends = python-llfuse: mounting backups as a FUSE file system
	provides = borgbackup
	replaces = borgbackup
	source = https://github.com/borgbackup/borg/releases/download/1.1.15/borgbackup-1.1.15.tar.gz
	source = https://github.com/borgbackup/borg/releases/download/1.1.15/borgbackup-1.1.15.tar.gz.asc
	validpgpkeys = 6D5BEF9ADD2075805747B70F9F88FB52FAF7B393
	sha256sums = 49cb9eed98b8e32ae3b97beaedf94cdff46f796445043f1923fd0fce7ed3c2bc
	sha256sums = SKIP

pkgname = borg

