pkgbase = python-m2crypto
	pkgdesc = A crypto and SSL toolkit for Python
	pkgver = 0.36.0
	pkgrel = 1
	url = https://pypi.python.org/pypi/M2Crypto
	arch = x86_64
	license = BSD
	makedepends = python
	makedepends = python-setuptools
	makedepends = python2
	makedepends = python2-setuptools
	makedepends = swig
	source = python2-m2crypto-0.36.0.tar.gz::https://gitlab.com/m2crypto/m2crypto/repository/0.36.0/archive.tar.gz
	source = LICENSE
	sha256sums = 18e23c5a4d5962a5bd44feba00a521f662c4f7a391b27b8464df095494f21eda
	sha256sums = 4eca478396f4b2b020729a111fce3f096456d74500bfd8f2b0388c3c69f997c0

pkgname = python2-m2crypto
	depends = python2
	depends = openssl
	depends = python2-typing

pkgname = python-m2crypto
	depends = python
	depends = openssl

