pkgbase = python2-docs
	pkgdesc = Set of HTML documentation for python.
	pkgver = 2.7.16
	pkgrel = 1
	url = https://docs.python.org/
	install = python2-docs.install
	arch = any
	license = GPL
	options = docs
	source = https://docs.python.org/ftp/python/doc/2.7.16/python-2.7.16-docs-html.tar.bz2
	sha512sums = 477b2c2225cdc687e5ff68e5df529309d8ee8d7075f3643af730f7aa51e060460a03d1b0a5bf2d05aa2115368ddc33709a45b19972a729575d9070af78360c80

pkgname = python2-docs

