pkgbase = bash-bats
	pkgdesc = Bash Automated Testing System
	pkgver = 1.7.0
	pkgrel = 2
	url = https://github.com/bats-core/bats-core
	arch = any
	license = MIT
	depends = bash
	source = bash-bats-1.7.0.tar.gz::https://github.com/bats-core/bats-core/archive/v1.7.0.tar.gz
	sha256sums = ac70c2a153f108b1ac549c2eaa4154dea4a7c1cc421e3352f0ce6ea49435454e

pkgname = bash-bats
