pkgbase = go-tools
	pkgdesc = Developer tools for the Go programming language
	pkgver = 1.12+2915+49d818b07
	pkgrel = 1
	epoch = 2
	url = https://golang.org/
	arch = x86_64
	license = BSD
	makedepends = git
	makedepends = go-pie
	depends = glibc
	source = go-tools::git+https://go.googlesource.com/tools#commit=49d818b07734fb3230f2d00bc5d4453348348d24
	source = golang-net::git+https://github.com/golang/net#commit=16b79f2e4e95ea23b2bf9903c9809ff7b013ce85
	md5sums = SKIP
	md5sums = SKIP

pkgname = go-tools

