pkgbase = go-tools
	pkgdesc = Developer tools for the Go programming language
	pkgver = 0.1.11
	pkgrel = 3
	epoch = 4
	url = https://golang.org/
	arch = x86_64
	license = BSD
	makedepends = git
	makedepends = go
	depends = glibc
	source = go-tools::git+https://go.googlesource.com/tools#commit=1d19788894f308098139d81ac980580298f45d6b
	md5sums = SKIP

pkgname = go-tools
