pkgbase = python-nbxmpp
	pkgdesc = A Python library to use Jabber/XMPP networks in a non-blocking way
	pkgver = 3.1.1
	pkgrel = 1
	url = https://dev.gajim.org/gajim/python-nbxmpp/
	arch = any
	license = GPL3
	makedepends = python-setuptools
	depends = libsoup
	depends = python-gobject
	depends = python-idna
	depends = python-precis_i18n
	source = python-nbxmpp-3.1.1.tar.gz::https://dev.gajim.org/gajim/python-nbxmpp/-/archive/3.1.1/python-nbxmpp-3.1.1.tar.gz
	sha256sums = fe4f8ac026d64809b81d7646bf31900aab08b4b450503f5def41c4fd2eb23dc0

pkgname = python-nbxmpp
