pkgbase = python-nbxmpp
	pkgdesc = A Python library to use Jabber/XMPP networks in a non-blocking way
	pkgver = 4.0.1
	pkgrel = 1
	url = https://dev.gajim.org/gajim/python-nbxmpp/
	arch = any
	license = GPL3
	makedepends = python-setuptools
	depends = libsoup3
	depends = python-gobject
	depends = python-idna
	depends = python-precis_i18n
	source = https://dev.gajim.org/gajim/python-nbxmpp/-/archive/4.0.1/python-nbxmpp-4.0.1.tar.gz
	sha256sums = 45d935adc05076afead09073a2e78364397f425a40b22be4da097f988f29c0b8

pkgname = python-nbxmpp
