pkgbase = python-nbxmpp
	pkgdesc = A Python library to use Jabber/XMPP networks in a non-blocking way
	pkgver = 2.0.2
	pkgrel = 1
	url = https://dev.gajim.org/gajim/python-nbxmpp/
	arch = any
	license = GPL3
	makedepends = python-setuptools
	depends = libsoup
	depends = python-gobject
	depends = python-idna
	depends = python-precis_i18n
	source = python-nbxmpp-2.0.2.tar.gz::https://dev.gajim.org/gajim/python-nbxmpp/repository/nbxmpp-2.0.2/archive.tar.gz
	sha256sums = 40de72ea33812c95a1c759c8e4a417283ea008d098a2390433545b2b47c167cc

pkgname = python-nbxmpp

