pkgbase = mosh
	pkgdesc = Mobile shell, surviving disconnects with local echo and line editing
	pkgver = 1.4.0
	pkgrel = 1
	url = https://mosh.org/
	arch = x86_64
	license = GPL3
	makedepends = git
	depends = libutempter
	depends = openssh
	depends = openssl
	depends = perl-io-tty
	depends = protobuf
	options = !emptydirs
	source = git+https://github.com/mobile-shell/mosh#tag=mosh-1.4.0
	b2sums = SKIP

pkgname = mosh
