pkgbase = perl-search-xapian
	pkgdesc = Perl XS frontend to the Xapian C++ search library.
	pkgver = 1.2.25.5
	pkgrel = 1
	url = https://metacpan.org/release/Search-Xapian
	arch = x86_64
	license = PerlArtistic
	license = GPL
	depends = perl
	depends = perl-devel-leak
	depends = xapian-core
	options = !emptydirs
	source = http://search.cpan.org/CPAN/authors/id/O/OL/OLLY/Search-Xapian-1.2.25.5.tar.gz
	sha512sums = 3099ba3f8726029d7a5c916f6b05d2d7cea41534b0f364687c7d9e0212340dca2a313a1ac8e0f6531a7c1084c8833a0e6d45bcff8fec32e0a6e5922bc0bcb81f

pkgname = perl-search-xapian
