pkgbase = python-reportlab
	pkgdesc = A proven industry-strength PDF generating solution
	pkgver = 3.6.9
	pkgrel = 1
	url = https://www.reportlab.com/
	arch = x86_64
	license = BSD
	makedepends = freetype2
	makedepends = python-pillow
	makedepends = mercurial
	depends = python
	depends = python-pillow
	source = https://files.pythonhosted.org/packages/source/r/reportlab/reportlab-3.6.9.tar.gz
	sha256sums = 5d0cc3682456ad213150f6dbffe7d47eab737d809e517c316103376be548fb84

pkgname = python-reportlab
