pkgbase = python-reportlab
	pkgdesc = A proven industry-strength PDF generating solution
	pkgver = 3.5.53
	pkgrel = 1
	url = https://www.reportlab.com/
	arch = x86_64
	license = BSD
	makedepends = freetype2
	makedepends = python-pillow
	makedepends = mercurial
	depends = python
	depends = python-pip
	depends = python-pillow
	source = https://files.pythonhosted.org/packages/source/r/reportlab/reportlab-3.5.53.tar.gz
	sha256sums = 49e32586d3a814a5f77407c0590504a72743ca278518b3c0f90182430f2d87af

pkgname = python-reportlab

