pkgbase = python-reportlab
	pkgdesc = A proven industry-strength PDF generating solution
	pkgver = 3.5.52
	pkgrel = 1
	url = https://bitbucket.org/rptlab/reportlab
	arch = x86_64
	license = BSD
	makedepends = freetype2
	makedepends = python-pillow
	makedepends = mercurial
	depends = python
	depends = python-pip
	depends = python-pillow
	source = https://files.pythonhosted.org/packages/source/r/reportlab/reportlab-3.5.52.tar.gz
	sha256sums = a5ad4696987fdb42d976093e1b1a585ec2ad42634b5ce94dbb71362dcc758afb

pkgname = python-reportlab

