pkgbase = python-pytoolconfig
	pkgdesc = Manage configuration for python tools, such as black and rope.
	pkgver = 1.2.2
	pkgrel = 4
	url = https://pypi.org/project/pytoolconfig/
	arch = any
	license = LGPL3
	checkdepends = python-docutils
	checkdepends = python-pytest
	checkdepends = python-sphinx
	checkdepends = python-tabulate
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-pdm-pep517
	depends = python
	depends = python-tomli
	depends = python-packaging
	optdepends = python-appdirs: for finding configuration dirs
	optdepends = python-pydantic: for validation
	optdepends = python-sphinx: for automatic documentation
	optdepends = python-tabulate: for tables in documentation
	source = https://files.pythonhosted.org/packages/source/p/pytoolconfig/pytoolconfig-1.2.2.tar.gz
	sha256sums = 2512a1f261a40e73cef2e58e786184261b60c802ae7ed01249342b1949ec3aa2

pkgname = python-pytoolconfig
