pkgbase = python-keyutils
	pkgdesc = A set of python bindings for keyutils
	pkgver = 0.6
	pkgrel = 2
	url = https://github.com/sassoftware/python-keyutils
	arch = x86_64
	license = Apache
	checkdepends = python-pytest
	makedepends = python
	makedepends = python-setuptools
	makedepends = python-pytest-runner
	depends = python
	depends = keyutils
	source = python-keyutils-0.6.tar.gz::https://github.com/sassoftware/python-keyutils/archive/0.6.tar.gz
	sha256sums = f69e6cadc50525dcb117714e440ee6579b0e5b7f12910b2bb2e910b236a2b18b

pkgname = python-keyutils

