pkgbase = gopass
	pkgdesc = The slightly more awesome standard unix password manager for teams.
	pkgver = 1.15.0
	pkgrel = 1
	url = https://github.com/gopasspw/gopass
	arch = x86_64
	license = MIT
	makedepends = go
	optdepends = xdotool: for typing passwords selected by dmenu
	optdepends = xsel: clipboard support
	optdepends = xclip: clipboard support
	options = !lto
	source = https://github.com/gopasspw/gopass/releases/download/v1.15.0/gopass-1.15.0.tar.gz
	sha512sums = 16dc017139766f8d635c3230126bebff48e7ca9fe8735a6440f13ef61788bc7359d11a00749752519ab050759bb272a6982c75092ac991b87600006712cd48a8

pkgname = gopass
