pkgbase = gopass
	pkgdesc = The slightly more awesome standard unix password manager for teams.
	pkgver = 1.10.0
	pkgrel = 2
	url = https://github.com/gopasspw/gopass
	arch = x86_64
	license = MIT
	makedepends = go
	optdepends = xdotool: for typing passwords selected by dmenu
	optdepends = xsel: clipboard support
	optdepends = xclip: clipboard support
	source = https://github.com/gopasspw/gopass/releases/download/v1.10.0/gopass-1.10.0.tar.gz
	sha512sums = 36ac3ffb4855a3e2f6ed292e1e37ab3d8c25284948f95d7acef312bc7db864c776115f4231b0485c3926f9990de131c62da9d13bdd91a8525e22dd42ffae0e39

pkgname = gopass

