pkgbase = gopass
	pkgdesc = The slightly more awesome standard unix password manager for teams.
	pkgver = 1.9.2
	pkgrel = 1
	url = https://github.com/gopasspw/gopass
	arch = x86_64
	license = MIT
	makedepends = go
	optdepends = xdotool: for typing passwords selected by dmenu
	optdepends = xsel: clipboard support
	optdepends = xclip: clipboard support
	source = gopass-1.9.2.tar.gz::https://github.com/gopasspw/gopass/archive/v1.9.2.tar.gz
	sha512sums = 90be234718c4c26ee6e92565ce609d5f075d5e574827e15ff57a6d9e71f1933add7d76aa26b39602d5a72485890bfe8e158dc89213098377899d0f721aacf1d7

pkgname = gopass

