pkgbase = nomad-driver-podman
	pkgdesc = A nomad taskdriver for podman containers
	pkgver = 0.4.1
	pkgrel = 1
	url = https://github.com/hashicorp/nomad-driver-podman
	arch = x86_64
	license = MPL2
	makedepends = git
	makedepends = go
	depends = nomad
	depends = podman
	options = !lto
	source = nomad-driver-podman::git+https://github.com/hashicorp/nomad-driver-podman#commit=3f8a8c03d26afe73388546b6235152224bafd6c1
	b2sums = SKIP

pkgname = nomad-driver-podman
