pkgbase = nomad-driver-podman
	pkgdesc = A nomad taskdriver for podman containers
	pkgver = 0.3.0
	pkgrel = 2
	url = https://github.com/hashicorp/nomad-driver-podman
	arch = x86_64
	license = MPL2
	makedepends = git
	makedepends = go
	depends = nomad
	depends = podman
	options = !lto
	source = nomad-driver-podman::git+https://github.com/hashicorp/nomad-driver-podman#commit=ec01bb2b87216219da064359ef95dd3f7f226457
	b2sums = SKIP

pkgname = nomad-driver-podman
