pkgbase = nomad-driver-podman
	pkgdesc = A nomad taskdriver for podman containers
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/hashicorp/nomad-driver-podman
	arch = x86_64
	license = MPL2
	makedepends = git
	makedepends = go
	depends = nomad
	depends = podman
	options = !lto
	source = nomad-driver-podman::git+https://github.com/hashicorp/nomad-driver-podman#commit=50007e0c40702d24c9710a8030a72a875826e743
	b2sums = SKIP

pkgname = nomad-driver-podman
