pkgbase = jgmenu
	pkgdesc = Small X11 menu intended to be used with openbox and tint2
	pkgver = 4.0
	pkgrel = 1
	url = https://www.github.com/johanmalm/jgmenu
	arch = i686
	arch = x86_64
	license = GPL
	depends = libx11
	depends = cairo
	depends = pango
	depends = libxrandr
	depends = librsvg
	depends = libxml2
	depends = glib2
	depends = menu-cache
	depends = python
	source = jgmenu-4.0.tar.gz::https://www.github.com/johanmalm/jgmenu/archive/v4.0.tar.gz
	sha256sums = 39a28620a3daa923d48c7a40e3e6fc9df40891ce52f2ae69b89d97551fb5a0c2

pkgname = jgmenu

