pkgbase = jgmenu
	pkgdesc = Simple, independent, contemporary-looking X11 menu, designed for scripting, ricing and tweaking
	pkgver = 4.2.1
	pkgrel = 1
	url = https://www.github.com/johanmalm/jgmenu
	arch = i686
	arch = x86_64
	license = GPL
	depends = libx11
	depends = cairo
	depends = pango
	depends = libxrandr
	depends = librsvg
	depends = libxml2
	depends = glib2
	depends = menu-cache
	depends = python
	source = jgmenu-4.2.1.tar.gz::https://www.github.com/johanmalm/jgmenu/archive/v4.2.1.tar.gz
	sha256sums = 8ce3250b6a726f068126a0b75e02a6caafcf651b8c6ef59b328ff70a81473fc5

pkgname = jgmenu

