pkgbase = jgmenu
	pkgdesc = Simple, independent, contemporary-looking X11 menu, designed for scripting, ricing and tweaking
	pkgver = 4.3.0
	pkgrel = 1
	url = https://www.github.com/johanmalm/jgmenu
	arch = i686
	arch = x86_64
	license = GPL
	depends = libx11
	depends = cairo
	depends = pango
	depends = libxrandr
	depends = librsvg
	depends = libxml2
	depends = glib2
	depends = menu-cache
	depends = python
	source = jgmenu-4.3.0.tar.gz::https://www.github.com/johanmalm/jgmenu/archive/v4.3.0.tar.gz
	sha256sums = 84daae2c544a2755d76e9bcd8cd2503e9cfbf8c48b3e97c8ec32dbcf269c6275

pkgname = jgmenu
