pkgbase = qutebrowser
	pkgdesc = A keyboard-driven, vim-like browser based on PyQt5
	pkgver = 1.4.1
	pkgrel = 1
	url = http://www.qutebrowser.org/
	arch = any
	license = GPL
	makedepends = asciidoc
	makedepends = python-setuptools
	depends = python-attrs
	depends = python-jinja
	depends = python-pygments
	depends = python-pypeg2
	depends = python-pyqt5>=5.7
	depends = python-yaml
	depends = qt5-base>=5.7.1
	depends = qt5-webengine
	optdepends = gst-libav: media playback
	optdepends = gst-plugins-base: media playback
	optdepends = gst-plugins-good: media playback
	optdepends = gst-plugins-bad: media playback
	optdepends = gst-plugins-ugly: media playback
	optdepends = pdfjs: displaying PDF in-browser
	optdepends = qt5-webkit: alternative backend
	options = !emptydirs
	source = https://github.com/qutebrowser/qutebrowser/releases/download/v1.4.1/qutebrowser-1.4.1.tar.gz
	source = https://github.com/qutebrowser/qutebrowser/releases/download/v1.4.1/qutebrowser-1.4.1.tar.gz.asc
	validpgpkeys = E04E560002401B8EF0E76F0A916EB0C8FD55A072
	sha256sums = a3f2de0e1178d9c00abd96dcc6fb5ef9a52cc2a99aa7da2073f785b4b6485f58
	sha256sums = SKIP

pkgname = qutebrowser

