pkgbase = qutebrowser
	pkgdesc = A keyboard-driven, vim-like browser based on PyQt5
	pkgver = 2.0.2
	pkgrel = 1
	url = https://www.qutebrowser.org/
	arch = any
	license = GPL
	makedepends = asciidoc
	makedepends = python-setuptools
	depends = python-jinja
	depends = python-pyqt5
	depends = python-yaml
	depends = qt5-base
	depends = python-pyqtwebengine
	optdepends = python-adblock: adblocking backend
	optdepends = python-pygments
	optdepends = gst-libav: media playback with qt5-webkit backend
	optdepends = gst-plugins-base: media playback with qt5-webkit backend
	optdepends = gst-plugins-good: media playback with qt5-webkit backend
	optdepends = gst-plugins-bad: media playback with qt5-webkit backend
	optdepends = gst-plugins-ugly: media playback with qt5-webkit backend
	optdepends = pdfjs: displaying PDF in-browser
	optdepends = qt5-webkit: alternative backend
	options = !emptydirs
	source = https://github.com/qutebrowser/qutebrowser/releases/download/v2.0.2/qutebrowser-2.0.2.tar.gz
	source = https://github.com/qutebrowser/qutebrowser/releases/download/v2.0.2/qutebrowser-2.0.2.tar.gz.asc
	validpgpkeys = E04E560002401B8EF0E76F0A916EB0C8FD55A072
	sha256sums = 48a87e453b8932e259b7b3cabd8bc500606852f622d123388fb34e4ffe57b33b
	sha256sums = SKIP

pkgname = qutebrowser
