pkgbase = qutebrowser
	pkgdesc = A keyboard-driven, vim-like browser based on PyQt5
	pkgver = 1.9.0
	pkgrel = 1
	url = https://www.qutebrowser.org/
	arch = any
	license = GPL
	makedepends = asciidoc
	makedepends = python-setuptools
	depends = python-attrs
	depends = python-jinja
	depends = python-pygments
	depends = python-pypeg2
	depends = python-pyqt5
	depends = python-yaml
	depends = qt5-base
	depends = python-pyqtwebengine
	optdepends = gst-libav: media playback with qt5-webkit backend
	optdepends = gst-plugins-base: media playback with qt5-webkit backend
	optdepends = gst-plugins-good: media playback with qt5-webkit backend
	optdepends = gst-plugins-bad: media playback with qt5-webkit backend
	optdepends = gst-plugins-ugly: media playback with qt5-webkit backend
	optdepends = pdfjs: displaying PDF in-browser
	optdepends = qt5-webkit: alternative backend
	options = !emptydirs
	source = https://github.com/qutebrowser/qutebrowser/releases/download/v1.9.0/qutebrowser-1.9.0.tar.gz
	source = https://github.com/qutebrowser/qutebrowser/releases/download/v1.9.0/qutebrowser-1.9.0.tar.gz.asc
	validpgpkeys = E04E560002401B8EF0E76F0A916EB0C8FD55A072
	sha256sums = 2748fef2d0360000f6f814dae99ad8ad08b040cb4cf0e1e6d1e199ec70c01ef8
	sha256sums = SKIP

pkgname = qutebrowser

