pkgbase = cni-plugins
	pkgdesc = Some standard networking plugins, maintained by the CNI team
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/containernetworking/plugins
	arch = x86_64
	license = Apache
	makedepends = go
	depends = glibc
	options = emptydirs
	source = cni-plugins-1.0.0.tar.gz::https://github.com/containernetworking/plugins/archive/v1.0.0.tar.gz
	sha512sums = daf820bc0ce0278e0dd5782f29b5302c880ab6cbbe2dc0b043948ab2c8213e63374914fa85a74edcbc89d1632006a92bf7b1ba004defbd6a6df3dcecfdefdfb3
	b2sums = fc7aa5de40610ebe9dc821f3043a35018d693f9cc9d0e46899f0feca7e3a2d5e6eb95a9638484074ba56b8b56e41c5b85c0b2b12b63910afd0f349ee8041b734

pkgname = cni-plugins
