pkgbase = cni-plugins
	pkgdesc = Some standard networking plugins, maintained by the CNI team
	pkgver = 0.8.6
	pkgrel = 1
	url = https://github.com/containernetworking/plugins
	arch = x86_64
	license = Apache
	makedepends = go
	depends = glibc
	source = cni-plugins-0.8.6.tar.gz::https://github.com/containernetworking/plugins/archive/v0.8.6.tar.gz
	sha512sums = 8815de8b375c737c3a1951b0a7ef5786209fdcf723aa1bc7c2dab7e1bbdee4933a7237f41bdee4208828b457bc79ec69ff68db060c52bab13863f42b042480c8

pkgname = cni-plugins

