pkgbase = screenkey
	pkgdesc = A screencast tool to display your keys inspired by Screenflick
	pkgver = 1.4
	pkgrel = 1
	url = https://www.thregr.org/~wavexx/software/screenkey/
	arch = any
	license = GPL3
	makedepends = python-setuptools
	makedepends = python-distutils-extra
	depends = python-gobject
	depends = gtk3
	depends = python-cairo
	depends = libx11
	optdepends = slop
	optdepends = ttf-font-awesome
	optdepends = libappindicator-gtk3
	source = https://www.thregr.org/~wavexx/software/screenkey/releases/screenkey-1.4.tar.gz
	source = https://www.thregr.org/~wavexx/software/screenkey/releases/screenkey-1.4.tar.gz.asc
	validpgpkeys = 41958F4116FDD1B43DEE754A2BB7D6F2153410EC
	sha256sums = d7347e31fab4a5b18da431e3fc26f39700e99a505eb0c0168295adc12c8dd4f7
	sha256sums = SKIP

pkgname = screenkey
