pkgbase = python-xlib
	pkgdesc = A fully functional X client library for Python programs
	pkgver = 0.30
	pkgrel = 1
	url = https://github.com/python-xlib/python-xlib
	arch = any
	license = LGPL
	checkdepends = python-mock
	checkdepends = xorg-xauth
	checkdepends = xorg-server-xvfb
	checkdepends = python-nose
	makedepends = python-setuptools-scm
	depends = python-six
	source = python-xlib-0.30.tar.gz::https://github.com/python-xlib/python-xlib/archive/0.30.tar.gz
	sha256sums = bd92c6687768d4b3547399ebdf967ff40e9d1e9cfd2e365ec627a66ddcc60c22

pkgname = python-xlib

