pkgbase = python-xlib
	pkgdesc = A fully functional X client library for Python programs
	pkgver = 0.28
	pkgrel = 3
	url = https://github.com/python-xlib/python-xlib
	arch = any
	license = LGPL
	checkdepends = python-mock
	checkdepends = xorg-xauth
	checkdepends = xorg-server-xvfb
	checkdepends = python-nose
	makedepends = python-setuptools-scm
	depends = python-six
	source = python-xlib-0.28.tar.gz::https://github.com/python-xlib/python-xlib/archive/0.28.tar.gz
	sha256sums = a3bed6075897bb90847dfc9bb49a0d02f1a0c96c607971b554c5e8110c0900f5

pkgname = python-xlib

