pkgbase = nano-syntax-highlighting
	pkgdesc = Nano editor syntax highlighting enhancements
	pkgver = 2020.10.10
	pkgrel = 1
	url = https://github.com/scopatz/nanorc
	arch = any
	license = GPL3
	depends = nano
	source = https://github.com/scopatz/nanorc/releases/download/2020.10.10/nanorc-2020.10.10.tar.gz
	sha256sums = cd674e9eb230e4ba306b418c22d1891d93a3d2ffdf22234748d3398da50dfe64

pkgname = nano-syntax-highlighting

