pkgbase = nano-syntax-highlighting
	pkgdesc = Nano editor syntax highlighting enhancements
	pkgver = 2020.1.25
	pkgrel = 1
	url = https://github.com/scopatz/nanorc
	arch = any
	license = GPL3
	depends = nano
	source = https://github.com/scopatz/nanorc/releases/download/2020.1.25/nanorc-2020.1.25.tar.gz
	sha256sums = a7466a712315391559b010c224de0dc814e7fb4227853f66692ce9c4347ece7e

pkgname = nano-syntax-highlighting

