pkgbase = conmon
	pkgdesc = OCI container runtime monitor
	pkgver = 2.0.24
	pkgrel = 1
	epoch = 1
	url = https://github.com/containers/conmon
	arch = x86_64
	license = APACHE
	makedepends = git
	depends = glibc
	depends = glib2
	depends = systemd
	source = git+https://github.com/containers/conmon#commit=9cbc71d699291dfb14e7c1e348a0d48feff7a27d
	md5sums = SKIP

pkgname = conmon
