pkgbase = conmon
	pkgdesc = OCI container runtime monitor
	pkgver = 2.0.32
	pkgrel = 2
	epoch = 1
	url = https://github.com/containers/conmon
	arch = x86_64
	license = APACHE
	makedepends = git
	depends = glibc
	depends = glib2
	depends = systemd
	source = git+https://github.com/containers/conmon#commit=436b460d1586c2e4ab4e845448449ddd9136767a
	md5sums = SKIP

pkgname = conmon
