pkgbase = conmon
	pkgdesc = OCI container runtime monitor
	pkgver = 2.0.17
	pkgrel = 1
	epoch = 1
	url = https://github.com/containers/conmon
	arch = x86_64
	license = APACHE
	makedepends = git
	depends = glibc
	depends = glib2
	depends = systemd-libs
	source = git+https://github.com/containers/conmon#commit=41877362fc4685d55e0473d2e4a1cbe5e1debee0
	md5sums = SKIP

pkgname = conmon

