pkgbase = nvme-cli
	pkgdesc = NVM-Express user space tooling for Linux
	pkgver = 2.2
	pkgrel = 2
	url = https://github.com/linux-nvme/nvme-cli
	install = nvme-cli.install
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = systemd
	makedepends = meson
	makedepends = git
	makedepends = asciidoc
	makedepends = xmlto
	depends = util-linux
	depends = libsystemd
	options = debug
	options = strip
	source = nvme-cli-2.2.tar.gz::https://github.com/linux-nvme/nvme-cli/archive/v2.2.tar.gz
	sha256sums = d70c9a00e6c32687c0b1eaa626838bdc09ba5ee2d99e52abd789550061f6b596

pkgname = nvme-cli
