pkgbase = nvme-cli
	pkgdesc = NVM-Express user space tooling for Linux
	pkgver = 1.11.1
	pkgrel = 1
	url = https://github.com/linux-nvme/nvme-cli
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = libsystemd
	source = nvme-cli-1.11.1.tar.gz::https://github.com/linux-nvme/nvme-cli/archive/v1.11.1.tar.gz
	sha256sums = 7c8dddbba92cf82ff50416476fe60357ecb2048470dca33765c3f36bf89b48ac

pkgname = nvme-cli

