pkgbase = nvme-cli
	pkgdesc = NVM-Express user space tooling for Linux
	pkgver = 1.13
	pkgrel = 1
	url = https://github.com/linux-nvme/nvme-cli
	install = nvme-cli.install
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = libsystemd
	depends = util-linux
	source = nvme-cli-1.13.tar.gz::https://github.com/linux-nvme/nvme-cli/archive/v1.13.tar.gz
	sha256sums = 03f4875f3e68d326b0280e16df2f027ca6b086cfa148c34e8569df61319b4b85

pkgname = nvme-cli

