pkgbase = python-pandas
	pkgdesc = High-performance, easy-to-use data structures and data analysis tools for Python
	pkgver = 1.2.5
	pkgrel = 1
	url = https://pandas.pydata.org/
	arch = x86_64
	license = BSD
	makedepends = cython
	depends = python-numpy
	depends = python-dateutil
	depends = python-pytz
	depends = python-setuptools
	optdepends = python-pandas-datareader: pandas.io.data replacement (recommended)
	optdepends = python-numexpr: needed for accelerating certain numerical operations (recommended)
	optdepends = python-bottleneck: needed for accelerating certain types of nan evaluations (recommended)
	optdepends = python-beautifulsoup4: needed for read_html function
	optdepends = python-jinja: needed for conditional HTML formatting
	optdepends = python-pyqt5: needed for read_clipboard function (only one needed)
	optdepends = python-pytables: needed for HDF5-based storage
	optdepends = python-sqlalchemy: needed for SQL database support
	optdepends = python-scipy: needed for miscellaneous statistical functions
	optdepends = python-xlsxwriter: alternative Excel XLSX output
	optdepends = python-blosc: for msgpack compression using blosc
	optdepends = python-html5lib: needed for read_hmlt function (and/or python-lxml)
	optdepends = python-lxml: needed for read_html function (and/or python-html5lib)
	optdepends = python-matplotlib: needed for plotting
	optdepends = python-openpyxl: needed for Excel XLSX input/output
	optdepends = python-psycopg2: needed for PostgreSQL engine for sqlalchemy
	optdepends = python-pymysql: needed for MySQL engine for sqlalchemy
	optdepends = python-qtpy: needed for read_clipboard function (only one needed)
	optdepends = python-tabulate: needed for printing in Markdown-friendly format
	optdepends = python-fsspec: needed for handling files aside from local and HTTP
	optdepends = xclip: needed for read_clipboard function (only one needed)
	optdepends = python-xlrd: needed for Excel XLS input
	optdepends = python-xlwt: needed for Excel XLS output
	optdepends = xsel: needed for read_clipboard function (only one needed)
	optdepends = zlib: needed for compression for msgpack
	source = https://github.com/pandas-dev/pandas/releases/download/v1.2.5/pandas-1.2.5.tar.gz
	sha256sums = 14abb8ea73fce8aebbb1fb44bec809163f1c55241bcc1db91c2c780e97265033

pkgname = python-pandas
