pkgbase = libmd
	pkgdesc = Message Digest functions from BSD systems
	pkgver = 1.0.3
	pkgrel = 1
	url = https://www.hadrons.org/software/libmd/
	arch = x86_64
	license = BSD
	depends = glibc
	source = https://libbsd.freedesktop.org/releases/libmd-1.0.3.tar.xz
	source = https://libbsd.freedesktop.org/releases/libmd-1.0.3.tar.xz.asc
	validpgpkeys = 4F3E74F436050C10F5696574B972BF3EA4AE57A3
	sha256sums = 5a02097f95cc250a3f1001865e4dbba5f1d15554120f95693c0541923c52af4a
	sha256sums = SKIP

pkgname = libmd
