pkgbase = libmd
	pkgdesc = Message Digest functions from BSD systems
	pkgver = 1.0.2
	pkgrel = 1
	url = https://www.hadrons.org/software/libmd/
	arch = x86_64
	license = BSD
	depends = glibc
	source = https://libbsd.freedesktop.org/releases/libmd-1.0.2.tar.xz
	source = https://libbsd.freedesktop.org/releases/libmd-1.0.2.tar.xz.asc
	validpgpkeys = 4F3E74F436050C10F5696574B972BF3EA4AE57A3
	sha256sums = dc66b8278f82e7e1bf774fbd4bc83a0348e8f27afa185b2c2779cfcb3da25013
	sha256sums = SKIP

pkgname = libmd
