pkgbase = libmd
	pkgdesc = Message Digest functions from BSD systems
	pkgver = 1.0.4
	pkgrel = 1
	url = https://www.hadrons.org/software/libmd/
	arch = x86_64
	license = BSD
	depends = glibc
	source = https://libbsd.freedesktop.org/releases/libmd-1.0.4.tar.xz
	source = https://libbsd.freedesktop.org/releases/libmd-1.0.4.tar.xz.asc
	validpgpkeys = 4F3E74F436050C10F5696574B972BF3EA4AE57A3
	sha256sums = f51c921042e34beddeded4b75557656559cf5b1f2448033b4c1eec11c07e530f
	sha256sums = SKIP

pkgname = libmd
