pkgbase = python-psycopg2
	pkgdesc = A PostgreSQL database adapter for the Python programming language.
	pkgver = 2.7.7
	pkgrel = 1
	url = http://initd.org/psycopg/
	arch = x86_64
	license = LGPL3
	makedepends = python2
	makedepends = python2-setuptools
	makedepends = python
	makedepends = python-setuptools
	makedepends = postgresql-libs
	source = http://initd.org/psycopg/tarballs/PSYCOPG-2-7/psycopg2-2.7.7.tar.gz
	source = http://initd.org/psycopg/tarballs/PSYCOPG-2-7/psycopg2-2.7.7.tar.gz.asc
	validpgpkeys = 8AD609956CF1899418E19A856013BD3AFCF957DE
	sha256sums = f4526d078aedd5187d0508aa5f9a01eae6a48a470ed678406da94b4cd6524b7e
	sha256sums = SKIP

pkgname = python-psycopg2
	depends = python
	depends = postgresql-libs

pkgname = python2-psycopg2
	depends = python2
	depends = postgresql-libs

