pkgbase = python-psycopg2
	pkgdesc = A PostgreSQL database adapter for the Python programming language.
	pkgver = 2.9.5
	pkgrel = 1
	url = https://www.psycopg.org/
	arch = x86_64
	license = LGPL3
	makedepends = python-setuptools
	makedepends = postgresql-libs
	depends = python
	depends = postgresql-libs
	source = https://github.com/psycopg/psycopg2/archive/2_9_5.tar.gz
	b2sums = 4813a18fbf2dd36be5fbb893943efc861308368c56462e5755ea5a57c6ba7ce82af24acb83c6209f2eb3935c31d1faa9d6819f7e82ba870d12406a40c04e7da1

pkgname = python-psycopg2
