pkgbase = python-psycopg2
	pkgdesc = A PostgreSQL database adapter for the Python programming language.
	pkgver = 2.8.4
	pkgrel = 2
	url = http://initd.org/psycopg/
	arch = x86_64
	license = LGPL3
	makedepends = python-setuptools
	makedepends = postgresql-libs
	depends = python
	depends = postgresql-libs
	source = http://initd.org/psycopg/tarballs/PSYCOPG-2-8/psycopg2-2.8.4.tar.gz
	source = http://initd.org/psycopg/tarballs/PSYCOPG-2-8/psycopg2-2.8.4.tar.gz.asc
	validpgpkeys = 8AD609956CF1899418E19A856013BD3AFCF957DE
	sha512sums = d4590c6e4e310d280b6b341cb23427b56b04c1ef08e877f0d99a79c6b00b959307bb18defaf1d9cea58482fb974a78760c5f26a3ece8c1f34ae1840570a71a28
	sha512sums = SKIP

pkgname = python-psycopg2

