pkgbase = delve
	pkgdesc = A debugger for the Go programming language.
	pkgver = 1.20.1
	pkgrel = 1
	url = https://github.com/go-delve/delve
	arch = x86_64
	license = MIT
	makedepends = go
	makedepends = git
	optdepends = debuginfod: debuginfod support
	options = !lto
	options = strip
	source = delve-1.20.1.tar.gz::https://github.com/go-delve/delve/archive/v1.20.1.tar.gz
	sha256sums = a10aa97d3f6b6219877a73dd305d511442ad0caab740de76fc005796a480de93

pkgname = delve
