pkgbase = delve
	pkgdesc = A debugger for the Go programming language.
	pkgver = 1.7.2
	pkgrel = 1
	url = https://github.com/go-delve/delve
	arch = x86_64
	license = MIT
	makedepends = go
	makedepends = git
	source = delve-1.7.2.tar.gz::https://github.com/go-delve/delve/archive/v1.7.2.tar.gz
	sha256sums = c2eb068d5677e114286b38f57f784b3792dbd2db06743bb57217611a092b31f2

pkgname = delve
