pkgbase = python-send2trash
	pkgdesc = Send file to trash natively
	pkgver = 1.7.1
	pkgrel = 1
	url = https://github.com/hsoft/send2trash
	arch = any
	license = BSD
	makedepends = python
	makedepends = python-setuptools
	depends = python
	source = python-send2trash-1.7.1.tar.gz::https://github.com/hsoft/send2trash/archive/1.7.1.tar.gz
	sha256sums = 8f2287b6f0e822cabc1e65023f444960e121adee69603287f858afd349981c12

pkgname = python-send2trash
