pkgbase = python-send2trash
	pkgdesc = Send file to trash natively
	pkgver = 1.8.0
	pkgrel = 3
	url = https://github.com/hsoft/send2trash
	arch = any
	license = BSD
	makedepends = python
	makedepends = python-setuptools
	depends = python
	source = python-send2trash-1.8.0.tar.gz::https://github.com/hsoft/send2trash/archive/1.8.0.tar.gz
	sha256sums = 937b038abd9f1e7b8c5d7a116be5dc4663beb71df74dcccffe56cacf992c7a9c

pkgname = python-send2trash
