pkgbase = signing-party
	pkgdesc = Collection for all kinds of pgp related things, including signing scripts, party preparation scripts, etc.
	pkgver = 2.11
	pkgrel = 1
	url = https://salsa.debian.org/signing-party-team/signing-party
	arch = x86_64
	license = GPL
	depends = libmd
	depends = perl-class-methodmaker
	depends = perl-gnupg-interface
	depends = perl-mailtools
	depends = perl-mime-tools
	depends = perl-net-idn-encode
	depends = perl-term-readkey
	depends = perl-text-template
	depends = qprint
	optdepends = python: keyart support
	optdepends = imagemagick: photo uid support in gpgsigs
	optdepends = perl-gd: springgraph support
	optdepends = qrencode: QR code support in gpg-key2latex
	optdepends = texlive-latexextra: QR code support in gpg-key2latex
	optdepends = noto-fonts: fonts for pretty printouts
	optdepends = noto-fonts-cjk: fonts for pretty printouts
	source = https://salsa.debian.org/signing-party-team/signing-party/-/archive/v2.11/signing-party-v2.11.tar.bz2
	source = gpgwrap_makefile.patch
	sha256sums = 7413024a84546d7aa61175874e7158daa02dac085b64540d7283f9e0161b6a7c
	sha256sums = 1a5b7ec8dca7642b744270ab5011707f9f4b732cba8062c76b5195c40f13f5e0

pkgname = signing-party

