pkgbase = python-pipenv
	pkgdesc = Sacred Marriage of Pipfile, Pip, & Virtualenv.
	pkgver = 2021.11.23
	pkgrel = 3
	url = https://pipenv.pypa.io
	arch = any
	license = MIT
	makedepends = python-setuptools
	depends = python
	depends = python-pip
	depends = python-certifi
	depends = python-virtualenv-clone
	depends = python-virtualenv
	source = python-pipenv-2021.11.23.tar.gz::https://github.com/pypa/pipenv/archive/v2021.11.23.tar.gz
	sha512sums = 3873a3e7de33677b63bb133e397f46030ec28a24479b38009a4c409d93277327e8f53694fa56fdb8120f9cd632e849fde6f4205e29d9f5704c8844101e8e8298

pkgname = python-pipenv
