pkgbase = python-pipenv
	pkgdesc = Sacred Marriage of Pipfile, Pip, & Virtualenv.
	pkgver = 2023.2.18
	pkgrel = 1
	url = https://pipenv.pypa.io
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytz
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-pip
	depends = python-certifi
	depends = python-virtualenv-clone
	depends = python-virtualenv
	source = python-pipenv-2023.2.18.tar.gz::https://github.com/pypa/pipenv/archive/v2023.2.18.tar.gz
	b2sums = b4d0c22f824f94a59fbf99f7101c97cb8c3a2c7dc7bc451209875b58549faf54e047c60136c6c03bd04b774aadc7a3cab9bcf798ea2158e115838192f6e9afea

pkgname = python-pipenv
