pkgbase = python-pipenv
	pkgdesc = Sacred Marriage of Pipfile, Pip, & Virtualenv.
	pkgver = 2021.5.29
	pkgrel = 1
	url = https://pipenv.pypa.io
	arch = any
	license = MIT
	makedepends = python-setuptools
	depends = python
	depends = python-pip
	depends = python-certifi
	depends = python-virtualenv-clone
	depends = python-virtualenv
	source = python-pipenv-2021.5.29.tar.gz::https://github.com/pypa/pipenv/archive/v2021.5.29.tar.gz
	sha512sums = 4fa018c13d4babe856bf5671cf5d18a95f4af4b6d4fc64c4919825fe04004ed3d8979ca335b851c6e24dad081475f6fb5b925eeff58c6fb5cffc450b967ed1cd

pkgname = python-pipenv
