pkgbase = python-prompt_toolkit
	pkgdesc = Library for building powerful interactive command lines in Python
	pkgver = 3.0.17
	pkgrel = 1
	url = https://github.com/jonathanslenders/python-prompt-toolkit
	arch = any
	license = BSD
	checkdepends = python-pytest
	makedepends = python-setuptools
	depends = python-pygments
	depends = python-wcwidth
	options = !emptydirs
	source = https://files.pythonhosted.org/packages/source/p/prompt_toolkit/prompt_toolkit-3.0.17.tar.gz
	sha256sums = 9397a7162cf45449147ad6042fa37983a081b8a73363a5253dd4072666333137

pkgname = python-prompt_toolkit

