pkgbase = python-prompt_toolkit
	pkgdesc = Library for building powerful interactive command lines in Python
	pkgver = 3.0.9
	pkgrel = 1
	url = https://github.com/jonathanslenders/python-prompt-toolkit
	arch = any
	license = BSD
	checkdepends = python-pytest
	makedepends = python-setuptools
	depends = python-pygments
	depends = python-wcwidth
	options = !emptydirs
	source = https://files.pythonhosted.org/packages/source/p/prompt_toolkit/prompt_toolkit-3.0.9.tar.gz
	sha256sums = c5eeab58dd31b541442825d7870777f2a2f764eb5fda03334d5219cd84b9722f

pkgname = python-prompt_toolkit
