pkgbase = sqlite-replication
	pkgdesc = Replication Enabled SQL Database Engine in a C Library
	pkgver = 3.31.1.4
	pkgrel = 1
	url = https://github.com/canonical/sqlite
	arch = x86_64
	license = custom:Public Domain
	makedepends = tcl
	depends = readline
	depends = zlib
	source = https://github.com/canonical/sqlite/archive/version-3.31.1+replication4.tar.gz
	source = license.txt
	sha256sums = cf3ccaebc2e5e3e498486782368b1d1d2aef92371c092a26a042a72c5576a4cf
	sha256sums = 4e57d9ac979f1c9872e69799c2597eeef4c6ce7224f3ede0bf9dc8d217b1e65d

pkgname = sqlite-replication

