pkgbase = slirp4netns
	pkgdesc = User-mode networking for unprivileged network namespaces
	pkgver = 1.1.11
	pkgrel = 1
	url = https://github.com/rootless-containers/slirp4netns
	arch = x86_64
	license = GPL2
	makedepends = git
	depends = glibc
	depends = glib2
	depends = libcap
	depends = libseccomp
	depends = libslirp
	source = git+https://github.com/rootless-containers/slirp4netns#commit=368e69ccc074628d17a9bb9a35b8f4b9f74db4c6
	sha256sums = SKIP

pkgname = slirp4netns
