pkgbase = slirp4netns
	pkgdesc = User-mode networking for unprivileged network namespaces
	pkgver = 1.1.6
	pkgrel = 1
	url = https://github.com/rootless-containers/slirp4netns
	arch = x86_64
	license = GPL2
	makedepends = git
	depends = glibc
	depends = glib2
	depends = libcap
	depends = libseccomp
	depends = libslirp
	source = git+https://github.com/rootless-containers/slirp4netns#commit=a995c1642ee9a59607dccf87758de586b501a800
	sha256sums = SKIP

pkgname = slirp4netns

