pkgbase = slirp4netns
	pkgdesc = User-mode networking for unprivileged network namespaces
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/rootless-containers/slirp4netns
	arch = x86_64
	license = GPL2
	makedepends = git
	depends = glibc
	depends = glib2
	depends = libcap
	depends = libseccomp
	depends = libslirp
	source = git+https://github.com/rootless-containers/slirp4netns#commit=a3be729152a33e692cd28b52f664defbf2e7810a
	sha256sums = SKIP

pkgname = slirp4netns

