pkgbase = python-pyserial
	pkgdesc = Multiplatform Serial Port Module for Python
	pkgver = 3.4
	pkgrel = 5
	url = https://github.com/pyserial/pyserial
	arch = any
	license = custom:PYTHON
	makedepends = python2
	makedepends = python
	source = python-pyserial-3.4.tar.gz::https://github.com/pyserial/pyserial/archive/v3.4.tar.gz
	sha256sums = ca25c777d06ad0b4b129910642aaa75f724157c80e2898a8e3219adc5599a2a1

pkgname = python-pyserial
	depends = python

pkgname = python2-pyserial
	depends = python2

