pkgbase = step-cli
	pkgdesc = A zero trust swiss army knife for working with X509, OAuth, JWT, OATH OTP, etc.
	pkgver = 0.21.0
	pkgrel = 1
	url = https://github.com/smallstep/cli
	arch = x86_64
	license = Apache
	makedepends = go
	depends = glibc
	optdepends = step-ca: setup CA/SSO/ACME server
	source = https://github.com/smallstep/cli/releases/download/v0.21.0/step_0.21.0.tar.gz
	sha512sums = f10e67bccc7e3f5bb491367d564bba3c0a143aae4405b0d8b4cd668a680f3f1bee5ee7dfb0d54fcb87f3578ebc5702a5639b725727e543431bfd7660b19978ed

pkgname = step-cli
