pkgbase = step-cli
	pkgdesc = A zero trust swiss army knife for working with X509, OAuth, JWT, OATH OTP, etc.
	pkgver = 0.15.13
	pkgrel = 1
	url = https://github.com/smallstep/cli
	arch = x86_64
	license = Apache
	makedepends = go
	depends = glibc
	optdepends = step-ca: setup CA/SSO/ACME server
	source = https://github.com/smallstep/cli/releases/download/v0.15.13/step_0.15.13.tar.gz
	sha512sums = 3bd619596bd6ae2c1551a52d97a00898852bde016a20e8e12061afb055d4f5f6068914e2e383925cad7510b0effdaf851acab92f91e0cde8ff8ac4f6326337b3

pkgname = step-cli

