pkgbase = python-pykka
	pkgdesc = Easy to use concurrency abstractions for Python using the actor model
	pkgver = 3.1.1
	pkgrel = 1
	url = http://pykka.readthedocs.org/
	arch = any
	license = Apache
	makedepends = python-setuptools
	depends = python
	optdepends = python-gevent: Use gevent based actors from pykka.gevent
	source = https://pypi.python.org/packages/source/p/pykka/pykka-3.1.1.tar.gz
	sha512sums = 7ca7885664598ba31dd7180f2a365d2fbb225a6dac26d09911b6bf0cafc55ea87d7e6212c4fff297bf4ca8d5b14134c656ea929e0869978bcd661309e2442908

pkgname = python-pykka
