pkgbase = python-pykka
	pkgdesc = Easy to use concurrency abstractions for Python using the actor model
	pkgver = 3.0.1
	pkgrel = 1
	url = http://pykka.readthedocs.org/
	arch = any
	license = Apache
	makedepends = python-setuptools
	depends = python
	optdepends = python-gevent: Use gevent based actors from pykka.gevent
	source = https://pypi.python.org/packages/source/p/pykka/pykka-3.0.1.tar.gz
	sha512sums = 384866f8257040f67cc65de23773bfdbedecd88961570fb579c96d8f8348546f3b7eb1e64420f68ad4623448a45556a9c1dc5f255405b8da4ed61601257540fb

pkgname = python-pykka

