pkgbase = python-pykka
	pkgdesc = Easy to use concurrency abstractions for Python using the actor model
	pkgver = 3.0.2
	pkgrel = 3
	url = http://pykka.readthedocs.org/
	arch = any
	license = Apache
	makedepends = python-setuptools
	depends = python
	optdepends = python-gevent: Use gevent based actors from pykka.gevent
	source = https://pypi.python.org/packages/source/p/pykka/pykka-3.0.2.tar.gz
	sha512sums = 2c84483d12bbcfba70bc306dae8c3d7390721b464a257cfd7daf5a3467c71404fa41f8f44aaf418c2b87b1534d2b2912e8124ac92b8cda1fdf6ef44d77c21535

pkgname = python-pykka
