pkgbase = cilium-cli
	pkgdesc = install, manage & troubleshoot Kubernetes clusters running Cilium
	pkgver = 0.14.0
	pkgrel = 1
	url = https://github.com/cilium/cilium-cli
	arch = x86_64
	license = APACHE
	makedepends = go
	depends = glibc
	source = cilium-cli-0.14.0.tar.gz::https://github.com/cilium/cilium-cli/archive/v0.14.0.tar.gz
	sha256sums = c836276c5d496017b6a64cb28735bf62e49b88fde096334ccc8b617f58fd0d52

pkgname = cilium-cli
