pkgbase = cilium-cli
	pkgdesc = install, manage & troubleshoot Kubernetes clusters running Cilium
	pkgver = 0.14.3
	pkgrel = 1
	url = https://github.com/cilium/cilium-cli
	arch = x86_64
	license = APACHE
	makedepends = go
	depends = glibc
	source = cilium-cli-0.14.3.tar.gz::https://github.com/cilium/cilium-cli/archive/v0.14.3.tar.gz
	sha256sums = e940a30340249ab3934ac695a0e322b33d59468405ddb6ec1c75a78062ccef58

pkgname = cilium-cli
