pkgbase = lxcfs
	pkgdesc = FUSE filesystem for LXC
	pkgver = 4.0.8
	pkgrel = 1
	url = https://linuxcontainers.org/
	arch = x86_64
	license = GPL
	makedepends = help2man
	depends = lxc
	depends = libnih
	depends = fuse3
	depends = dbus-glib
	options = emptydirs
	source = https://linuxcontainers.org/downloads/lxcfs/lxcfs-4.0.8.tar.gz
	source = https://linuxcontainers.org/downloads/lxcfs/lxcfs-4.0.8.tar.gz.asc
	source = lxcfs.service
	validpgpkeys = 602F567663E593BCBD14F338C638974D64792D67
	sha256sums = 3fe5f4be1877f7d47c6aa341bd8f4bd10f0d0c1bc5ba052fb9c49b2713db3e6f
	sha256sums = SKIP
	sha256sums = 3549e83ebbd6ec5934be0c3137b0dbb1101cec098bc49d135fea29f733b9e2a1

pkgname = lxcfs

