pkgbase = lxcfs
	pkgdesc = FUSE filesystem for LXC
	pkgver = 4.0.12
	pkgrel = 1
	url = https://linuxcontainers.org/
	arch = x86_64
	license = GPL
	makedepends = help2man
	depends = lxc
	depends = libnih
	depends = fuse3
	depends = dbus-glib
	options = emptydirs
	options = debug
	source = https://linuxcontainers.org/downloads/lxcfs/lxcfs-4.0.12.tar.gz
	source = https://linuxcontainers.org/downloads/lxcfs/lxcfs-4.0.12.tar.gz.asc
	source = lxcfs.service
	validpgpkeys = 602F567663E593BCBD14F338C638974D64792D67
	sha256sums = f502b7c99b5013e58f7d5c4117778c0bffe98532a42e023308eb72a287f0c969
	sha256sums = SKIP
	sha256sums = 3549e83ebbd6ec5934be0c3137b0dbb1101cec098bc49d135fea29f733b9e2a1

pkgname = lxcfs
