pkgbase = lxcfs
	pkgdesc = FUSE filesystem for LXC
	pkgver = 4.0.9
	pkgrel = 1
	url = https://linuxcontainers.org/
	arch = x86_64
	license = GPL
	makedepends = help2man
	depends = lxc
	depends = libnih
	depends = fuse3
	depends = dbus-glib
	options = emptydirs
	source = https://linuxcontainers.org/downloads/lxcfs/lxcfs-4.0.9.tar.gz
	source = https://linuxcontainers.org/downloads/lxcfs/lxcfs-4.0.9.tar.gz.asc
	source = lxcfs.service
	validpgpkeys = 602F567663E593BCBD14F338C638974D64792D67
	sha256sums = 0510c9f64d1b0f9cd5612596fb78c7a5d930557ea6269652c4f7f885d89c68a1
	sha256sums = SKIP
	sha256sums = 3549e83ebbd6ec5934be0c3137b0dbb1101cec098bc49d135fea29f733b9e2a1

pkgname = lxcfs
