pkgbase = todoman
	pkgdesc = A simple, standards-based, cli todo (aka: task) manager
	pkgver = 4.0.0
	pkgrel = 2
	url = https://github.com/pimutils/todoman
	arch = any
	license = ISC
	checkdepends = python-freezegun
	checkdepends = python-hypothesis
	checkdepends = python-pytest
	checkdepends = python-pytest-runner
	makedepends = python-sphinx-autorun
	makedepends = python-sphinx-click
	makedepends = python-setuptools-scm
	depends = python-atomicwrites
	depends = python-click
	depends = python-click-log
	depends = python-configobj
	depends = python-dateutil
	depends = python-humanize
	depends = python-icalendar
	depends = python-parsedatetime
	depends = python-pyxdg
	depends = python-tabulate
	depends = python-urwid
	optdepends = bash-completion: auto-complete in bash
	optdepends = python-click-repl: REPL command
	optdepends = zsh-completions: auto-complete in zsh
	source = https://files.pythonhosted.org/packages/source/t/todoman/todoman-4.0.0.tar.gz
	sha512sums = 53838682ef4145c4fea57bd7b63ff3322002df032719ab5f397408ac2a4ea72ab172148505fc86393177a3ac4801d0ae986736e98ccb9047313c7e32698529fd
	b2sums = 752bbca2774c7ad6c089a68916a34ca718a644344365748b6ade6c031c4938873793270b6ed633d1477b14030c6ea739083ddaa60207127e3b7118d69ef9a16b

pkgname = todoman
