pkgbase = todoman
	pkgdesc = A simple, standards-based, cli todo (aka: task) manager
	pkgver = 4.1.0
	pkgrel = 1
	url = https://github.com/pimutils/todoman
	arch = any
	license = ISC
	checkdepends = python-freezegun
	checkdepends = python-hypothesis
	checkdepends = python-pytest
	checkdepends = python-pytest-runner
	makedepends = python-sphinx-autorun
	makedepends = python-sphinx-click
	makedepends = python-sphinx_rtd_theme
	makedepends = python-setuptools-scm
	depends = python-atomicwrites
	depends = python-click
	depends = python-click-log
	depends = python-dateutil
	depends = python-humanize
	depends = python-icalendar
	depends = python-parsedatetime
	depends = python-pyxdg
	depends = python-urwid
	optdepends = bash-completion: auto-complete in bash
	optdepends = python-click-repl: REPL command
	optdepends = zsh-completions: auto-complete in zsh
	source = https://files.pythonhosted.org/packages/source/t/todoman/todoman-4.1.0.tar.gz
	sha512sums = 3e4789470794baf692a3d3d51952fafc35a18de40f4ddbf705b960208e8c4f406c3ea8adbd910d1bb603ef594346d57b18d698651c159e53068ca35ace23353b
	b2sums = dc98a8ac33181b3f5076509d39067b53edd3b7e9e41f8b47bd3e9a04b8d978115c31d37d54ea97cc5008871ae849970b33631cdcc9b2bf12106bf03c9dd2f23c

pkgname = todoman
