pkgbase = todoman
	pkgdesc = A simple, standards-based, cli todo (aka: task) manager
	pkgver = 4.0.1
	pkgrel = 1
	url = https://github.com/pimutils/todoman
	arch = any
	license = ISC
	checkdepends = python-freezegun
	checkdepends = python-hypothesis
	checkdepends = python-pytest
	checkdepends = python-pytest-runner
	makedepends = python-sphinx-autorun
	makedepends = python-sphinx-click
	makedepends = python-sphinx_rtd_theme
	makedepends = python-setuptools-scm
	depends = python-atomicwrites
	depends = python-click
	depends = python-click-log
	depends = python-configobj
	depends = python-dateutil
	depends = python-humanize
	depends = python-icalendar
	depends = python-parsedatetime
	depends = python-pyxdg
	depends = python-tabulate
	depends = python-urwid
	optdepends = bash-completion: auto-complete in bash
	optdepends = python-click-repl: REPL command
	optdepends = zsh-completions: auto-complete in zsh
	source = https://files.pythonhosted.org/packages/source/t/todoman/todoman-4.0.1.tar.gz
	sha512sums = 606be4553330741bb664c2261ba33f9feb68023c38c4e5278febadae3c9267d5bcc0b63966a41ac3d2ec38f44c16f9368ec502d2ce1a782a9108ca4a38d9e04c
	b2sums = 029c09e5d29d9f3f9ffa6419f9506b9227bab1659dfec0287989ba6c2ce4043111cb82def2934f1d07fa51473725c7a8dfae6d87671ea1aaebba4e9099edcce8

pkgname = todoman
