pkgbase = python-google-api-core
	pkgdesc = Google API client core library
	pkgver = 2.3.2
	pkgrel = 2
	url = https://github.com/googleapis/googleapis
	arch = any
	license = Apache
	depends = python-setuptools
	depends = python-pytz
	depends = python-requests
	depends = python-googleapis-common-protos
	depends = python-google-auth
	optdepends = python-grpcio: for grpc support
	source = https://files.pythonhosted.org/packages/source/g/google-api-core/google-api-core-2.3.2.tar.gz
	sha256sums = c8889f45cf58deca522888ae1d39b2a25e93e7d1b019ae8cee6456d5c726a40c

pkgname = python-google-api-core
