pkgbase = python-google-api-core
	pkgdesc = Google API client core library
	pkgver = 1.28.0
	pkgrel = 1
	url = https://github.com/googleapis/googleapis
	arch = any
	license = Apache
	depends = python-setuptools
	depends = python-pytz
	depends = python-requests
	depends = python-googleapis-common-protos
	depends = python-google-auth
	optdepends = python-grpcio: for grpc support
	source = https://files.pythonhosted.org/packages/source/g/google-api-core/google-api-core-1.28.0.tar.gz
	sha256sums = 02646803bd728e12dd1f45ee1dcc31c12614c9a1ac451b9a1ce26aa65df9b957

pkgname = python-google-api-core

