pkgbase = python-hid
	pkgdesc = Python hidapi bindings in ctypes (aka pyhidapi)
	pkgver = 1.0.4
	pkgrel = 4
	url = https://github.com/apmorton/pyhidapi
	arch = any
	license = MIT
	makedepends = python-setuptools
	makedepends = python2-setuptools
	depends = hidapi
	depends = python
	source = python-hid-1.0.4.tar.gz::https://files.pythonhosted.org/packages/source/h/hid/hid-1.0.4.tar.gz
	sha256sums = f61b0382f37a334bc8ba8604bc84b94875ee4f594fbbaf82b2c3b3e827883fc1

pkgname = python-hid
