pkgbase = rofi
	pkgdesc = A window switcher, application launcher and dmenu replacement
	pkgver = 1.5.2
	pkgrel = 1
	url = https://github.com/DaveDavenport/rofi/
	arch = x86_64
	license = MIT
	makedepends = check
	depends = libxdg-basedir
	depends = startup-notification
	depends = libxkbcommon-x11
	depends = xcb-util-wm
	depends = xcb-util-xrm
	depends = librsvg
	optdepends = i3-wm: use as a window switcher
	source = https://github.com/DaveDavenport/rofi//releases/download/1.5.2/rofi-1.5.2.tar.xz
	sha256sums = f2b289d693d469ed8d61fbc7b1911d0024c100ce32752e636e116f243350ca9d

pkgname = rofi

