pkgbase = rofi
	pkgdesc = A window switcher, application launcher and dmenu replacement
	pkgver = 1.7.1
	pkgrel = 1
	url = https://github.com/DaveDavenport/rofi
	arch = x86_64
	license = MIT
	makedepends = check
	depends = libxdg-basedir
	depends = startup-notification
	depends = libxkbcommon-x11
	depends = xcb-util-wm
	depends = xcb-util-xrm
	depends = librsvg
	depends = xcb-util-cursor
	optdepends = i3-wm: use as a window switcher
	source = https://github.com/DaveDavenport/rofi/releases/download/1.7.1/rofi-1.7.1.tar.xz
	sha256sums = f36fded8baa03e23585c07d4693a65127c39484784affa6b22265c26b2748016

pkgname = rofi
