pkgbase = python-hidapi
	pkgdesc = A Cython interface to the hidapi from signal11/hidapi
	pkgver = 0.10.1
	pkgrel = 1
	url = https://github.com/trezor/cython-hidapi
	arch = x86_64
	license = custom
	makedepends = cython
	makedepends = python-setuptools
	makedepends = udev
	depends = python
	depends = hidapi
	source = https://pypi.org/packages/source/h/hidapi/hidapi-0.10.1.tar.gz
	sha512sums = 681e3691a4b05b13abc38d305c68e448728612442d0ef12ce54d12eeebee6e18d33566c462a276d18ce5e29fad208e6fcde49bbe4b162eae5cd72ce37dea880b

pkgname = python-hidapi

