pkgbase = python-hidapi
	pkgdesc = A Cython interface to the hidapi from signal11/hidapi
	pkgver = 0.11.2
	pkgrel = 3
	url = https://github.com/trezor/cython-hidapi
	arch = x86_64
	license = custom
	makedepends = cython
	makedepends = python-setuptools
	makedepends = udev
	depends = python
	depends = hidapi
	source = https://pypi.org/packages/source/h/hidapi/hidapi-0.11.2.tar.gz
	sha512sums = f1bf1bc9174a4069b10ba33c18b8b5c02bd046ca2bdb1fc90377bad2c53fa1457e15cea1e8c70cb7f06f7a0b54cc9d9841b122024640404d21d1b3b1e091a9f4

pkgname = python-hidapi
