pkgbase = dunst
	pkgdesc = Customizable and lightweight notification-daemon
	pkgver = 1.9.2
	pkgrel = 1
	url = https://dunst-project.org/
	arch = x86_64
	license = BSD
	makedepends = libnotify
	depends = libxinerama
	depends = dbus
	depends = systemd
	depends = wayland
	depends = libxss
	depends = pango
	depends = gdk-pixbuf2
	depends = libxrandr
	depends = glib2
	optdepends = libnotify: dunstify
	provides = notification-daemon
	backup = etc/dunst/dunstrc
	source = dunst-1.9.2.tar.gz::https://github.com/dunst-project/dunst/archive/v1.9.2.tar.gz
	sha256sums = fa6ce45c0af4bae188b0d679a5ba92f8f9b7e4301bb1bb476e82df26bce9e71a

pkgname = dunst
