pkgbase = dunst
	pkgdesc = Customizable and lightweight notification-daemon
	pkgver = 1.9.1
	pkgrel = 1
	url = https://dunst-project.org/
	arch = x86_64
	license = BSD
	makedepends = libnotify
	depends = libxinerama
	depends = dbus
	depends = systemd
	depends = wayland
	depends = libxss
	depends = pango
	depends = gdk-pixbuf2
	depends = libxrandr
	depends = glib2
	optdepends = libnotify: dunstify
	provides = notification-daemon
	backup = etc/dunst/dunstrc
	source = dunst-1.9.1.tar.gz::https://github.com/dunst-project/dunst/archive/v1.9.1.tar.gz
	sha256sums = 571d82d5feef995e69a35e708a400a0cfa12a0f81854c5a3357e17844bf6249a

pkgname = dunst
