pkgbase = v2ray
	pkgdesc = A platform for building proxies to bypass network restrictions
	pkgver = 4.36.2
	pkgrel = 1
	url = https://github.com/v2fly/v2ray-core
	arch = x86_64
	license = MIT
	makedepends = go
	makedepends = git
	depends = glibc
	depends = v2ray-domain-list-community
	depends = v2ray-geoip
	backup = etc/v2ray/config.json
	source = v2ray-4.36.2.tar.gz::https://github.com/v2fly/v2ray-core/archive/v4.36.2.tar.gz
	sha512sums = 15731d91c1f3f9f893d128a271114278df5f487a9ebf716a7a96b733ce19211ba02a767f2dc147f4dc506aa01a438e32abdfdb3ad2e083049102e707e718e867

pkgname = v2ray

