pkgbase = v2ray
	pkgdesc = A platform for building proxies to bypass network restrictions
	pkgver = 4.36.0
	pkgrel = 1
	url = https://github.com/v2fly/v2ray-core
	arch = x86_64
	license = MIT
	makedepends = go
	makedepends = git
	depends = glibc
	depends = v2ray-domain-list-community
	depends = v2ray-geoip
	backup = etc/v2ray/config.json
	source = v2ray-4.36.0.tar.gz::https://github.com/v2fly/v2ray-core/archive/v4.36.0.tar.gz
	sha512sums = 38939d5587a1882c391cb4a5e3793c31fae8bcfb771a20744ac741e43125ac2feec588f0e8f08b1818b85c5377a19485f50f3f0c77044c9c9895e40a3b54c210

pkgname = v2ray

