pkgbase = dqlite
	pkgdesc = Distributed SQLite
	pkgver = 1.7.0
	pkgrel = 1
	url = https://github.com/CanonicalLtd/dqlite
	arch = x86_64
	license = LGPL3
	makedepends = tcl
	makedepends = readline
	makedepends = zlib
	depends = libuv
	depends = raft
	depends = sqlite
	source = dqlite-1.7.0.tar.gz::https://github.com/canonical/dqlite/archive/v1.7.0.tar.gz
	sha256sums = d974fde030f3b9c84ea82773c22548029bb33005651ca924cb5f066348c283a5

pkgname = dqlite

