pkgbase = dqlite
	pkgdesc = Distributed SQLite
	pkgver = 1.4.1
	pkgrel = 1
	url = https://github.com/CanonicalLtd/dqlite
	arch = x86_64
	license = LGPL3
	makedepends = tcl
	makedepends = readline
	makedepends = zlib
	depends = libuv
	depends = raft
	depends = libco
	depends = sqlite-replication
	source = dqlite-1.4.1.tar.gz::https://github.com/canonical/dqlite/archive/v1.4.1.tar.gz
	sha256sums = 5b966a17700d3ce8714adf666c7f881e947a840189d37e7970fe9132b34e2940

pkgname = dqlite

