pkgbase = buildah
	pkgdesc = A tool which facilitates building OCI images
	pkgver = 1.24.1
	pkgrel = 1
	url = https://github.com/containers/buildah
	arch = x86_64
	license = Apache
	makedepends = go
	makedepends = git
	makedepends = bash-bats
	makedepends = btrfs-progs
	makedepends = device-mapper
	makedepends = gpgme
	makedepends = libassuan
	makedepends = bzip2
	makedepends = go-md2man
	makedepends = runc
	makedepends = skopeo
	makedepends = systemd
	depends = crun
	depends = skopeo
	depends = slirp4netns
	options = !lto
	source = git+https://github.com/containers/buildah.git#commit=28f7884b7b8082546f1bde014f7e437af9c9c870
	md5sums = SKIP

pkgname = buildah
