pkgbase = buildah
	pkgdesc = A tool which facilitates building OCI images
	pkgver = 1.30.0
	pkgrel = 1
	url = https://github.com/containers/buildah
	arch = x86_64
	license = Apache
	makedepends = go
	makedepends = git
	makedepends = bash-bats
	makedepends = btrfs-progs
	makedepends = device-mapper
	makedepends = gpgme
	makedepends = libassuan
	makedepends = bzip2
	makedepends = go-md2man
	makedepends = runc
	makedepends = skopeo
	makedepends = systemd
	depends = crun
	depends = skopeo
	depends = slirp4netns
	options = !lto
	options = !debug
	source = git+https://github.com/containers/buildah.git#commit=04965f1198104afafd22197a479bd15c9b43148e
	md5sums = SKIP

pkgname = buildah
