pkgbase = buildah
	pkgdesc = A tool which facilitates building OCI images
	pkgver = 1.24.2
	pkgrel = 1
	url = https://github.com/containers/buildah
	arch = x86_64
	license = Apache
	makedepends = go
	makedepends = git
	makedepends = bash-bats
	makedepends = btrfs-progs
	makedepends = device-mapper
	makedepends = gpgme
	makedepends = libassuan
	makedepends = bzip2
	makedepends = go-md2man
	makedepends = runc
	makedepends = skopeo
	makedepends = systemd
	depends = crun
	depends = skopeo
	depends = slirp4netns
	options = !lto
	source = git+https://github.com/containers/buildah.git#commit=ce608bcecdeb077daab846c83b026c508cff9688
	md5sums = SKIP

pkgname = buildah
