pkgbase = python-autobahn
	pkgdesc = Real-time framework for Web, Mobile & Internet of Things
	pkgver = 18.11.1
	pkgrel = 1
	url = http://autobahn.ws/python/
	arch = any
	license = MIT
	checkdepends = python2-unittest2
	makedepends = python-setuptools
	makedepends = python2-setuptools
	makedepends = python-twisted
	makedepends = python-six
	makedepends = python-txaio
	makedepends = python2-twisted
	makedepends = python2-six
	makedepends = python2-txaio
	source = https://pypi.io/packages/source/a/autobahn/autobahn-18.11.1.tar.gz
	sha256sums = c7e775e46fc033160fa89942de4953ca739f26167f74431dc2c8a3cd165b8755

pkgname = python-autobahn
	depends = python
	depends = python-twisted
	depends = python-six
	depends = python-txaio

pkgname = python2-autobahn
	depends = python2
	depends = python2-twisted
	depends = python2-six
	depends = python2-txaio

