pkgbase = python-autobahn
	pkgdesc = Real-time framework for Web, Mobile & Internet of Things
	pkgver = 20.6.2
	pkgrel = 2
	url = https://crossbar.io/autobahn/
	arch = x86_64
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytest-asyncio
	makedepends = python-argon2_cffi
	makedepends = python-cbor
	makedepends = python-flatbuffers
	makedepends = python-msgpack
	makedepends = python-passlib
	makedepends = python-pynacl
	makedepends = python-pytrie
	makedepends = python-ubjson
	depends = python-cffi
	depends = python-twisted
	depends = python-txaio
	depends = python-wsaccel
	depends = python-setuptools
	depends = python-cryptography
	optdepends = python-cbor: CBOR serializer support
	optdepends = python-flatbuffers: FlatBuffers serializer support
	optdepends = python-msgpack: MsgPack serializer support
	optdepends = python-u-msgpack: pure-python alternative to python-msgpack for MsgPack serializer support
	optdepends = python-ubjson: UBJSON serializer support
	optdepends = python-ujson: accelerated JSON serializer support
	optdepends = python-argon2_cffi: WAMP-SCRAM authentication support
	optdepends = python-passlib: WAMP-SCRAM authentication support
	optdepends = python-pynacl: WAMP-cryptosign and WAMP-cryptobox support
	optdepends = python-pytrie: WAMP-cryptobox support
	optdepends = python-pyopenssl: SSL/TLS support
	optdepends = python-snappy: snappy compression suppport for WebSocket messages
	source = https://files.pythonhosted.org/packages/source/a/autobahn/autobahn-20.6.2.tar.gz
	sha256sums = 6ac6b6653b8d20d632b034adccf6a566154d4efbeaa23abf7c3995fd601e9a01

pkgname = python-autobahn

