pkgbase = python-autobahn
	pkgdesc = Real-time framework for Web, Mobile & Internet of Things
	pkgver = 21.11.1
	pkgrel = 2
	url = https://crossbar.io/autobahn/
	arch = x86_64
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytest-asyncio
	makedepends = python-argon2_cffi
	makedepends = python-cbor
	makedepends = python-flatbuffers
	makedepends = python-msgpack
	makedepends = python-passlib
	makedepends = python-pynacl
	makedepends = python-pytrie
	makedepends = python-setuptools
	makedepends = python-ubjson
	depends = python-cffi
	depends = python-twisted
	depends = python-txaio
	depends = python-wsaccel
	depends = python-cryptography
	optdepends = python-cbor: CBOR serializer support
	optdepends = python-flatbuffers: FlatBuffers serializer support
	optdepends = python-msgpack: MsgPack serializer support
	optdepends = python-u-msgpack: pure-python alternative to python-msgpack for MsgPack serializer support
	optdepends = python-ubjson: UBJSON serializer support
	optdepends = python-ujson: accelerated JSON serializer support
	optdepends = python-argon2_cffi: WAMP-SCRAM authentication support
	optdepends = python-passlib: WAMP-SCRAM authentication support
	optdepends = python-pynacl: WAMP-cryptosign and WAMP-cryptobox support
	optdepends = python-pytrie: WAMP-cryptobox support
	optdepends = python-pyopenssl: SSL/TLS support
	optdepends = python-snappy: snappy compression suppport for WebSocket messages
	source = https://files.pythonhosted.org/packages/source/a/autobahn/autobahn-21.11.1.tar.gz
	source = judge-sse-header.patch
	sha256sums = bd6f46315419ca0a5be4109f737410208ad5f19718f67ca6a4a674cc66ca9b18
	sha256sums = a6505b22363d7b1bbd6c9b4d503118e16129abf91e65885b7ee7f47f74ed9d00

pkgname = python-autobahn
