pkgbase = python-babel
	pkgdesc = A collection of tools for internationalizing Python applications
	pkgver = 2.8.0
	pkgrel = 3
	url = http://babel.pocoo.org/
	arch = any
	license = BSD
	checkdepends = python-pytest
	checkdepends = python-pytest-runner
	checkdepends = python-freezegun
	checkdepends = python-pytest-runner
	checkdepends = python2-pytest-runner
	checkdepends = python2-freezegun
	makedepends = python
	makedepends = python2
	makedepends = python-setuptools
	makedepends = python2-setuptools
	makedepends = python-pytz
	makedepends = python2-pytz
	noextract = cldr-core-35.1.zip
	source = python-babel-2.8.0.tar.gz::https://github.com/python-babel/babel/archive/v2.8.0.tar.gz
	source = cldr-core-35.1.zip::http://unicode.org/Public/cldr/35.1/core.zip
	sha256sums = 2d4d29e73e85afd10ff260579303b5479b332eadc393663089dceb14ff6f8b9c
	sha256sums = e2ede8cb8f9c29157e281ee9e696ce540a72c598841bed595a406b710eea87b0

pkgname = python-babel
	depends = python
	depends = python-pytz

pkgname = python2-babel
	depends = python2
	depends = python2-pytz

