pkgbase = python-babel
	pkgdesc = A collection of tools for internationalizing Python applications
	pkgver = 2.10.1
	pkgrel = 1
	url = http://babel.pocoo.org/
	arch = any
	license = BSD
	checkdepends = python-pytest
	checkdepends = python-pytest-runner
	checkdepends = python-freezegun
	makedepends = python-setuptools
	depends = python
	depends = python-pytz
	noextract = cldr-core-41.zip
	source = python-babel-2.10.1.tar.gz::https://github.com/python-babel/babel/archive/v2.10.1.tar.gz
	source = cldr-core-41.zip::http://unicode.org/Public/cldr/41/core.zip
	sha256sums = 7a61207b1d269a09462313ef3065d7bc1b54c9a14ae00f5006e169639674b230
	sha256sums = 823c6170c41e2de2c229574e8a436332d25f1c9723409867fe721e00bc92d853

pkgname = python-babel
