pkgbase = mypy
	pkgdesc = Optional static typing for Python 2 and 3 (PEP484)
	pkgver = 0.800
	pkgrel = 1
	url = http://www.mypy-lang.org/
	arch = any
	license = MIT
	makedepends = git
	depends = python-setuptools
	depends = python-psutil
	depends = python-typed-ast
	depends = python-mypy_extensions
	depends = python-typing_extensions
	source = mypy-0.800.tar.gz::https://pypi.org/packages/source/m/mypy/mypy-0.800.tar.gz
	sha256sums = e0202e37756ed09daf4b0ba64ad2c245d357659e014c3f51d8cd0681ba66940a

pkgname = mypy
