pkgbase = mypy
	pkgdesc = Optional static typing for Python 2 and 3 (PEP484)
	pkgver = 0.982
	pkgrel = 1
	url = http://www.mypy-lang.org/
	arch = any
	license = MIT
	makedepends = git
	makedepends = python-setuptools
	depends = python-psutil
	depends = python-typed-ast
	depends = python-mypy_extensions
	depends = python-typing_extensions
	depends = python-tomli
	source = mypy-0.982.tar.gz::https://pypi.org/packages/source/m/mypy/mypy-0.982.tar.gz
	sha256sums = 85f7a343542dc8b1ed0a888cdd34dca56462654ef23aa673907305b260b3d746

pkgname = mypy
