pkgbase = mypy
	pkgdesc = Optional static typing for Python 2 and 3 (PEP484)
	pkgver = 0.942
	pkgrel = 2
	url = http://www.mypy-lang.org/
	arch = any
	license = MIT
	makedepends = git
	makedepends = python-setuptools
	depends = python-psutil
	depends = python-typed-ast
	depends = python-mypy_extensions
	depends = python-typing_extensions
	depends = python-tomli
	source = mypy-0.942.tar.gz::https://pypi.org/packages/source/m/mypy/mypy-0.942.tar.gz
	sha256sums = 17e44649fec92e9f82102b48a3bf7b4a5510ad0cd22fa21a104826b5db4903e2

pkgname = mypy
