pkgbase = qmk
	pkgdesc = CLI tool for customizing supported mechanical keyboards.
	pkgver = 0.0.45
	pkgrel = 1
	url = https://github.com/qmk/qmk_cli
	arch = any
	license = MIT
	makedepends = python-setuptools
	depends = python-appdirs
	depends = python-argcomplete
	depends = python-colorama
	depends = python-milc
	depends = python-dotty-dict
	depends = python-jsonschema
	depends = git
	depends = avr-gcc
	depends = arm-none-eabi-gcc
	depends = avr-libc
	depends = arm-none-eabi-binutils
	depends = arm-none-eabi-newlib
	depends = avr-binutils
	depends = dfu-programmer
	depends = dfu-util
	depends = avrdude
	depends = python-hjson
	depends = python-pygments
	optdepends = gcc
	optdepends = libffi
	optdepends = libusb-compat
	optdepends = clang: chibios-upgrader
	optdepends = zip: some distribution script
	optdepends = wget: some update scripts
	optdepends = diffutils: some update scripts
	source = https://files.pythonhosted.org/packages/source/q/qmk/qmk-0.0.45.tar.gz
	source = 50-qmk.rules_0.0.45::https://raw.githubusercontent.com/qmk/qmk_firmware/0.12.29/util/udev/50-qmk.rules
	sha256sums = 43f297f36b21d68c34c5efa0ce1449dddb2e28753f80939cadf761ee7a2a0901
	sha256sums = d6f0bfa30fb1f68b5428911a9165123059523ed781038f2b50cb83b828cc2436

pkgname = qmk

