pkgbase = qmk
	pkgdesc = CLI tool for customizing supported mechanical keyboards.
	pkgver = 0.0.36
	pkgrel = 2
	url = https://github.com/qmk/qmk_cli
	arch = any
	license = MIT
	makedepends = python-setuptools
	depends = python-appdirs
	depends = python-argcomplete
	depends = python-colorama
	depends = python-milc
	depends = git
	depends = avr-gcc
	depends = arm-none-eabi-gcc
	depends = dfu-programmer
	depends = dfu-util
	depends = avrdude
	depends = python-hjson
	depends = python-pygments
	optdepends = arm-none-eabi-binutils
	optdepends = arm-none-eabi-newlib
	optdepends = avr-binutils
	optdepends = avr-libc
	optdepends = gcc
	optdepends = libffi
	optdepends = libusb-compat
	optdepends = clang: chibios-upgrader
	optdepends = zip: some distribution script
	optdepends = wget: some update scripts
	optdepends = diffutils: some update scripts
	source = https://files.pythonhosted.org/packages/source/q/qmk/qmk-0.0.36.tar.gz
	source = 50-atmel-dfu.rules
	source = 54-input-club-keyboard.rules
	source = 55-caterina.rules
	source = 56-dfu-util.rules
	source = 57-bootloadhid.rules
	sha256sums = 8d8f0bb7dd2c740d8af99ab4650e306a87c75e5a5785cf3f03a0272d215d1671
	sha256sums = e755c3809ca9bf7952aa009df7cd453ffed9587a7bd73bbaca86d504b9bdfc9b
	sha256sums = 93a26f044baf2dd9d0ba78a2c18eef3bb3a2512605467228f9af309532f8a61b
	sha256sums = fb9d05568466da0250331f3eb1602f17218c5ae7f40cf6abaee455ca74c270a6
	sha256sums = fc8b52f38c6fb1f793477755198f0e55d8935e707e602211c8f5f23603f6a8ff
	sha256sums = 44bc829563b073327396337abd0565396167871ed06e83fe4b18763ab63cfc3f

pkgname = qmk

