pkgbase = qmk
	pkgdesc = CLI tool for customizing supported mechanical keyboards.
	pkgver = 0.0.39
	pkgrel = 1
	url = https://github.com/qmk/qmk_cli
	arch = any
	license = MIT
	makedepends = python-setuptools
	depends = python-appdirs
	depends = python-argcomplete
	depends = python-colorama
	depends = python-milc
	depends = git
	depends = avr-gcc
	depends = arm-none-eabi-gcc
	depends = avr-libc
	depends = arm-none-eabi-binutils
	depends = arm-none-eabi-newlib
	depends = avr-binutils
	depends = dfu-programmer
	depends = dfu-util
	depends = avrdude
	depends = python-hjson
	depends = python-pygments
	optdepends = gcc
	optdepends = libffi
	optdepends = libusb-compat
	optdepends = clang: chibios-upgrader
	optdepends = zip: some distribution script
	optdepends = wget: some update scripts
	optdepends = diffutils: some update scripts
	source = https://files.pythonhosted.org/packages/source/q/qmk/qmk-0.0.39.tar.gz
	source = 50-qmk.rules_0.0.39::https://raw.githubusercontent.com/qmk/qmk_firmware/0.11.43/util/udev/50-qmk.rules
	sha256sums = 21532ca4daa40c01f0727a162f9b67e5cd070cacfc636739b87460065a5f1863
	sha256sums = 1347051edd5350f6aad8545f5f98907d9d75f0049803bbcc7ef1c4f83b7659ad

pkgname = qmk
