pkgbase = python-xapp
	pkgdesc = Python Xapp Library
	pkgver = 1.2.0
	pkgrel = 2
	url = https://github.com/linuxmint/python-xapp
	arch = any
	license = LGPL
	depends = python
	depends = python-setuptools
	depends = python2
	depends = python2-setuptools
	source = python-xapp-1.2.0.tar.gz::https://github.com/linuxmint/python-xapp/archive/1.2.0.tar.gz
	sha256sums = a81e50b1a16efcd2db0db99afbeebf56a4dfd45b008ec5bc606db0adc7cb9ac0

pkgname = python-xapp
	depends = python
	depends = python-psutil

pkgname = python2-xapp
	depends = python2
	depends = python2-psutil

