pkgbase = python-xapp
	pkgdesc = Python Xapp Library
	pkgver = 1.6.0
	pkgrel = 1
	url = https://github.com/linuxmint/python-xapp
	arch = any
	license = LGPL
	makedepends = python
	makedepends = python2
	source = python-xapp-1.6.0.tar.gz::https://github.com/linuxmint/python-xapp/archive/1.6.0.tar.gz
	sha512sums = 4418f3fc38ff8bf6993de1b7b9358bce16bef61832814147ae89f2bfc530244308bf270df98c10e451e97f017f766cb9106e143c608fbd8a7350ef5423cefc98

pkgname = python-xapp
	depends = python
	depends = python-psutil

pkgname = python2-xapp
	depends = python2
	depends = python2-psutil

