pkgbase = python-xapp
	pkgdesc = Python Xapp Library
	pkgver = 1.4.0
	pkgrel = 1
	url = https://github.com/linuxmint/python-xapp
	arch = any
	license = LGPL
	depends = python
	depends = python2
	source = python-xapp-1.4.0.tar.gz::https://github.com/linuxmint/python-xapp/archive/1.4.0.tar.gz
	sha512sums = b364135536fde6175b7a5b5002ccb3103401760a78856b665715caec3c95e544238cfb3447600a1fd729a24917a37b2aba5a13fdcb4462510b5bf7090189309f

pkgname = python-xapp
	depends = python
	depends = python-psutil

pkgname = python2-xapp
	depends = python2
	depends = python2-psutil

