pkgbase = staticcheck
	pkgdesc = The advanced Go linter
	pkgver = 2020.2.4
	pkgrel = 1
	url = https://staticcheck.io
	arch = x86_64
	license = MIT
	makedepends = go
	makedepends = git
	depends = glibc
	source = staticcheck-2020.2.4.tar.gz::https://github.com/dominikh/go-tools/archive/2020.2.4.tar.gz
	sha256sums = a13362c6cce037d18ff2ad092725aa1f3563f3c1f05fbc6749e08050dbec742e

pkgname = staticcheck

