pkgbase = poke
	pkgdesc = Interactive, extensible editor for binary data.
	pkgver = 1.4
	pkgrel = 1
	url = http://www.jemarch.net/poke.html
	arch = x86_64
	license = GPL3
	checkdepends = dejagnu
	makedepends = help2man
	depends = gc
	depends = readline
	depends = gettext
	depends = json-c
	source = https://ftp.gnu.org/gnu/poke/poke-1.4.tar.gz
	source = https://ftp.gnu.org/gnu/poke/poke-1.4.tar.gz.sig
	validpgpkeys = BDFA5717FC1DD35C2C3832A23EF90523B304AF08
	sha256sums = ce054df29560c921230132703ee449fe130b6e25ab03aa6cc796bb401506aa24
	sha256sums = SKIP

pkgname = poke
