pkgbase = poke
	pkgdesc = Interactive, extensible editor for binary data.
	pkgver = 1.0
	pkgrel = 1
	url = http://www.jemarch.net/poke.html
	arch = x86_64
	license = GPL3
	checkdepends = dejagnu
	makedepends = help2man
	depends = gc
	depends = readline
	depends = gettext
	depends = json-c
	source = https://ftp.gnu.org/gnu/poke/poke-1.0.tar.gz
	source = https://ftp.gnu.org/gnu/poke/poke-1.0.tar.gz.sig
	validpgpkeys = BDFA5717FC1DD35C2C3832A23EF90523B304AF08
	sha256sums = de930b8700c0772b3c2cd0d0ca35f50fd3d77bdf82c6251eb516b49e8ca25b0a
	sha256sums = SKIP

pkgname = poke

