pkgbase = yubikey-manager-qt
	pkgdesc = Cross-platform application for configuring any YubiKey over all USB transports
	pkgver = 1.2.4
	pkgrel = 1
	url = https://developers.yubico.com/yubikey-manager-qt/
	arch = x86_64
	license = BSD
	depends = yubikey-manager
	depends = qt5-quickcontrols
	depends = qt5-quickcontrols2
	depends = qt5-graphicaleffects
	depends = python-pyotherside
	replaces = yubikey-neo-manager
	source = https://developers.yubico.com/yubikey-manager-qt/Releases/yubikey-manager-qt-1.2.4.tar.gz
	source = https://developers.yubico.com/yubikey-manager-qt/Releases/yubikey-manager-qt-1.2.4.tar.gz.sig
	validpgpkeys = 8D0B4EBA9345254BCEC0E843514F078FF4AB24C3
	validpgpkeys = 9E885C0302F9BB9167529C2D5CBA11E6ADC7BCD1
	sha256sums = 3f11dcec8791b0ef823eb353a1f1b2a4b2d6f1f4870e4701aabef93707655327
	sha256sums = SKIP

pkgname = yubikey-manager-qt
