pkgbase = yubikey-manager-qt
	pkgdesc = Cross-platform application for configuring any YubiKey over all USB transports
	pkgver = 1.1.2
	pkgrel = 1
	url = https://developers.yubico.com/yubikey-manager-qt/
	arch = x86_64
	license = BSD
	depends = yubikey-manager
	depends = qt5-quickcontrols
	depends = qt5-quickcontrols2
	depends = qt5-graphicaleffects
	depends = python-pyotherside
	replaces = yubikey-neo-manager
	source = https://developers.yubico.com/yubikey-manager-qt/Releases/yubikey-manager-qt-1.1.2.tar.gz
	source = https://developers.yubico.com/yubikey-manager-qt/Releases/yubikey-manager-qt-1.1.2.tar.gz.sig
	validpgpkeys = 8D0B4EBA9345254BCEC0E843514F078FF4AB24C3
	sha256sums = 088bdafbc9ffe9bd56c8c10f19c155ace9532054427bfd96d4424395e5475d05
	sha256sums = SKIP

pkgname = yubikey-manager-qt

