pkgbase = github-cli
	pkgdesc = The GitHub CLI
	pkgver = 1.2.1
	pkgrel = 1
	url = https://github.com/cli/cli
	arch = x86_64
	license = MIT
	checkdepends = git
	makedepends = go
	depends = glibc
	depends = mailcap
	optdepends = git: To interact with repositories
	source = github-cli-1.2.1.tar.gz::https://github.com/cli/cli/archive/v1.2.1.tar.gz
	sha256sums = ae7f03426b9d9ebf40be3cdbd4ce8cec7aeeda8e51acd34d8d0aaf0b3c4ea550

pkgname = github-cli

