pkgbase = github-cli
	pkgdesc = The GitHub CLI
	pkgver = 1.4.0
	pkgrel = 1
	url = https://github.com/cli/cli
	arch = x86_64
	license = MIT
	checkdepends = git
	makedepends = go
	depends = glibc
	depends = mailcap
	optdepends = git: To interact with repositories
	source = github-cli-1.4.0.tar.gz::https://github.com/cli/cli/archive/v1.4.0.tar.gz
	sha256sums = 9f8851264938e48f5ccabe12e4de404ee0f94c8e33c107b818c4e324dbafa558

pkgname = github-cli
