pkgbase = github-cli
	pkgdesc = The GitHub CLI
	pkgver = 2.1.0
	pkgrel = 1
	url = https://github.com/cli/cli
	arch = x86_64
	license = MIT
	makedepends = go
	makedepends = git
	depends = glibc
	depends = mailcap
	optdepends = git: To interact with repositories
	source = github-cli-2.1.0.tar.gz::https://github.com/cli/cli/archive/v2.1.0.tar.gz
	sha256sums = 4b353b121a0f3ddf5046f0a1ae719a0539e0cddef27cc78a1b33ad7d1d22c007

pkgname = github-cli
