pkgbase = lxd
	pkgdesc = Daemon based on liblxc offering a REST API to manage containers
	pkgver = 5.0.0
	pkgrel = 2
	url = https://linuxcontainers.org/lxd
	arch = x86_64
	license = APACHE
	makedepends = go
	makedepends = git
	makedepends = tcl
	makedepends = apparmor
	makedepends = libseccomp
	makedepends = systemd
	depends = lxc
	depends = lxcfs
	depends = squashfs-tools
	depends = dnsmasq
	depends = dqlite
	depends = libuv
	depends = ebtables
	optdepends = lvm2: for lvm2 support
	optdepends = thin-provisioning-tools: for thin provisioning support
	optdepends = btrfs-progs: for btrfs storage driver support
	optdepends = ceph: for ceph storage driver support
	optdepends = cdrtools: VM support
	optdepends = qemu: VM support
	optdepends = ovmf: VM support
	optdepends = systemd-libs: unix device hotplug support
	optdepends = apparmor: apparmor support
	source = https://linuxcontainers.org/downloads/lxd/lxd-5.0.0.tar.gz
	source = https://linuxcontainers.org/downloads/lxd/lxd-5.0.0.tar.gz.asc
	source = lxd.socket
	source = lxd.service
	source = lxd.sysusers
	validpgpkeys = 602F567663E593BCBD14F338C638974D64792D67
	sha256sums = a99b7edfb52c8195b2de4988844d32d73be6426f6cff28408250517b238fdef9
	sha256sums = SKIP
	sha256sums = b89a725223ef72b25eab25184084d069af312f8c23612c57fdb75427a510232e
	sha256sums = 102d1d54186e0fc606a58f030231d76df6bd662b16dfd8f946e1f48e2b473b54
	sha256sums = d0184d9c4bb485e3aad0d4ac25ea7e85ac0f7ed6ddc96333e74fcd393a5b5ec4

pkgname = lxd
