pkgbase = pdfjs-legacy
	pkgdesc = PDF reader in javascript - legacy distribution
	pkgver = 3.1.81
	pkgrel = 1
	url = https://mozilla.github.io/pdf.js/
	arch = any
	license = Apache
	conflicts = pdfjs
	source = https://github.com/mozilla/pdf.js/releases/download/v3.1.81/pdfjs-3.1.81-legacy-dist.zip
	sha256sums = d6e2f74ece12ba6970d8a499a4c3a97e3b80c50bccefcc85c114af71ed5aeab5

pkgname = pdfjs-legacy
