pkgbase = pdfjs-legacy
	pkgdesc = PDF reader in javascript - legacy distribution
	pkgver = 3.4.120
	pkgrel = 1
	url = https://mozilla.github.io/pdf.js/
	arch = any
	license = Apache
	conflicts = pdfjs
	source = https://github.com/mozilla/pdf.js/releases/download/v3.4.120/pdfjs-3.4.120-legacy-dist.zip
	sha256sums = e7d60db94d611304a8ddd0b6f96d1f25641054d37642087463c29d433906000b

pkgname = pdfjs-legacy
