pkgbase = python-nltk
	pkgdesc = Natural language processing in Python
	pkgver = 3.6.2
	pkgrel = 2
	url = https://www.nltk.org/
	arch = any
	license = APACHE
	checkdepends = python-nose
	checkdepends = nltk-data
	checkdepends = python-requests
	checkdepends = python-regex
	makedepends = python-setuptools
	depends = python-yaml
	depends = python-click
	optdepends = nltk-data: test data
	optdepends = python-numpy: used for calculations
	optdepends = python-matplotlib: used for plotting
	source = python-nltk-3.6.2.tar.gz::https://github.com/nltk/nltk/archive/3.6.2.tar.gz
	sha256sums = d0f9d9a82cd3d7cdab34f57eb23ea6595e12da5c4c7a35a2864258c222eca74b

pkgname = python-nltk
