pkgbase = yubikey-manager
	pkgdesc = Python library and command line tool for configuring a YubiKey
	pkgver = 3.1.0
	pkgrel = 2
	url = https://developers.yubico.com/yubikey-manager/
	arch = any
	license = BSD
	checkdepends = python-mock
	makedepends = python-setuptools
	depends = python
	depends = python-click
	depends = python-cryptography
	depends = python-pyopenssl
	depends = python-pyscard
	depends = python-pyusb
	depends = python-six
	depends = python-fido2
	depends = ccid
	depends = libu2f-host
	depends = yubikey-personalization
	source = https://developers.yubico.com/yubikey-manager/Releases/yubikey-manager-3.1.0.tar.gz
	source = https://developers.yubico.com/yubikey-manager/Releases/yubikey-manager-3.1.0.tar.gz.sig
	validpgpkeys = 8D0B4EBA9345254BCEC0E843514F078FF4AB24C3
	validpgpkeys = 57A9DEED4C6D962A923BB691816F3ED99921835E
	sha256sums = 0137acd30cffa60421dde8277b3bb0c5d5e2179d36df0d190de6faf7eec76359
	sha256sums = SKIP

pkgname = yubikey-manager

