pkgbase = yubikey-manager
	pkgdesc = Python library and command line tool for configuring a YubiKey
	pkgver = 4.0.9
	pkgrel = 1
	url = https://developers.yubico.com/yubikey-manager/
	arch = any
	license = BSD
	checkdepends = python-mock
	checkdepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-click
	depends = python-cryptography
	depends = python-pyopenssl
	depends = python-pyscard
	depends = python-fido2
	depends = ccid
	depends = yubikey-personalization
	source = https://github.com/Yubico/yubikey-manager/releases/download/4.0.9/yubikey-manager-4.0.9.tar.gz
	source = https://github.com/Yubico/yubikey-manager/releases/download/4.0.9/yubikey-manager-4.0.9.tar.gz.sig
	validpgpkeys = 8D0B4EBA9345254BCEC0E843514F078FF4AB24C3
	validpgpkeys = 57A9DEED4C6D962A923BB691816F3ED99921835E
	validpgpkeys = 20EE325B86A81BCBD3E56798F04367096FBA95E8
	sha256sums = 384e3a2a66df4ce417aede734eb8c5d0c1b7981290e9bc940c85cc000ef833b4
	sha256sums = SKIP

pkgname = yubikey-manager
