pkgbase = python-hjson
	pkgdesc = JSON for Humans, allows comments and is less error prone.
	pkgver = 3.0.2
	pkgrel = 3
	url = https://github.com/laktak/hjson-py
	arch = any
	license = MIT
	makedepends = python-setuptools
	depends = python
	source = python-hjson-3.0.2.tar.gz::https://github.com/hjson/hjson-py/archive/v3.0.2.tar.gz
	md5sums = 7b345fa11d47d9df7e952f9ce20309eb

pkgname = python-hjson

