pkgbase = raft
	pkgdesc = C implementation of the Raft consensus protocol
	pkgver = 0.16.0
	pkgrel = 1
	url = https://github.com/canonical/raft
	arch = x86_64
	license = LGPL3
	depends = libuv
	options = strip
	source = raft-0.16.0.tar.gz::https://github.com/canonical/raft/archive/v0.16.0.tar.gz
	sha256sums = ab5480c051bfbf482074f62c9c306d08ca68b8f0ad0c2db2ebf0488cfe692336

pkgname = raft
