pkgbase = raft
	pkgdesc = C implementation of the Raft consensus protocol
	pkgver = 0.9.19
	pkgrel = 1
	url = https://github.com/canonical/raft
	arch = x86_64
	license = LGPL3
	depends = libuv
	source = raft-0.9.19.tar.gz::https://github.com/canonical/raft/archive/v0.9.19.tar.gz
	sha256sums = a018e35f103d8311eb436bea9696b03b88a8a3a25ebab61daec3d1af4d20828e

pkgname = raft

