pkgbase = python-fido2
	pkgdesc = Library for FIDO 2.0, including communication with a device over USBA
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/Yubico/python-fido2
	arch = any
	license = custom:BSD-2-clause
	makedepends = git
	makedepends = python-pip
	makedepends = python-poetry
	depends = python
	source = git+https://github.com/Yubico/python-fido2.git#tag=d363aefc2da174a361a772576467551135742b5a?signed
	validpgpkeys = 20EE325B86A81BCBD3E56798F04367096FBA95E8
	sha256sums = SKIP

pkgname = python-fido2
