pkgbase = docker
	pkgdesc = Pack, ship and run any application as a lightweight container
	pkgver = 20.10.2
	pkgrel = 2
	epoch = 1
	url = https://www.docker.com/
	arch = x86_64
	license = Apache
	makedepends = git
	makedepends = go
	makedepends = btrfs-progs
	makedepends = cmake
	makedepends = systemd
	makedepends = go-md2man
	makedepends = sed
	depends = glibc
	depends = bridge-utils
	depends = iproute2
	depends = device-mapper
	depends = sqlite
	depends = systemd-libs
	depends = libseccomp
	depends = libtool
	depends = runc
	depends = containerd
	optdepends = btrfs-progs: btrfs backend support
	optdepends = pigz: parallel gzip compressor support
	source = git+https://github.com/docker/cli.git#tag=v20.10.2
	source = git+https://github.com/moby/moby.git#tag=v20.10.2
	source = git+https://github.com/docker/libnetwork.git#commit=fa125a3512ee0f6187721c88582bf8c4378bd4d7
	source = git+https://github.com/krallin/tini.git#commit=de40ad007797e0dcd8b7126f27bb87401d224240
	source = git+https://github.com/docker/buildx.git#commit=11057da37336192bfc57d81e02359ba7ba848e4a
	source = git+https://github.com/docker/app.git#commit=9d2c67f87b7338eb1a0fa2f18eb81af3d2aac0e1
	source = https://github.com/moby/libnetwork/commit/c9ca976ccbab6ba9159c521cfd9093cba490b1c3.patch
	source = docker.sysusers
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 8db14ae0af84bdd7a892b907a118875c3c08003ef7ccbb0c1a11bbe8e00260ae
	sha256sums = 541826011a9836d05a2f42293d5f1beadf2ca8d89fb604487d61a013505678eb

pkgname = docker
