pkgbase = python-json-rpc
	pkgdesc = JSON-RPC transport realisation
	pkgver = 1.11.1
	pkgrel = 1
	url = https://github.com/pavlov99/json-rpc
	arch = any
	license = MIT
	checkdepends = python-nose
	checkdepends = python-mock
	checkdepends = python-flask
	checkdepends = python2-nose
	checkdepends = python2-mock
	checkdepends = python2-flask
	makedepends = python
	makedepends = python-setuptools
	makedepends = python2
	makedepends = python2-setuptools
	source = python-json-rpc-1.11.1.tar.gz::https://github.com/pavlov99/json-rpc/archive/1.11.1.tar.gz
	sha256sums = 23a975c2737595e94c86d0cc6c9506086a44a2dacc1d506059dbda7fe6ce2e95

pkgname = python-json-rpc
	depends = python

pkgname = python2-json-rpc
	depends = python2

