pkgbase = python-dotenv
	pkgdesc = Get and set values in your .env file in local and production servers
	pkgver = 1.0.0
	pkgrel = 2
	url = https://github.com/theskumar/python-dotenv/
	arch = any
	license = BSD
	makedepends = python-setuptools
	depends = python-click
	optdepends = ipython: ipython support
	source = python-dotenv-1.0.0.tar.gz::https://github.com/theskumar/python-dotenv/archive/v1.0.0.tar.gz
	b2sums = 95a75fb1379ffdb13370ace63df3abfd0ed5a0de18406a61aeeb6d62ce192f26df10bc243d28db852c743e8ed798670c004cc4d65b86ba9a2e2d069348dbadde

pkgname = python-dotenv
