pkgbase = python-dotenv
	pkgdesc = Get and set values in your .env file in local and production servers
	pkgver = 0.19.1
	pkgrel = 1
	url = https://github.com/theskumar/python-dotenv/
	arch = any
	license = BSD
	makedepends = python-setuptools
	depends = python-click
	optdepends = ipython: ipython support
	source = python-dotenv-0.19.1.tar.gz::https://github.com/theskumar/python-dotenv/archive/v0.19.1.tar.gz
	sha512sums = cd97e47819e13249af7b80453828f1c0b266ee4a0b2ad6df55614afdcf024b2b085bec628119a91db50e67e2e0ca2c54b9fd197e3214309652fa0c36b7a9bb93

pkgname = python-dotenv
