pkgbase = docker-compose
	pkgdesc = Fast, isolated development environments using Docker
	pkgver = 2.14.1
	pkgrel = 1
	url = https://www.docker.com/
	arch = x86_64
	license = Apache
	checkdepends = docker
	makedepends = go
	source = docker-compose-2.14.1.tar.gz::https://github.com/docker/compose/archive/v2.14.1.tar.gz
	b2sums = 06d036c8d44c45014da1515ffc2d5aa06efb17b304f3c9dc105397d41f4326cb308bfc2862d5ffa6d5f6ef9eca58d1e457c9f73605878d13e25b7c007e3c871a

pkgname = docker-compose
