pkgbase = docker-compose
	pkgdesc = Fast, isolated development environments using Docker
	pkgver = 2.18.1
	pkgrel = 1
	url = https://www.docker.com/
	arch = x86_64
	license = Apache
	checkdepends = docker
	makedepends = go
	source = docker-compose-2.18.1.tar.gz::https://github.com/docker/compose/archive/v2.18.1.tar.gz
	b2sums = c73ab1fff6e170e229b2c3026a52ed92186546660933aac1a677aaff53e556b93be99d9df8f914de4cac56693a16116b48776272fc3982f55d64331688fd82b8

pkgname = docker-compose
