pkgbase = docker-compose
	pkgdesc = Fast, isolated development environments using Docker
	pkgver = 1.25.2
	pkgrel = 1
	url = https://www.docker.com/
	arch = any
	license = Apache
	checkdepends = python-pytest-runner
	checkdepends = python-mock
	depends = python-cached-property
	depends = python-docopt
	depends = python-yaml
	depends = python-requests
	depends = python-texttable
	depends = python-websocket-client
	depends = python-docker
	depends = python-dockerpty
	depends = python-six
	depends = python-jsonschema
	depends = python-setuptools
	depends = docker
	depends = python-paramiko
	source = docker-compose-1.25.2.tar.gz::https://github.com/docker/compose/archive/v1.25.2.tar.gz
	sha512sums = ce045c6af233d6d03fd26100bce836444abb3022d6661ac6073cd8c6b8ed1cc0bbef9cbfad73672c8d3b6f3a12ee98e6e60c5f1b90360f778d5fa8d18e00179e

pkgname = docker-compose

