pkgbase = yubico-pam
	pkgdesc = Yubico YubiKey PAM module
	pkgver = 2.26
	pkgrel = 2
	url = https://github.com/Yubico/yubico-pam
	arch = x86_64
	license = BSD
	checkdepends = perl-net-ldap-server
	depends = pam
	depends = yubico-c-client
	depends = yubikey-personalization
	depends = json-c
	provides = pam_yubico
	conflicts = pam_yubico
	source = https://developers.yubico.com/yubico-pam/Releases/pam_yubico-2.26.tar.gz
	source = https://developers.yubico.com/yubico-pam/Releases/pam_yubico-2.26.tar.gz.sig
	source = 0001-fix_compiler_warning_in_pam_test_c.patch
	source = 0002-fix_implicit_declaration_warning_of_mkostemp.patch
	source = 0003-tests-add-a-http-1.1-header-to-the-ykval-mock.patch
	validpgpkeys = 0A3B0262BCA1705307D5FF06BCA00FD4B2168C0A
	sha256sums = 2de96495963fefd72b98243952ca5d5ec513e702c596e54bc667ef6b5e252966
	sha256sums = SKIP
	sha256sums = 151f57fcb7df2661a16f2ef840f805067a84b746b8683177e1a52581e7ffc19b
	sha256sums = eacbe45d4580e4987ebb4d8e3f13e5df26be974d43731d811c858234ba4363d0
	sha256sums = 8773e6d5ca76cb46b6f1e7d37123f8116f6062b5ba3e537a140f20afcb205c31

pkgname = yubico-pam

