pkgbase = bucklespring
	pkgdesc = Nostalgia bucklespring keyboard sound, sampled from IBM's Model-M
	pkgver = 1.5.1
	pkgrel = 1
	url = https://github.com/zevv/bucklespring
	arch = i686
	arch = x86_64
	license = MIT
	depends = openal
	depends = alure
	depends = libxtst
	depends = dumb
	depends = mpg123
	source = bucklespring-1.5.1.tar.gz::https://github.com/zevv/bucklespring/archive/v1.5.1.tar.gz
	sha256sums = 8d75d9809aa1f45b6f613bd6547f52a4ba9b207119775e48497c1a17fe98d541

pkgname = bucklespring
