pkgbase = bucklespring
	pkgdesc = Nostalgia bucklespring keyboard sound, sampled from IBM's Model-M
	pkgver = 1.5.0
	pkgrel = 1
	url = https://github.com/zevv/bucklespring
	arch = i686
	arch = x86_64
	license = MIT
	depends = openal
	depends = alure
	depends = libxtst
	depends = dumb
	depends = mpg123
	source = bucklespring-1.5.0.tar.gz::https://github.com/zevv/bucklespring/archive/1.5.0.tar.gz
	sha256sums = 0b9505abde912775dd78d8396d2282a6d89e3ad3342b3f150c207becb40d34ab

pkgname = bucklespring

