pkgbase = skopeo
	pkgdesc = A command line utility for various operations on container images and image repositories.
	pkgver = 1.2.0
	pkgrel = 2
	url = https://github.com/projectatomic/skopeo
	arch = x86_64
	license = APACHE
	makedepends = go
	makedepends = go-md2man
	makedepends = btrfs-progs
	makedepends = git
	makedepends = systemd
	depends = gpgme
	depends = device-mapper
	depends = containers-common
	source = git+https://github.com/projectatomic/skopeo#commit=2b4097bc13e7ba1d16a5225e2292a5cf88072f63
	sha256sums = SKIP

pkgname = skopeo

