pkgbase = skopeo
	pkgdesc = A command line utility for various operations on container images and image repositories.
	pkgver = 1.10.0
	pkgrel = 1
	url = https://github.com/containers/skopeo
	arch = x86_64
	license = APACHE
	makedepends = go
	makedepends = go-md2man
	makedepends = btrfs-progs
	makedepends = git
	makedepends = systemd
	depends = gpgme
	depends = device-mapper
	depends = containers-common
	source = git+https://github.com/containers/skopeo#commit=ee60474d5a4d99745aac9855797ad4b26510d786
	sha256sums = SKIP

pkgname = skopeo
