pkgbase = skopeo
	pkgdesc = A command line utility for various operations on container images and image repositories.
	pkgver = 1.4.0
	pkgrel = 1
	url = https://github.com/containers/skopeo
	arch = x86_64
	license = APACHE
	makedepends = go
	makedepends = go-md2man
	makedepends = btrfs-progs
	makedepends = git
	makedepends = systemd
	depends = gpgme
	depends = device-mapper
	depends = containers-common
	source = git+https://github.com/containers/skopeo#commit=a44da449d35e4621e9993f406d5a4f98dd89965e
	sha256sums = SKIP

pkgname = skopeo
