pkgbase = pdfjs
	pkgdesc = PDF reader in javascript
	pkgver = 1.9.426
	pkgrel = 3
	url = https://mozilla.github.io/pdf.js/
	arch = any
	license = Apache
	source = https://github.com/mozilla/pdf.js/releases/download/v1.9.426/pdfjs-1.9.426-dist.zip
	sha256sums = 00998c3b731382106e1f3a48ab15dce6714015573f76027c6b178fccf99f286c

pkgname = pdfjs

