pkgbase = python-wxpython
	pkgdesc = Phoenix wxWidgets GUI toolkit for Python
	pkgver = 4.0.3
	pkgrel = 5
	url = https://www.wxpython.org
	arch = x86_64
	license = custom:wxWindows
	checkdepends = xorg-server-xvfb
	checkdepends = python-pytest
	checkdepends = python-numpy
	makedepends = mesa
	makedepends = glu
	makedepends = webkit2gtk
	depends = wxgtk3
	depends = python-setuptools
	depends = python-six
	depends = python-pypubsub
	source = https://files.pythonhosted.org/packages/source/w/wxPython/wxPython-4.0.3.tar.gz
	sha512sums = 911dd98d15b0cbc2551f1b22a21fdae4450656ca59cc93216b7c6a8a00e399b929b78484637992d78cecffb098b8d8dc408c24795549827e2f90ce42740c3bf9

pkgname = python-wxpython

