pkgbase = python-wxpython
	pkgdesc = Cross-platform GUI toolkit
	pkgver = 4.2.0
	pkgrel = 3
	epoch = 1
	url = https://www.wxpython.org
	arch = x86_64
	license = custom:wxWindows
	checkdepends = xorg-server-xvfb
	checkdepends = python-pytest-forked
	checkdepends = python-numpy
	makedepends = mesa
	makedepends = glu
	makedepends = webkit2gtk
	makedepends = python-requests
	makedepends = python-setuptools
	makedepends = python-attrdict
	makedepends = sip
	makedepends = doxygen
	makedepends = waf
	depends = wxwidgets-gtk3
	depends = python-six
	optdepends = python-pypubsub: Alternative to the deprecated wx.lib.pubsub API
	source = https://files.pythonhosted.org/packages/source/w/wxPython/wxPython-4.2.0.tar.gz
	sha512sums = 9ec937a024efb2916403c84382a66004f0c2bb07471246b7de517778309ce459e929eeb59e261f538d3fa077c950628de62e49a3760fbd03ab9ff2114c6f354f

pkgname = python-wxpython
