pkgbase = nageru
	pkgdesc = live video mixer, based around the standard M/E workflow.
	pkgver = 2.1.0
	pkgrel = 2
	url = https://nageru.sesse.net/
	arch = x86_64
	license = GPL3
	makedepends = meson
	makedepends = eigen
	depends = libmicrohttpd
	depends = ffmpeg
	depends = libx264
	depends = protobuf
	depends = movit
	depends = bmusb
	depends = qcustomplot
	depends = pciutils
	depends = zita-resampler
	depends = sqlite3
	depends = luajit
	depends = cmake
	source = https://nageru.sesse.net/nageru-2.1.0.tar.gz
	sha256sums = 646cc513002646540cfbff746c6fdda2ac365711ead9492a63a06d86a9034389

pkgname = nageru
