pkgbase = nageru
	pkgdesc = live video mixer, based around the standard M/E workflow.
	pkgver = 2.2.0
	pkgrel = 2
	url = https://nageru.sesse.net/
	arch = x86_64
	license = GPL3
	makedepends = meson
	makedepends = eigen
	makedepends = qt5-tools
	depends = libmicrohttpd
	depends = ffmpeg
	depends = libx264
	depends = protobuf
	depends = movit
	depends = bmusb
	depends = qcustomplot
	depends = pciutils
	depends = zita-resampler
	depends = sqlite3
	depends = luajit
	depends = cmake
	source = https://nageru.sesse.net/nageru-2.2.0.tar.gz
	sha256sums = cbdde4d0604b5c241b5a9f876375692a57b0da4535d4b3bbd944e80bd8dcfece

pkgname = nageru
