pkgbase = python-google-api-python-client
	pkgdesc = Google API Client Library for Python
	pkgver = 2.31.0
	pkgrel = 3
	url = https://github.com/google/google-api-python-client
	arch = any
	license = Apache
	makedepends = python-setuptools
	depends = python-google-auth-httplib2
	depends = python-uritemplate
	depends = python-google-api-core
	optdepends = python-oauth2client: optional backend
	source = google-api-python-client-2.31.0.tar.gz::https://github.com/google/google-api-python-client/archive/v2.31.0.tar.gz
	sha256sums = b4ba0cdbae20ba092aa2f9ffc471410a3d4b84bac43880930887f74614434caa

pkgname = python-google-api-python-client
