pkgbase = python-google-api-python-client
	pkgdesc = Google API Client Library for Python
	pkgver = 2.60.0
	pkgrel = 1
	url = https://github.com/google/google-api-python-client
	arch = any
	license = Apache
	makedepends = python-setuptools
	depends = python-google-auth-httplib2
	depends = python-uritemplate
	depends = python-google-api-core
	optdepends = python-oauth2client: optional backend
	source = google-api-python-client-2.60.0.tar.gz::https://github.com/google/google-api-python-client/archive/v2.60.0.tar.gz
	sha256sums = 138dae4c3c99f256a454aa58e367446427e37c16a6a1d45984098a242f5ee09d

pkgname = python-google-api-python-client
