pkgbase = python-google-api-python-client
	pkgdesc = Google API Client Library for Python
	pkgver = 2.57.0
	pkgrel = 1
	url = https://github.com/google/google-api-python-client
	arch = any
	license = Apache
	makedepends = python-setuptools
	depends = python-google-auth-httplib2
	depends = python-uritemplate
	depends = python-google-api-core
	optdepends = python-oauth2client: optional backend
	source = google-api-python-client-2.57.0.tar.gz::https://github.com/google/google-api-python-client/archive/v2.57.0.tar.gz
	sha256sums = dd9e43469f65cda4d042670177ddc34d74c0bcb07e5e6a95cc34d00616ea42b8

pkgname = python-google-api-python-client
