pkgbase = python-rope
	pkgdesc = Refactoring library
	pkgver = 1.4.0
	pkgrel = 1
	url = https://github.com/python-rope/rope
	arch = any
	license = GPL
	checkdepends = python-pytest
	makedepends = python
	makedepends = python-setuptools
	depends = python-pytoolconfig
	source = https://pypi.io/packages/source/r/rope/rope-1.4.0.tar.gz
	sha256sums = 7d5a34235ff4a242b71f249b5617a9c54112e145ba4701a41e2f4f96942e5899

pkgname = python-rope
