pkgbase = python-rope
	pkgdesc = Refactoring library
	pkgver = 0.11.0
	pkgrel = 1
	url = https://github.com/python-rope/rope
	arch = any
	license = GPL
	makedepends = python
	makedepends = python-setuptools
	makedepends = python2
	makedepends = python2-setuptools
	source = python-rope-0.11.0.tar.gz::https://github.com/python-rope/rope/archive/0.11.0.tar.gz
	sha256sums = c8ad289c1934f1e3e1b016749c7353817e2ff5bb1297fb426c87929f1dfc2879

pkgname = python-rope
	depends = python

pkgname = python2-rope
	depends = python2

