pkgbase = crun
	pkgdesc = A fast and lightweight fully featured OCI runtime and C library for running containers
	pkgver = 0.19.1
	pkgrel = 1
	url = https://github.com/containers/crun
	arch = x86_64
	license = LGPL
	makedepends = libtool
	makedepends = python
	makedepends = go-md2man
	makedepends = systemd
	depends = yajl
	depends = systemd-libs
	depends = libcap
	depends = libseccomp
	source = https://github.com/containers/crun/releases/download/0.19.1/crun-0.19.1.tar.xz
	source = https://github.com/containers/crun/releases/download/0.19.1/crun-0.19.1.tar.xz.asc
	validpgpkeys = AC404C1C0BF735C63FF4D562263D6DF2E163E1EA
	sha256sums = 3ad42e97a4e9942b110101ebea4bc61a6437c63460eb997badb3d2c39604c1a1
	sha256sums = SKIP

pkgname = crun

