pkgbase = crun
	pkgdesc = A fast and lightweight fully featured OCI runtime and C library for running containers
	pkgver = 0.12
	pkgrel = 1
	url = https://github.com/containers/crun
	arch = x86_64
	license = GPL3
	makedepends = libtool
	makedepends = python
	makedepends = go-md2man
	depends = yajl
	depends = systemd-libs
	depends = libcap
	depends = libseccomp
	source = https://github.com/containers/crun/releases/download/0.12/crun-0.12.tar.xz
	source = https://github.com/containers/crun/releases/download/0.12/crun-0.12.tar.xz.asc
	validpgpkeys = AC404C1C0BF735C63FF4D562263D6DF2E163E1EA
	sha256sums = da7b3c963243c4a44b1a8fb7429c0c04230e56552cb0c0b7e6102d674bd8c690
	sha256sums = SKIP

pkgname = crun

