pkgbase = crun
	pkgdesc = A fast and lightweight fully featured OCI runtime and C library for running containers
	pkgver = 0.20.1
	pkgrel = 2
	url = https://github.com/containers/crun
	arch = x86_64
	license = LGPL
	makedepends = libtool
	makedepends = python
	makedepends = go-md2man
	makedepends = systemd
	depends = yajl
	depends = systemd-libs
	depends = libcap
	depends = libseccomp
	optdepends = criu: checkpoint support
	source = https://github.com/containers/crun/releases/download/0.20.1/crun-0.20.1.tar.xz
	source = https://github.com/containers/crun/releases/download/0.20.1/crun-0.20.1.tar.xz.asc
	validpgpkeys = AC404C1C0BF735C63FF4D562263D6DF2E163E1EA
	sha256sums = d118b9749e0ea90de1bd8bb1314f319f43559bbd275cd9331f2d96cfd1ccf9e0
	sha256sums = SKIP

pkgname = crun
