pkgbase = fzf
	pkgdesc = Command-line fuzzy finder
	pkgver = 0.22.0
	pkgrel = 1
	url = https://github.com/junegunn/fzf
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = go
	depends = bash
	optdepends = fish: fish keybindings
	optdepends = tmux: fzf-tmux script for launching fzf in a tmux pane
	optdepends = vim: plugin
	optdepends = zsh: zsh keybindings
	source = fzf-0.22.0.tar.gz::https://github.com/junegunn/fzf/archive/0.22.0.tar.gz
	sha512sums = 003b187c93f0ab2e8a1adbd4eb9586e05e12fb9a86e445ac8ff48ba391ae16f104d60d18934bb46765537d5007035f549c15d6970c901f72813d55001d3bc6e5

pkgname = fzf

