pkgbase = fzf
	pkgdesc = Command-line fuzzy finder
	pkgver = 0.23.0
	pkgrel = 1
	url = https://github.com/junegunn/fzf
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = go
	depends = bash
	optdepends = fish: fish keybindings
	optdepends = tmux: fzf-tmux script for launching fzf in a tmux pane
	optdepends = vim: plugin
	optdepends = zsh: zsh keybindings
	source = fzf-0.23.0.tar.gz::https://github.com/junegunn/fzf/archive/0.23.0.tar.gz
	sha512sums = e33b2cb5b734eae2a5dc8e3ab54b026976fcddb7f8eb84501a4be225ddc6b135cfab4e99561ad17993253d92f9cb2ab28ddf97bd18f16dd83bb482cd1d17e25f

pkgname = fzf

