pkgbase = public-inbox
	pkgdesc = An "archives first" approach to mailing lists
	pkgver = 1.9.0
	pkgrel = 1
	url = https://public-inbox.org
	arch = any
	license = AGPL
	makedepends = git
	depends = perl
	depends = perl-inline-c
	depends = perl-dbd-sqlite
	depends = perl-uri
	depends = perl-search-xapian
	source = https://public-inbox.org/public-inbox.git/snapshot/public-inbox-1.9.0.tar.gz
	sha256sums = 10d9d3d982bbae9383208f53aa2118482a799a958e9f1b24792b807fc225aaba

pkgname = lei
	pkgdesc = The "local email interface" from public-inbox
	depends = perl-publicinbox

pkgname = perl-publicinbox
	pkgdesc = The perl library for public-inbox
