pkgbase = catatonit
	pkgdesc = A container init that is so simple it's effectively brain-dead.
	pkgver = 0.1.6
	pkgrel = 1
	url = https://github.com/openSUSE/catatonit/
	arch = x86_64
	license = GPL3
	source = catatonit-0.1.6.tar.gz::https://github.com/openSUSE/catatonit/releases/download/v0.1.6/catatonit.tar.xz
	source = catatonit-0.1.6.tar.gz.asc::https://github.com/openSUSE/catatonit/releases/download/v0.1.6/catatonit.tar.xz.asc
	validpgpkeys = 5F36C6C61B5460124A75F5A69E18AA267DDB8DB4
	sha256sums = 45cc16e339d2c34d86f62bebbe9b5071453d591f2d92aee33acd37f898b1754b
	sha256sums = SKIP

pkgname = catatonit
