pkgbase = py3status
	pkgdesc = An extensible i3status replacement/wrapper written in python
	pkgver = 3.36
	pkgrel = 2
	url = https://www.ultrabug.fr/tag/py3status/
	arch = any
	license = BSD
	checkdepends = python-pytest-runner
	depends = python
	depends = python-setuptools
	optdepends = i3status: for i3status modules
	optdepends = i3blocks: for i3blocks modules
	optdepends = python-pyudev: for udev event monitoring
	optdepends = python-pydbus: for modules that rely on D-Bus
	optdepends = python-tzlocal: for modules that need time zone info
	optdepends = pacman-contrib: for the arch_updates module
	source = py3status-3.36.tar.gz::https://github.com/ultrabug/py3status/archive/3.36.tar.gz
	sha256sums = d5c26058217975014e0b5590b4a0df535b3e7969455bdf566d96d801ae46fbba

pkgname = py3status

