pkgbase = py3status
	pkgdesc = An extensible i3status replacement/wrapper written in python
	pkgver = 3.39
	pkgrel = 2
	url = https://www.ultrabug.fr/tag/py3status/
	arch = any
	license = BSD
	checkdepends = python-pytest-runner
	depends = python
	depends = python-setuptools
	optdepends = i3status: for i3status modules
	optdepends = i3blocks: for i3blocks modules
	optdepends = python-pyudev: for udev event monitoring
	optdepends = python-pydbus: for modules that rely on D-Bus
	optdepends = python-pytz: for the clock module
	optdepends = python-tzlocal: for the clock module
	optdepends = pacman-contrib: for the arch_updates module
	source = py3status-3.39.tar.gz::https://github.com/ultrabug/py3status/archive/3.39.tar.gz
	sha256sums = d18b81e86d5a44d2fa67453c3e9f04b9285005b2a7a9455890903d0e2dfe843c

pkgname = py3status
