pkgbase = barrier
	pkgdesc = Open-source KVM software based on Synergy
	pkgver = 2.4.0
	pkgrel = 2
	url = https://github.com/debauchee/barrier
	changelog = CHANGELOG.rst
	arch = x86_64
	license = custom:GPL2WithOpenSSLException
	makedepends = cmake
	makedepends = git
	makedepends = qt5-base
	makedepends = hicolor-icon-theme
	depends = curl
	depends = avahi
	depends = libx11
	depends = libxrandr
	depends = libxext
	depends = libxinerama
	depends = xorgproto
	depends = libxtst
	depends = libxi
	depends = libsm
	depends = libice
	depends = openssl
	source = git+https://github.com/debauchee/barrier.git#tag=v2.4.0
	sha256sums = SKIP

pkgname = barrier
	pkgdesc = Open-source KVM software based on Synergy (GUI)
	depends = barrier-headless=2.4.0-2
	depends = qt5-base
	depends = hicolor-icon-theme

pkgname = barrier-headless
	pkgdesc = Open-source KVM software based on Synergy (client and server CLI binaries)
