pkgbase = barrier
	pkgdesc = Open-source KVM software based on Synergy
	pkgver = 2.3.3
	pkgrel = 1
	url = https://github.com/debauchee/barrier
	changelog = CHANGELOG.rst
	arch = x86_64
	license = custom:GPL2WithOpenSSLException
	makedepends = cmake
	makedepends = qt5-base
	makedepends = hicolor-icon-theme
	makedepends = gtest
	makedepends = gmock
	depends = curl
	depends = avahi
	depends = libx11
	depends = libxrandr
	depends = libxext
	depends = libxinerama
	depends = xorgproto
	depends = libxtst
	depends = libxi
	depends = libsm
	depends = libice
	depends = openssl
	source = barrier-2.3.3.tar.gz::https://github.com/debauchee/barrier/archive/v2.3.3.tar.gz
	sha256sums = 259e75c150ca16d9db51870b026dc7aad56c410fa3d2f5fdccc19d4b6024bdc5

pkgname = barrier
	pkgdesc = Open-source KVM software based on Synergy (GUI)
	depends = barrier-headless=2.3.3-1
	depends = qt5-base
	depends = hicolor-icon-theme

pkgname = barrier-headless
	pkgdesc = Open-source KVM software based on Synergy (client and server CLI binaries)

