pkgbase = zsh-completions
	pkgdesc = Additional completion definitions for Zsh
	pkgver = 0.32.0
	pkgrel = 1
	url = https://github.com/zsh-users/zsh-completions
	changelog = ChangeLog
	arch = any
	license = BSD
	depends = zsh
	source = zsh-completions-0.32.0.tar.gz::https://github.com/zsh-users/zsh-completions/tarball/0.32.0
	sha512sums = ca0889674e448f48da14cd612e3e6753e18041c5647eee847596303b5180872385d1e9428f34afd76e379a0ec10c5f491731fe38793c8a7f1d50b482595734f7

pkgname = zsh-completions

