pkgbase = rclone
	pkgdesc = Sync files to and from Google Drive, S3, Swift, Cloudfiles, Dropbox and Google Cloud Storage
	pkgver = 1.54.0
	pkgrel = 1
	url = https://rclone.org/
	arch = x86_64
	license = MIT
	makedepends = python
	makedepends = pandoc
	makedepends = go
	makedepends = git
	depends = glibc
	optdepends = fuse2: for rclone mount
	source = rclone-1.54.0.tar.gz::https://github.com/rclone/rclone/archive/v1.54.0.tar.gz
	sha512sums = 292e932ada8dc601a02da4e7daf1434af838d13d8828965cde1395d3616a8014991990ddfdb1aade24fe1f7c54222c4d5226048849673cc062fafc21884e166d

pkgname = rclone
