pkgbase = rclone
	pkgdesc = Sync files to and from Google Drive, S3, Swift, Cloudfiles, Dropbox and Google Cloud Storage
	pkgver = 1.52.3
	pkgrel = 1
	url = https://rclone.org/
	arch = x86_64
	license = MIT
	makedepends = python
	makedepends = pandoc
	makedepends = go
	makedepends = git
	depends = glibc
	optdepends = fuse2: for rclone mount
	source = rclone-1.52.3.tar.gz::https://github.com/rclone/rclone/archive/v1.52.3.tar.gz
	sha512sums = ef22477cbe000675e12ecf9d49b035053ab1cf6841ec89073395605fc8ccca25cf5390e8445911d451be4084ae4557452754db15f0937035ad7abe9aecaa2d3d

pkgname = rclone

