pkgbase = rclone
	pkgdesc = Sync files to and from Google Drive, S3, Swift, Cloudfiles, Dropbox and Google Cloud Storage
	pkgver = 1.61.1
	pkgrel = 1
	url = https://rclone.org/
	arch = x86_64
	license = MIT
	makedepends = python
	makedepends = pandoc
	makedepends = go
	makedepends = git
	makedepends = fuse2
	depends = glibc
	optdepends = fuse2: for rclone mount
	options = !lto
	source = rclone-1.61.1.tar.gz::https://github.com/rclone/rclone/archive/v1.61.1.tar.gz
	sha512sums = 739b976a4538586670b797c92f9cbd416c3589444a611926b5edd074e8249dfcff9d95e8053459aa42c4cbe90009a9ba1c3abb9be8e8718db6276fdc39386273

pkgname = rclone
