pkgbase = bmusb
	pkgdesc = a free driver for BlackMagic's Intensity Shuttle andUltraStudio SDI USB3 cards
	pkgver = 0.7.6
	pkgrel = 1
	url = https://git.sesse.net/?p=bmusb;a=summary
	arch = x86_64
	license = GPL2
	depends = libusb
	source = bmusb-0.7.6.tar.gz::https://git.sesse.net/?p=bmusb;a=snapshot;h=327dca2d848e4c4656be1bfb54a2edf2e6587a71;sf=tgz
	sha256sums = 1e8e5d8a5c7db103dba74325e72a18a2c60682418a16bac2b3035c6bc034bbc1

pkgname = bmusb

