pkgbase = bmusb
	pkgdesc = a free driver for BlackMagic's Intensity Shuttle andUltraStudio SDI USB3 cards
	pkgver = 0.7.5
	pkgrel = 1
	url = https://git.sesse.net/?p=bmusb;a=summary
	arch = x86_64
	license = GPL2
	depends = libusb
	source = bmusb-0.7.5.tar.gz::https://git.sesse.net/?p=bmusb;a=snapshot;h=40e59ea593e2bcbb0f8f9e6c8e44c823d890b18a;sf=tgz
	sha256sums = 5851150fd5c050271680fc28f55e29c7016a6189de66937835537a1606ec81e8

pkgname = bmusb

