pkgbase = hy
	pkgdesc = A dialect of Lisp that's embedded in Python
	pkgver = 0.15.0
	pkgrel = 1
	url = http://hylang.org/
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytest-runner
	makedepends = python-setuptools
	depends = python-rply
	depends = python-astor
	depends = python-clint
	source = hy-0.15.0.tar.gz::https://github.com/hylang/hy/archive/0.15.0.tar.gz
	md5sums = 74e6def3be716730706ff273bfa648eb

pkgname = hy

