pkgbase = hy
	pkgdesc = A dialect of Lisp that's embedded in Python
	pkgver = 0.14.0
	pkgrel = 5
	url = http://hylang.org/
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytest-runner
	makedepends = python-setuptools
	depends = python-rply
	depends = python-astor
	depends = python-clint
	source = hy-0.14.0.tar.gz::https://github.com/hylang/hy/archive/0.14.0.tar.gz
	md5sums = 49f088476ba9eb3c0993299456a8eae5

pkgname = hy

