pkgbase = bolt
	pkgdesc = Thunderbolt 3 device manager
	pkgver = 0.7
	pkgrel = 1
	url = https://gitlab.freedesktop.org/bolt/bolt
	arch = x86_64
	license = LGPL
	checkdepends = umockdev
	makedepends = asciidoc
	makedepends = meson
	makedepends = python-setuptools
	depends = polkit
	depends = systemd
	source = https://gitlab.freedesktop.org/bolt/bolt/-/archive/0.7/bolt-0.7.tar.gz
	sha256sums = 46edbd2265a565625d8d236cc33c2c75125925a44960993d254453ae3ff09262

pkgname = bolt

