pkgbase = bolt
	pkgdesc = Thunderbolt 3 device manager
	pkgver = 0.6
	pkgrel = 1
	url = https://gitlab.freedesktop.org/bolt/bolt
	arch = x86_64
	license = LGPL
	checkdepends = umockdev
	makedepends = asciidoc
	makedepends = meson
	makedepends = python-setuptools
	depends = polkit
	depends = systemd
	source = https://gitlab.freedesktop.org/bolt/bolt/-/archive/0.6/bolt-0.6.tar.gz
	sha256sums = 0a50cfcf73cbc897c2d265b227afe1799d9d846c64f866fffb62dd486d5b3c4b

pkgname = bolt

