pkgbase = bolt
	pkgdesc = Thunderbolt 3 device manager
	pkgver = 0.9.4
	pkgrel = 1
	url = https://gitlab.freedesktop.org/bolt/bolt
	arch = x86_64
	license = LGPL
	checkdepends = umockdev
	makedepends = asciidoc
	makedepends = meson
	makedepends = python-setuptools
	makedepends = patch
	depends = polkit
	depends = systemd
	source = https://gitlab.freedesktop.org/bolt/bolt/-/archive/0.9.4/bolt-0.9.4.tar.gz
	sha256sums = fa565913d966eb99b5ea2785ce03ae5f5ed141b35d6540b5c4b1cad1b44ee315

pkgname = bolt
