pkgbase = python-adblock
	pkgdesc = Brave's adblock library in Python
	pkgver = 0.6.0
	pkgrel = 2
	url = https://github.com/ArniDagur/python-adblock
	arch = x86_64
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pip
	checkdepends = python-toml
	makedepends = python-setuptools
	makedepends = rust
	makedepends = maturin
	source = python-adblock-0.6.0.tar.gz::https://github.com/ArniDagur/python-adblock/archive/refs/tags/0.6.0.tar.gz
	source = pep-621-compatibility.patch
	sha256sums = cdde5db640f1d9205785641665b79e6edb7c51092a68536bc4907560c71136b2
	sha256sums = d090f427cd1e078ca4084ab807c6bf213ad0529aecc0e3cb5483d7691f1d55ab

pkgname = python-adblock
