pkgbase = python-adblock
	pkgdesc = Brave's adblock library in Python
	pkgver = 0.4.3
	pkgrel = 1
	url = https://github.com/ArniDagur/python-adblock
	arch = x86_64
	license = MIT
	checkdepends = python-pytest
	makedepends = python-setuptools
	makedepends = python-dephell
	makedepends = rust
	makedepends = maturin
	source = python-adblock-0.4.3.tar.gz::https://github.com/ArniDagur/python-adblock/archive/0.4.3.tar.gz
	sha256sums = 42f00ff33338eed83c5880ae5f12c70e38154b78fceb19d2f447e86ae34e0f60

pkgname = python-adblock

