pkgbase = python-adblock
	pkgdesc = Brave's adblock library in Python
	pkgver = 0.5.1
	pkgrel = 1
	url = https://github.com/ArniDagur/python-adblock
	arch = x86_64
	license = MIT
	checkdepends = python-pytest
	makedepends = python-setuptools
	makedepends = python-dephell
	makedepends = rust
	makedepends = maturin
	source = python-adblock-0.5.1.tar.gz::https://github.com/ArniDagur/python-adblock/archive/0.5.1.tar.gz
	sha256sums = d24ef42c8532cab2970d1c3af116ee4d0fa595e23fbeabb3ba0f5dfa0a67eae1

pkgname = python-adblock
