pkgbase = perl-moox-handlesvia
	pkgdesc = NativeTrait-like behavior for Moo
	pkgver = 0.001008
	pkgrel = 8
	url = https://metacpan.org/release/MooX-HandlesVia
	arch = any
	license = PerlArtistic
	license = GPL
	checkdepends = perl-test-exception
	checkdepends = perl-test-fatal
	checkdepends = perl-test-simple
	makedepends = perl-moox-types-mooselike
	depends = perl-class-method-modifiers
	depends = perl-data-perl
	depends = perl-module-runtime
	depends = perl-moo
	depends = perl-role-tiny
	options = !emptydirs
	source = https://cpan.metacpan.org/authors/id/M/MA/MATTP/MooX-HandlesVia-0.001008.tar.gz
	sha512sums = ad5dd6c5a05d6f44788e31a74d595c3a6c1b8bf62f51d59bab2d65f6963c2995205ad64f6930b103026d3497d3d2a83bd192b7566228c31bf944265e060703c0

pkgname = perl-moox-handlesvia

