pkgbase = perl-moox-handlesvia
	pkgdesc = NativeTrait-like behavior for Moo
	pkgver = 0.001009
	pkgrel = 2
	url = https://metacpan.org/release/MooX-HandlesVia
	arch = any
	license = PerlArtistic
	license = GPL
	checkdepends = perl-test-exception
	checkdepends = perl-test-fatal
	checkdepends = perl-test-simple
	makedepends = perl-moox-types-mooselike
	depends = perl-class-method-modifiers
	depends = perl-data-perl
	depends = perl-module-runtime
	depends = perl-moo
	depends = perl-role-tiny
	options = !emptydirs
	source = https://cpan.metacpan.org/authors/id/T/TO/TOBYINK/MooX-HandlesVia-0.001009.tar.gz
	sha512sums = ea3521bf04c52db09068d4fa7cedd3642fd54fc40b5c88cde9340f0a3bb0da03f2aabbe22788a4f33ffedc628fc510c4fb57bdf3f7c9ce1b9316dd1408c2dd40

pkgname = perl-moox-handlesvia

