pkgbase = perl-strictures
	pkgdesc = Turn on strict and make most warnings fatal
	pkgver = 2.000006
	pkgrel = 5
	url = https://metacpan.org/release/strictures
	arch = any
	license = PerlArtistic
	license = GPL
	checkdepends = perl-test-simple
	depends = perl
	options = !emptydirs
	source = https://cpan.metacpan.org/authors/id/H/HA/HAARG/strictures-2.000006.tar.gz
	sha256sums = 09d57974a6d1b2380c802870fed471108f51170da81458e2751859f2714f8d57

pkgname = perl-strictures
