pkgbase = kakoune
	pkgdesc = Multiple-selection, UNIX-flavored modal editor
	pkgver = 2020.01.16
	pkgrel = 1
	url = https://kakoune.org/
	arch = x86_64
	license = custom:unlicense
	depends = ncurses
	optdepends = aspell: spell checking support
	optdepends = clang: C/C++ completion and diagnostics support
	optdepends = kak-lsp: LSP client
	optdepends = ranger: filesystem explorer
	optdepends = tmux: splitting and creating windows
	optdepends = xdotool: X11 utility to focus arbitrary kakoune clients
	optdepends = xorg-xmessage: display debug messages in a new window
	source = https://github.com/mawww/kakoune/releases/download/v2020.01.16/kakoune-2020.01.16.tar.bz2
	sha256sums = a094f1689f0228308f631e371b382b0c0522391fc8b6c23a6cbc71ff404a0dae

pkgname = kakoune

