pkgbase = kakoune
	pkgdesc = Multiple-selection, UNIX-flavored modal editor
	pkgver = 2019.12.10
	pkgrel = 1
	url = https://kakoune.org/
	arch = x86_64
	license = custom:unlicense
	depends = ncurses
	optdepends = aspell: spell checking support
	optdepends = clang: C/C++ completion and diagnostics support
	optdepends = kak-lsp: LSP client
	optdepends = ranger: filesystem explorer
	optdepends = tmux: splitting and creating windows
	optdepends = xdotool: X11 utility to focus arbitrary kakoune clients
	optdepends = xorg-xmessage: display debug messages in a new window
	source = https://github.com/mawww/kakoune/releases/download/v2019.12.10/kakoune-2019.12.10.tar.bz2
	sha256sums = 66ad8d28cecb29b08e5975e659ee91206ca676a0194c730ca4eed026bafa2ff8

pkgname = kakoune

