pkgbase = kakoune
	pkgdesc = Multiple-selection, UNIX-flavored modal editor
	pkgver = 2020.09.01
	pkgrel = 1
	url = https://kakoune.org/
	arch = x86_64
	license = custom:unlicense
	depends = ncurses
	optdepends = aspell: spell checking support
	optdepends = clang: C/C++ completion and diagnostics support
	optdepends = kak-lsp: LSP client
	optdepends = ranger: filesystem explorer
	optdepends = tmux: splitting and creating windows
	optdepends = xdotool: X11 utility to focus arbitrary kakoune clients
	optdepends = xorg-xmessage: display debug messages in a new window
	source = https://github.com/mawww/kakoune/releases/download/v2020.09.01/kakoune-2020.09.01.tar.bz2
	sha256sums = 861a89c56b5d0ae39628cb706c37a8b55bc289bfbe3c72466ad0e2757ccf0175

pkgname = kakoune

