pkgbase = font-awesome
	pkgdesc = Iconic font designed for Bootstrap
	pkgver = 6.1.1
	pkgrel = 1
	url = https://fontawesome.com/
	arch = any
	license = custom:OFL
	source = ttf-font-awesome-6.1.1.tar.gz::https://github.com/FortAwesome/Font-Awesome/archive/6.1.1.tar.gz
	sha256sums = 9a4169f7715951969c746a225eac6292be5d16ab2ae7555b62cbf0d271175822

pkgname = ttf-font-awesome

pkgname = otf-font-awesome
