pkgbase = font-awesome
	pkgdesc = Iconic font designed for Bootstrap
	pkgver = 5.12.1
	pkgrel = 1
	url = http://fontawesome.com
	arch = any
	license = custom:OFL
	depends = fontconfig
	source = ttf-font-awesome-5.12.1.tar.gz::https://github.com/FortAwesome/Font-Awesome/archive/5.12.1.tar.gz
	sha256sums = 218060ed286d88de951ac6d6f79677498e12db230e2313bc80644a4f50b206b6

pkgname = ttf-font-awesome

pkgname = otf-font-awesome

