pkgbase = font-awesome
	pkgdesc = Iconic font designed for Bootstrap
	pkgver = 6.4.0
	pkgrel = 1
	url = https://fontawesome.com/
	arch = any
	license = custom:OFL
	source = ttf-font-awesome-6.4.0.tar.gz::https://github.com/FortAwesome/Font-Awesome/archive/6.4.0.tar.gz
	sha256sums = c8d286b1941fca9841d07fe165f9e0a5ee1ccf99417cf60025986f303b54da5c

pkgname = ttf-font-awesome

pkgname = otf-font-awesome
