pkgbase = python-language-server
	pkgdesc = An implementation of the Language Server Protocol for Python
	pkgver = 0.23.2
	pkgrel = 2
	url = https://github.com/palantir/python-language-server
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytest-runner
	checkdepends = python-pytest-cov
	checkdepends = python-pyflakes
	checkdepends = python-mock
	checkdepends = python-jedi
	checkdepends = python-future
	checkdepends = yapf
	checkdepends = python-mccabe
	checkdepends = python-pycodestyle
	checkdepends = autopep8
	checkdepends = python-rope
	checkdepends = python-pydocstyle
	checkdepends = python-jsonrpc-server
	makedepends = python
	makedepends = python-setuptools
	depends = python
	depends = python-jsonrpc-server
	depends = python-future
	depends = python-jedi
	depends = python-pluggy
	optdepends = python-mccabe: for complexity checking
	optdepends = python-rope: for completions and renaming
	optdepends = python-pyflakes: for linter to detect various errors
	optdepends = python-pycodestyle: for style checking
	optdepends = autopep8: for code formatting
	optdepends = yapf: for code formatting (preferred over autopep8)
	optdepends = python-pydocstyle: for docstring style checking
	source = https://files.pythonhosted.org/packages/source/p/python-language-server/python-language-server-0.23.2.tar.gz
	sha256sums = d0da957d6d7044c46ce23c0e4aefedb28d7b591adb2705c13037c91679e903c1

pkgname = python-language-server

