pkgbase = python-language-server
	pkgdesc = An implementation of the Language Server Protocol for Python
	pkgver = 0.28.3
	pkgrel = 1
	url = https://github.com/palantir/python-language-server
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytest-runner
	checkdepends = python-pytest-cov
	checkdepends = python-pyflakes
	checkdepends = python-mock
	checkdepends = python-jedi
	checkdepends = python-future
	checkdepends = yapf
	checkdepends = python-mccabe
	checkdepends = python-pycodestyle
	checkdepends = autopep8
	checkdepends = python-rope
	checkdepends = python-pydocstyle
	checkdepends = python-pylint
	checkdepends = python-jsonrpc-server
	makedepends = python
	makedepends = python-setuptools
	depends = python
	depends = python-jsonrpc-server
	depends = python-future
	depends = python-jedi
	depends = python-pluggy
	optdepends = python-mccabe: for complexity checking
	optdepends = python-rope: for completions and renaming
	optdepends = python-pyflakes: for linter to detect various errors
	optdepends = python-pycodestyle: for style checking
	optdepends = python-pylint: for code linting
	optdepends = autopep8: for code formatting
	optdepends = yapf: for code formatting (preferred over autopep8)
	optdepends = python-pydocstyle: for docstring style checking
	source = https://files.pythonhosted.org/packages/source/p/python-language-server/python-language-server-0.28.3.tar.gz
	source = jedi15.patch
	sha256sums = bf172c9c21fc5c2baa293155ddcb27712905f1ea1ebc0ba90985f7fd13039550
	sha256sums = eaf656ed8400e0ebd8a2cc52311be018029f9c46b5dc23c4bb1a0a5067da7356

pkgname = python-language-server

