pkgbase = darktable
	pkgdesc = Utility to organize and develop raw images
	pkgver = 4.0.0
	pkgrel = 1
	epoch = 2
	url = https://darktable.org
	arch = x86_64
	license = GPL3
	makedepends = cmake
	makedepends = intltool
	makedepends = desktop-file-utils
	makedepends = llvm
	makedepends = clang
	makedepends = portmidi
	makedepends = python-jsonschema
	makedepends = libwebp
	depends = pugixml
	depends = libjpeg-turbo
	depends = colord-gtk
	depends = libgphoto2
	depends = openexr
	depends = lensfun
	depends = iso-codes
	depends = zlib
	depends = exiv2
	depends = flickcurl
	depends = openjpeg2
	depends = graphicsmagick
	depends = lua
	depends = osm-gps-map
	depends = libsecret
	depends = openmp
	depends = gmic
	depends = libavif
	depends = jasper
	optdepends = dcraw: base curve script
	optdepends = perl-image-exiftool: base curve script
	optdepends = imagemagick: base curve and noise profile scripts
	optdepends = ghostscript: noise profile script
	optdepends = portmidi: game and midi controller input devices
	optdepends = gnuplot: noise profile script
	options = debug
	source = https://github.com/darktable-org/darktable/releases/download/release-4.0.0/darktable-4.0.0.tar.xz
	source = https://github.com/darktable-org/darktable/releases/download/release-4.0.0/darktable-4.0.0.tar.xz.asc
	validpgpkeys = C4CBC150699956E2A3268EF5BB5CC8295B1779C9
	validpgpkeys = F10F9686652B0E949FCD94C318DCA123F949BD3B
	sha256sums = 1416f8f59717e65a6220541aaa12eacca93888ce5176f2c9ab6c17b9cc53cc2d
	sha256sums = SKIP

pkgname = darktable
