pkgbase = darktable
	pkgdesc = Utility to organize and develop raw images
	pkgver = 2.6.2
	pkgrel = 2
	epoch = 2
	url = https://darktable.org
	arch = x86_64
	license = GPL3
	makedepends = cmake
	makedepends = intltool
	makedepends = desktop-file-utils
	makedepends = llvm
	makedepends = clang
	makedepends = python-jsonschema
	makedepends = libwebp
	depends = pugixml
	depends = libjpeg-turbo
	depends = colord-gtk
	depends = libgphoto2
	depends = openexr
	depends = lensfun
	depends = iso-codes
	depends = exiv2
	depends = flickcurl
	depends = openjpeg2
	depends = graphicsmagick
	depends = lua
	depends = osm-gps-map
	depends = libsecret
	source = https://github.com/darktable-org/darktable/releases/download/release-2.6.2/darktable-2.6.2.tar.xz
	source = https://github.com/darktable-org/darktable/releases/download/release-2.6.2/darktable-2.6.2.tar.xz.asc
	validpgpkeys = C4CBC150699956E2A3268EF5BB5CC8295B1779C9
	validpgpkeys = F10F9686652B0E949FCD94C318DCA123F949BD3B
	sha256sums = 9cb9efbb09a40375ff05cef89343235a621c58339539e44985470a029a7ffb45
	sha256sums = SKIP

pkgname = darktable

