pkgbase = tailscale
	pkgdesc = A mesh VPN that makes it easy to connect your devices, wherever they are.
	pkgver = 1.38.4
	pkgrel = 1
	url = https://tailscale.com
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = go
	depends = glibc
	backup = etc/default/tailscaled
	source = git+https://github.com/tailscale/tailscale.git#commit=043a34500dd2bb07c34e3b28a56cdbc8b5434454
	sha256sums = SKIP

pkgname = tailscale
