pkgbase = tailscale
	pkgdesc = A mesh VPN that makes it easy to connect your devices, wherever they are.
	pkgver = 1.40.0
	pkgrel = 1
	url = https://tailscale.com
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = go
	depends = glibc
	backup = etc/default/tailscaled
	source = git+https://github.com/tailscale/tailscale.git#commit=9bdaece3d7c3c83aae01e0736ba54e833f4aea51
	sha256sums = SKIP

pkgname = tailscale
