pkgbase = tailscale
	pkgdesc = A mesh VPN that makes it easy to connect your devices, wherever they are.
	pkgver = 1.40.1
	pkgrel = 1
	url = https://tailscale.com
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = go
	depends = glibc
	backup = etc/default/tailscaled
	source = git+https://github.com/tailscale/tailscale.git#commit=3589beb7b4bb6ad42adb886412b23ee806c45489
	sha256sums = SKIP

pkgname = tailscale
