pkgbase = python-pew
	pkgdesc = Python Env Wrapper, a set of tools to manage multiple virtual environments
	pkgver = 1.2.0
	pkgrel = 4
	url = https://github.com/berdario/pew
	arch = any
	license = MIT
	makedepends = python
	makedepends = python-setuptools
	depends = python
	depends = python-virtualenv
	depends = python-virtualenv-clone
	source = python-pew-1.2.0.tar.gz::https://github.com/berdario/pew/archive/1.2.0.zip
	sha256sums = 58e4f04ba644080ef820c2e07d1704112727e392c2fd1d42cdc31e112ffc2345

pkgname = python-pew

