pkgbase = xdp-tools
	pkgdesc = Utilities and example programs for use with XDP
	pkgver = 1.2.8
	pkgrel = 1
	url = https://github.com/xdp-project/xdp-tools
	arch = x86_64
	license = GPL
	license = LGPL
	license = BSD2
	makedepends = clang
	makedepends = llvm
	makedepends = gcc
	makedepends = make
	makedepends = m4
	makedepends = pkgconfig
	makedepends = libpcap
	makedepends = zlib
	depends = libelf
	depends = linux-api-headers
	depends = libbpf
	depends = libpcap.so
	options = !lto
	options = debug
	source = xdp-tools-1.2.8.tar.gz::https://github.com/xdp-project/xdp-tools/archive/refs/tags/v1.2.8.tar.gz
	sha512sums = 6ada9e433fcbefd13cebdffe93c3ce9159e9e09f1498d1615918ca6ecc4f11f03fcd9096980e8ceb7de126d4d8b953fa64917e777d54b5a3dfd1a9556de81626
	b2sums = f745085b73da5193c3cdaf60c20dfa5de62f3d83487413c87b4c3d07b755dcf91cfbeb4ba970b4e04eef74b4cec4238057f4462074f49b7139d7652cb0f22998

pkgname = xdp-tools
	pkgdesc = Utilities and example programs for use with XDP
	depends = libxdp

pkgname = libxdp
	pkgdesc = The libxdp package contains the libxdp library for managing XDP programs
	provides = libxdp.so
