pkgbase = xdp-tools
	pkgdesc = Utilities and example programs for use with XDP
	pkgver = 1.3.1
	pkgrel = 1
	url = https://github.com/xdp-project/xdp-tools
	arch = x86_64
	license = GPL
	license = LGPL
	license = BSD2
	makedepends = clang
	makedepends = llvm
	makedepends = gcc
	makedepends = make
	makedepends = m4
	makedepends = pkgconfig
	makedepends = libpcap
	makedepends = zlib
	makedepends = bpf
	depends = libelf
	depends = linux-api-headers
	depends = libbpf
	depends = libpcap.so
	options = !lto
	source = xdp-tools-1.3.1.tar.gz::https://github.com/xdp-project/xdp-tools/archive/refs/tags/v1.3.1.tar.gz
	sha512sums = 9dd434095a043158d14fb6829fa632fc4a0714dc0b6e08c219dfb55cb9f34005300db750115e08bd54210e90142bd499904616da077b8aa827e4de28c31be637
	b2sums = 89a61f47ba26efe6d0630d971e913e034d111d05c896e5af1bb28e6cb4e94133e6ecd827a10ee12a935ae2e6856f04556ac564ded1bcc65182766d656f8d0c5f

pkgname = xdp-tools
	pkgdesc = Utilities and example programs for use with XDP
	depends = libxdp

pkgname = libxdp
	pkgdesc = The libxdp package contains the libxdp library for managing XDP programs
	provides = libxdp.so
