pkgbase = xdp-tools
	pkgdesc = Utilities and example programs for use with XDP
	pkgver = 1.2.5
	pkgrel = 1
	url = https://github.com/xdp-project/xdp-tools
	arch = x86_64
	license = GPL
	license = LGPL
	license = BSD2
	makedepends = clang
	makedepends = llvm
	makedepends = gcc
	makedepends = make
	makedepends = m4
	makedepends = pkgconfig
	makedepends = libpcap
	makedepends = zlib
	depends = libelf
	depends = linux-api-headers
	depends = libbpf
	depends = libpcap.so
	options = !lto
	options = debug
	source = xdp-tools-1.2.5.tar.gz::https://github.com/xdp-project/xdp-tools/archive/refs/tags/v1.2.5.tar.gz
	sha512sums = c9f702c6e33472fe6623fd503cc86f11a957917c75cbd6af249e67da4a4cde94d4ccf36ce4cbebff16b51752280e8b0241b0430eb9dd729c8d02f2bcf6a2941f
	b2sums = ef1ac1383d770df1768a406825f1af863f35ef5bedc5d33207d3a44e2eef19a93df6f8e26a21efea418fe6600e6d321b6554c8b3a0a5d35c197b303632e4f1b0

pkgname = xdp-tools
	pkgdesc = Utilities and example programs for use with XDP
	depends = libxdp

pkgname = libxdp
	pkgdesc = The libxdp package contains the libxdp library for managing XDP programs
	provides = libxdp.so
