pkgbase = perl-type-tiny
	pkgdesc = Tiny, yet Moo(se)-compatible type constraint
	pkgver = 1.016010
	pkgrel = 1
	url = https://metacpan.org/release/Type-Tiny
	arch = any
	license = PerlArtistic
	license = GPL
	checkdepends = perl-test-simple
	depends = perl
	depends = perl-exporter-tiny
	options = !emptydirs
	source = https://cpan.metacpan.org/authors/id/T/TO/TOBYINK/Type-Tiny-1.016010.tar.gz
	sha512sums = 49134351dfaa18b69a6bb8fa375fe35fbbaff12b2ac4f6c80fa93fbedbce9e15930a598dde4a27b7eb23d7681d27ebb2487fa7e771bc86a22ad7d90e8b23e686

pkgname = perl-type-tiny
