pkgbase = perl-type-tiny
	pkgdesc = Tiny, yet Moo(se)-compatible type constraint
	pkgver = 1.012001
	pkgrel = 1
	url = https://metacpan.org/release/Type-Tiny
	arch = any
	license = PerlArtistic
	license = GPL
	checkdepends = perl-test-simple
	depends = perl
	depends = perl-exporter-tiny
	options = !emptydirs
	source = https://cpan.metacpan.org/authors/id/T/TO/TOBYINK/Type-Tiny-1.012001.tar.gz
	sha512sums = 1d8df1316186f943a9a10623425d8dc7e3d882dfba08c4858fd9f1a5ca8870a37ee29f0b01b458d2ea57a2f1af45ee2762f890317abb56ad6034d295fde2d2f5

pkgname = perl-type-tiny
