pkgbase = restic
	pkgdesc = Fast, secure, efficient backup program
	pkgver = 0.14.0
	pkgrel = 1
	url = https://restic.net
	arch = x86_64
	license = BSD
	checkdepends = fuse2
	makedepends = go
	makedepends = git
	depends = glibc
	optdepends = fuse2: mount archive
	source = restic-0.14.0.tar.gz::https://github.com/restic/restic/archive/v0.14.0.tar.gz
	sha256sums = 78cdd8994908ebe7923188395734bb3cdc9101477e4163c67e7cc3b8fd3b4bd6

pkgname = restic
