pkgbase = restic
	pkgdesc = Fast, secure, efficient backup program
	pkgver = 0.10.0
	pkgrel = 1
	url = https://restic.net
	arch = x86_64
	license = BSD
	checkdepends = fuse2
	makedepends = go
	makedepends = git
	depends = glibc
	optdepends = fuse2: mount archive
	source = restic-0.10.0.tar.gz::https://github.com/restic/restic/archive/v0.10.0.tar.gz
	sha256sums = 067fbc0cf0eee4afdc361e12bd03b266e80e85a726647e53709854ec142dd94e

pkgname = restic

