pkgbase = go
	pkgdesc = Core compiler tools for the Go programming language
	pkgver = 1.20.1
	pkgrel = 1
	epoch = 2
	url = https://golang.org/
	arch = x86_64
	license = BSD
	makedepends = git
	makedepends = go
	provides = go-pie
	replaces = go-pie
	options = !strip
	options = staticlibs
	source = https://go.dev/dl/go1.20.1.src.tar.gz
	source = https://go.dev/dl/go1.20.1.src.tar.gz.asc
	validpgpkeys = EB4C1BFD4F042F6DDDCCEC917721F63BD38B4796
	sha256sums = b5c1a3af52c385a6d1c76aed5361cf26459023980d0320de7658bae3915831a2
	sha256sums = SKIP

pkgname = go
