pkgbase = go
	pkgver = 1.14
	pkgrel = 1
	epoch = 2
	url = https://golang.org/
	arch = x86_64
	license = BSD
	makedepends = git
	makedepends = go
	source = https://storage.googleapis.com/golang/go1.14.src.tar.gz
	source = default-buildmode-pie.patch
	sha256sums = 6d643e46ad565058c7a39dac01144172ef9bd476521f42148be59249e4b74389
	sha256sums = be1269689de3cf5c926cf7de07f88d2a6d1ecbfc86694baaf5baee3bdcfdd79a

pkgname = go
	pkgdesc = Core compiler tools for the Go programming language

pkgname = go-pie
	pkgdesc = Core compiler tools for the Go programming language (with PIE enabled by default)
	provides = go=2:1.14-1
	conflicts = go

