pkgbase = go
	pkgdesc = Core compiler tools for the Go programming language
	pkgver = 1.14.7
	pkgrel = 1
	epoch = 2
	url = https://golang.org/
	arch = x86_64
	license = BSD
	makedepends = git
	makedepends = go
	makedepends = perl
	provides = go-pie
	replaces = go-pie
	options = !strip
	options = staticlibs
	source = https://storage.googleapis.com/golang/go1.14.7.src.tar.gz
	source = https://storage.googleapis.com/golang/go1.14.7.src.tar.gz.asc
	validpgpkeys = EB4C1BFD4F042F6DDDCCEC917721F63BD38B4796
	sha256sums = 064392433563660c73186991c0a315787688e7c38a561e26647686f89b6c30e3
	sha256sums = SKIP

pkgname = go

