pkgbase = python-flask-babel
	pkgdesc = Adds i18n/l10n support to Flask applications with the help of the Babel library.
	pkgver = 1.0.0
	pkgrel = 1
	url = https://pypi.python.org/pypi/Flask-Babel
	arch = any
	license = BSD
	makedepends = python-setuptools
	depends = python-flask
	depends = python-babel
	depends = python-pytz
	depends = python-speaklater
	depends = python-jinja
	source = https://pypi.io/packages/source/F/Flask-Babel/Flask-Babel-1.0.0.tar.gz
	sha256sums = d6a70468f9a8919d59fba2a291a003da3a05ff884275dddbd965f3b98b09ab3e

pkgname = python-flask-babel

