pkgbase = python-flask-babel
	pkgdesc = Adds i18n/l10n support to Flask applications with the help of the Babel library.
	pkgver = 3.0.1
	pkgrel = 2
	url = https://pypi.python.org/pypi/flask-babel
	arch = any
	license = BSD
	makedepends = python-setuptools
	depends = python-flask
	depends = python-babel
	depends = python-pytz
	depends = python-speaklater
	depends = python-jinja
	source = https://pypi.io/packages/source/f/flask-babel/flask_babel-3.0.1.tar.gz
	sha256sums = d408cace25514bea8b92e898fd7e55877fbac79b71bc230e266ff515408eba38

pkgname = python-flask-babel
