pkgbase = sbctl
	pkgdesc = Secure Boot key manager
	pkgver = 0.4
	pkgrel = 1
	url = https://github.com/Foxboron/sbctl
	arch = x86_64
	license = MIT
	makedepends = go
	makedepends = git
	makedepends = asciidoc
	depends = sbsigntools
	source = https://github.com/Foxboron/sbctl/releases/download/0.4/sbctl-0.4.tar.gz
	source = https://github.com/Foxboron/sbctl/releases/download/0.4/sbctl-0.4.tar.gz.sig
	validpgpkeys = C100346676634E80C940FB9E9C02FF419FECBE16
	sha256sums = fdcee9f6f4c7cd1e558d0c3eced9d0686307c528d7eb16ec6fe0cec4a3c3674a
	sha256sums = SKIP

pkgname = sbctl

