pkgbase = sbctl
	pkgdesc = Secure Boot key manager
	pkgver = 0.9
	pkgrel = 1
	url = https://github.com/Foxboron/sbctl
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go
	makedepends = git
	makedepends = asciidoc
	depends = binutils
	depends = util-linux
	source = https://github.com/Foxboron/sbctl/releases/download/0.9/sbctl-0.9.tar.gz
	source = https://github.com/Foxboron/sbctl/releases/download/0.9/sbctl-0.9.tar.gz.sig
	validpgpkeys = C100346676634E80C940FB9E9C02FF419FECBE16
	sha256sums = 88a7e552b2d7cbe45f6846547c1de4d33bfd86303a0ba4dc8363b113e465610d
	sha256sums = SKIP

pkgname = sbctl
