pkgbase = sbctl
	pkgdesc = Secure Boot key manager
	pkgver = 0.10
	pkgrel = 1
	url = https://github.com/Foxboron/sbctl
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go
	makedepends = git
	makedepends = asciidoc
	depends = binutils
	depends = util-linux
	source = https://github.com/Foxboron/sbctl/releases/download/0.10/sbctl-0.10.tar.gz
	source = https://github.com/Foxboron/sbctl/releases/download/0.10/sbctl-0.10.tar.gz.sig
	validpgpkeys = C100346676634E80C940FB9E9C02FF419FECBE16
	sha256sums = 8df54dc7cac4e8b54c14631a64724f942c4f1d064bd9e50699418d4f910f22c3
	sha256sums = SKIP

pkgname = sbctl
