pkgbase = hexedit
	pkgdesc = View and edit files in hexadecimal or in ASCII
	pkgver = 1.6
	pkgrel = 1
	url = http://rigaux.org/hexedit.html
	arch = x86_64
	license = GPL
	depends = ncurses
	options = debug
	source = hexedit-1.6.tar.gz::https://github.com/pixel/hexedit/archive/1.6.tar.gz
	sha256sums = 598906131934f88003a6a937fab10542686ce5f661134bc336053e978c4baae3

pkgname = hexedit
