pkgbase = go-md2man
	pkgdesc = A markdown to manpage generator
	pkgver = 2.0.2
	pkgrel = 1
	url = https://github.com/cpuguy83/go-md2man
	arch = x86_64
	license = MIT
	makedepends = go
	source = go-md2man-2.0.2.tar.gz::https://github.com/cpuguy83/go-md2man/archive/v2.0.2.tar.gz
	sha256sums = 2f52e37101ea2734b02f2b54a53c74305b95b3a9a27792fdac962b5354aa3e4a

pkgname = go-md2man
