pkgbase = netavark
	pkgdesc = Container network stack
	pkgver = 1.2.0
	pkgrel = 1
	url = https://github.com/containers/netavark
	arch = x86_64
	license = Apache
	makedepends = cargo
	makedepends = git
	makedepends = libgit2
	makedepends = mandown
	depends = gcc-libs
	depends = glibc
	optdepends = aardvark-dns: for authorative DNS server
	provides = container-network-stack=2
	source = git+https://github.com/containers/netavark.git#tag=4c3f03d4a1e583f4bd332f71918d9c09abd06092
	sha256sums = SKIP

pkgname = netavark
