pkgbase = netavark
	pkgdesc = Container network stack
	pkgver = 1.3.0
	pkgrel = 1
	url = https://github.com/containers/netavark
	arch = x86_64
	license = Apache
	makedepends = cargo
	makedepends = git
	makedepends = libgit2
	makedepends = mandown
	depends = gcc-libs
	depends = glibc
	optdepends = aardvark-dns: for authorative DNS server
	provides = container-network-stack=2
	source = git+https://github.com/containers/netavark.git#tag=d13da5e17a5840097ec942cb4f2b0c1d7f4f899d
	sha256sums = SKIP

pkgname = netavark
