pkgbase = python-jsonrpclib-pelix
	pkgdesc = A Python JSON-RPC over HTTP that mirrors xmlrpclib syntax
	pkgver = 0.4.2
	pkgrel = 1
	url = https://github.com/tcalmant/jsonrpclib
	arch = any
	license = Apache
	makedepends = python-setuptools
	makedepends = python2-setuptools
	depends = python
	source = https://pypi.io/packages/source/j/jsonrpclib-pelix/jsonrpclib-pelix-0.4.2.tar.gz
	sha256sums = 340915c17ebef7451948341542bf4789fc8d8c9fe604e86f00b722b6074a89f0

pkgname = python-jsonrpclib-pelix

