pkgbase = python-pyaes
	pkgdesc = Pure-Python Implementation of the AES block-cipher and common modes of operation
	pkgver = 1.6.1
	pkgrel = 3
	url = https://github.com/ricmoo/pyaes
	arch = any
	license = MIT
	makedepends = python-setuptools
	depends = python
	source = https://pypi.org/packages/source/p/pyaes/pyaes-1.6.1.tar.gz
	sha256sums = 02c1b1405c38d3c370b085fb952dd8bea3fadcee6411ad99f312cc129c536d8f

pkgname = python-pyaes

