pkgbase = offlineimap
	pkgdesc = Synchronizes emails between two repositories
	pkgver = 8.0.0
	pkgrel = 4
	url = http://offlineimap.org/
	arch = any
	license = GPL
	makedepends = asciidoc
	depends = python-imaplib2
	depends = python-distro
	depends = python-rfc6555
	optdepends = python-gssapi: for Kerberos authentication
	optdepends = python-pysocks: for SOCKS5 proxy functionality
	source = offlineimap-8.0.0.tar.gz::https://github.com/OfflineIMAP/offlineimap3/archive/v8.0.0.tar.gz
	source = offlineimap-8.0.0-py311.patch::https://github.com/OfflineIMAP/offlineimap3/commit/7cd32cf834b34a3d4675b29bebcd32dc1e5ef128.patch
	sha256sums = 5d40c163ca2fbf89658116e29f8fa75050d0c34c29619019eee1a84c90fcab32
	sha256sums = 204a900b0854afaca85b0f0a8da4bd31c4b702103a8f315cd553c53c60be4ac2

pkgname = offlineimap
