pkgbase = offlineimap
	pkgdesc = Synchronizes emails between two repositories
	pkgver = 7.3.4
	pkgrel = 1
	url = http://offlineimap.org/
	changelog = offlineimap.changelog
	arch = any
	license = GPL
	makedepends = asciidoc
	depends = python2-six
	depends = python2-uritemplate
	depends = python2-rfc6555
	optdepends = python2-pysocks: for SOCKS5 proxy functionality
	source = offlineimap-7.3.4.tar.gz::https://github.com/OfflineIMAP/offlineimap/archive/v7.3.4.tar.gz
	sha256sums = 87bc19f8ced25e31c583fa667376a0933de4410f33105884e971a0101a81a03e

pkgname = offlineimap
