pkgbase = glider
	pkgdesc = A forward proxy with multiple protocols support
	pkgver = 0.16.3
	pkgrel = 1
	url = https://github.com/nadoo/glider
	arch = x86_64
	license = GPL
	makedepends = go
	makedepends = git
	depends = glibc
	options = !lto
	source = glider-0.16.3.tar.gz::https://github.com/nadoo/glider/archive/v0.16.3.tar.gz
	sha512sums = 6c0a733e79a638e98b68f8ab16e72dbddfd5e21fc23467017294da1092821ef64a7ac0f3b3ea8f9dd6c27eb20aa28e6539d20fc0fb3812f5e1538c59dd3d99c0

pkgname = glider
