pkgbase = glider
	pkgdesc = A forward proxy with multiple protocols support
	pkgver = 0.10.3
	pkgrel = 1
	url = https://github.com/nadoo/glider
	arch = x86_64
	license = GPL
	makedepends = go
	makedepends = git
	depends = glibc
	source = glider-0.10.3.tar.gz::https://github.com/nadoo/glider/archive/v0.10.3.tar.gz
	sha512sums = e1acf2d2f5cc37253b92bf89d013ad9a9295701c91e181112f6643e204a333ef4e0727b8231b6fde0c28616da209f2394bdadfab9cfd1f99a02471f42e776d1d

pkgname = glider

