pkgbase = python-irc
	pkgdesc = IRC (Internet Relay Chat) protocol client library for Python
	pkgver = 20.0.0
	pkgrel = 2
	url = https://pypi.python.org/pypi/irc
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytest-enabler
	checkdepends = python-pygments
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python-jaraco.collections
	depends = python-jaraco.functools
	depends = python-jaraco.logging
	depends = python-jaraco.stream
	depends = python-jaraco.text
	depends = python-more-itertools
	depends = python-pytz
	depends = python-tempora
	source = https://files.pythonhosted.org/packages/source/i/irc/irc-20.0.0.tar.gz
	sha256sums = 59acb8d69d61a0cbd290e77e6ff10a8c7f2201fb8c7b7d5a195b5883d0c40b0a

pkgname = python-irc
