pkgbase = python-irc
	pkgdesc = IRC (Internet Relay Chat) protocol client library for Python
	pkgver = 19.0.1
	pkgrel = 2
	url = https://pypi.python.org/pypi/irc
	arch = any
	license = LGPL
	checkdepends = python-pytest
	checkdepends = python-pytest-flake8
	checkdepends = python-pytest-black
	checkdepends = python-pytest-cov
	checkdepends = python-pytest-mypy
	makedepends = python-setuptools-scm
	depends = python-six
	depends = python-pytz
	depends = python-more-itertools
	depends = python-jaraco
	depends = python-tempora
	source = https://files.pythonhosted.org/packages/source/i/irc/irc-19.0.1.tar.gz
	sha256sums = 99fd5d1fa1d054dee4fbb81e0d5193dc1e8200db751d5da9a97850a62162b9ab

pkgname = python-irc

