pkgbase = python-irc
	pkgdesc = IRC (Internet Relay Chat) protocol client library for Python
	pkgver = 20.1.0
	pkgrel = 1
	url = https://pypi.python.org/pypi/irc
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytest-enabler
	checkdepends = python-pygments
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python-jaraco.collections
	depends = python-jaraco.functools
	depends = python-jaraco.logging
	depends = python-jaraco.stream
	depends = python-jaraco.text
	depends = python-more-itertools
	depends = python-pytz
	depends = python-tempora
	source = https://files.pythonhosted.org/packages/source/i/irc/irc-20.1.0.tar.gz
	sha256sums = b6f737932dd4791f3b18e319de7b7daf02d2285a6bea263d101f4d8e553807ec

pkgname = python-irc
