pkgbase = archlinux-repro
	pkgdesc = Tools to reproduce Arch Linux packages
	pkgver = 20200411
	pkgrel = 1
	url = http://github.com/archlinux/archlinux-repro
	arch = any
	license = MIT
	makedepends = git
	makedepends = asciidoc
	depends = diffoscope
	depends = curl
	depends = gnupg
	depends = git
	depends = diffutils
	source = https://github.com/archlinux/archlinux-repro/releases/download/20200411/archlinux-repro-20200411.tar.gz
	source = https://github.com/archlinux/archlinux-repro/releases/download/20200411/archlinux-repro-20200411.tar.gz.sig
	validpgpkeys = C100346676634E80C940FB9E9C02FF419FECBE16
	sha256sums = 9e3a2d41ec8adfdcfb7755b84de17c53c629b2ecc775e4dc0ade61708fd30aaa
	sha256sums = SKIP

pkgname = archlinux-repro

