pkgbase = archlinux-repro
	pkgdesc = Tools to reproduce Arch Linux packages
	pkgver = 20221114
	pkgrel = 1
	url = https://github.com/archlinux/archlinux-repro
	arch = any
	license = MIT
	makedepends = git
	makedepends = asciidoc
	depends = diffoscope
	depends = curl
	depends = gnupg
	depends = git
	depends = diffutils
	depends = zstd
	source = https://github.com/archlinux/archlinux-repro/releases/download/20221114/archlinux-repro-20221114.tar.gz
	source = https://github.com/archlinux/archlinux-repro/releases/download/20221114/archlinux-repro-20221114.tar.gz.sig
	validpgpkeys = C100346676634E80C940FB9E9C02FF419FECBE16
	validpgpkeys = 64B13F7117D6E07D661BBCE0FE763A64F5E54FD6
	sha256sums = fd3264afff5021f935d9e35c171ff945e73a0340b6e66c2a8d27ca13a8490585
	sha256sums = SKIP

pkgname = archlinux-repro
