pkgbase = archlinux-repro
	pkgdesc = Tools to reproduce Arch Linux packages
	pkgver = 20200229
	pkgrel = 1
	url = http://github.com/archlinux/archlinux-repro
	arch = any
	license = MIT
	makedepends = git
	makedepends = asciidoc
	depends = diffoscope
	depends = curl
	depends = gnupg
	depends = git
	depends = diffutils
	source = https://github.com/archlinux/archlinux-repro/releases/download/20200229/archlinux-repro-20200229.tar.gz
	source = https://github.com/archlinux/archlinux-repro/releases/download/20200229/archlinux-repro-20200229.tar.gz.sig
	validpgpkeys = C100346676634E80C940FB9E9C02FF419FECBE16
	sha256sums = bab727fa5e82a9ce8990f8e6ca0ec52ea0156eea2f11b5eac9f7a1d24f1ccdbe
	sha256sums = SKIP

pkgname = archlinux-repro

