pkgbase = docker-buildx
	pkgdesc = Docker CLI plugin for extended build capabilities with BuildKit
	pkgver = 0.10.3
	pkgrel = 1
	url = https://github.com/docker/buildx
	arch = x86_64
	license = Apache
	makedepends = go
	makedepends = git
	options = !lto
	source = git+https://github.com/docker/buildx.git#commit=79e156beb11f697f06ac67fa1fb958e4762c0fab
	sha512sums = SKIP

pkgname = docker-buildx
