pkgbase = docker-buildx
	pkgdesc = Docker CLI plugin for extended build capabilities with BuildKit
	pkgver = 0.10.0
	pkgrel = 1
	url = https://github.com/docker/buildx
	arch = x86_64
	license = Apache
	makedepends = go
	makedepends = git
	options = !lto
	source = git+https://github.com/docker/buildx.git#commit=876462897612d36679153c3414f7689626251501
	sha512sums = SKIP

pkgname = docker-buildx
