pkgbase = elfutils
	pkgdesc = Handle ELF object files and DWARF debugging information
	pkgver = 0.189
	pkgrel = 1
	url = https://sourceware.org/elfutils/
	arch = x86_64
	license = LGPL3
	license = GPL3
	makedepends = bzip2
	makedepends = curl
	makedepends = gcc-libs
	makedepends = libarchive
	makedepends = libmicrohttpd
	makedepends = sqlite
	makedepends = xz
	makedepends = zlib
	makedepends = zstd
	options = staticlibs
	source = https://sourceware.org/elfutils/ftp/0.189/elfutils-0.189.tar.bz2
	source = https://sourceware.org/elfutils/ftp/0.189/elfutils-0.189.tar.bz2.sig
	validpgpkeys = 47CC0331081B8BC6D0FD4DA08370665B57816A6A
	validpgpkeys = EC3CFE88F6CA0788774F5C1D1AA44BE649DE760A
	sha512sums = 93a877e34db93e5498581d0ab2d702b08c0d87e4cafd9cec9d6636dfa85a168095c305c11583a5b0fb79374dd93bc8d0e9ce6016e6c172764bcea12861605b71
	sha512sums = SKIP
	b2sums = 30596271e14cf3408326abc38a9775b849b8cb0ee119a5455df9434a7d3b9a57afb15e0236a179a26c7bd400d303749964c9d6350c419f747784fd99d12517e0
	b2sums = SKIP

pkgname = debuginfod
	pkgdesc = Handle ELF object files and DWARF debugging information (debuginfod)
	depends = gcc-libs
	depends = glibc
	depends = libarchive
	depends = libarchive.so
	depends = libelf=0.189
	depends = libmicrohttpd
	depends = libmicrohttpd.so
	depends = sqlite
	depends = libsqlite3.so
	optdepends = elfutils=0.189: for translations

pkgname = elfutils
	pkgdesc = Handle ELF object files and DWARF debugging information (utilities)
	depends = gcc-libs
	depends = glibc
	depends = libelf=0.189

pkgname = libelf
	pkgdesc = Handle ELF object files and DWARF debugging information (libraries)
	depends = bzip2
	depends = libbz2.so
	depends = curl
	depends = libcurl.so
	depends = gcc-libs
	depends = glibc
	depends = xz
	depends = liblzma.so
	depends = zlib
	depends = zstd
	depends = libzstd.so
