pkgbase = dns-over-https
	pkgdesc = Client and server software to query DNS over HTTPS, using Google DNS-over-HTTPS protocol
	pkgver = 2.3.3
	pkgrel = 1
	url = https://github.com/m13253/dns-over-https
	arch = x86_64
	license = MIT
	makedepends = go
	makedepends = git
	provides = dns-over-https-client
	provides = dns-over-https-server
	options = !lto
	backup = etc/dns-over-https/doh-client.conf
	backup = etc/dns-over-https/doh-server.conf
	source = dns-over-https-2.3.3.tar.gz::https://github.com/m13253/dns-over-https/archive/v2.3.3.tar.gz
	sha256sums = cd95bf9594bacc2c97463bf745b072bd88523f0cd67e951002a3444f15dc59c4

pkgname = dns-over-https
