pkgbase = dns-over-https
	pkgdesc = Client and server software to query DNS over HTTPS, using Google DNS-over-HTTPS protocol
	pkgver = 2.3.0
	pkgrel = 2
	url = https://github.com/m13253/dns-over-https
	arch = x86_64
	license = MIT
	makedepends = go
	makedepends = git
	provides = dns-over-https-client
	provides = dns-over-https-server
	options = !lto
	backup = etc/dns-over-https/doh-client.conf
	backup = etc/dns-over-https/doh-server.conf
	source = dns-over-https-2.3.0.tar.gz::https://github.com/m13253/dns-over-https/archive/v2.3.0.tar.gz
	sha256sums = 887456b25396a0234ef351e474079198b5b81bccf63cc6eedefef9d2d81821f2

pkgname = dns-over-https
