pkgbase = dns-over-https
	pkgdesc = Client and server software to query DNS over HTTPS, using Google DNS-over-HTTPS protocol
	pkgver = 2.3.1
	pkgrel = 1
	url = https://github.com/m13253/dns-over-https
	arch = x86_64
	license = MIT
	makedepends = go
	makedepends = git
	provides = dns-over-https-client
	provides = dns-over-https-server
	options = !lto
	backup = etc/dns-over-https/doh-client.conf
	backup = etc/dns-over-https/doh-server.conf
	source = dns-over-https-2.3.1.tar.gz::https://github.com/m13253/dns-over-https/archive/v2.3.1.tar.gz
	sha256sums = 3b81e977de72f0a8e8d88bb1f580a4ab4a56ae2176a36f22c79a30a19d9b8044

pkgname = dns-over-https
