pkgbase = podman
	pkgdesc = Tool and library for running OCI-based containers in pods
	pkgver = 1.6.1
	pkgrel = 1
	url = https://github.com/containers/libpod
	arch = x86_64
	license = Apache
	makedepends = go-pie
	makedepends = go-md2man
	makedepends = git
	depends = cni-plugins
	depends = conmon
	depends = device-mapper
	depends = iptables
	depends = libseccomp
	depends = ostree
	depends = runc
	depends = skopeo
	depends = btrfs-progs
	depends = slirp4netns
	depends = libsystemd
	source = libpod-1.6.1.tar.gz::https://github.com/containers/libpod/archive/v1.6.1.tar.gz
	sha256sums = 4593916eabbc83f978f0e668fbaa64dd44b8cacc85c6e2ab66c2d782af50dec9

pkgname = podman
	optdepends = podman-docker: for Docker-compatible CLI

pkgname = podman-docker
	pkgdesc = Emulate Docker CLI using podman
	depends = podman
	conflicts = docker

