pkgbase = podman
	pkgdesc = Tool and library for running OCI-based containers in pods
	pkgver = 3.3.0
	pkgrel = 1
	url = https://github.com/containers/podman
	arch = x86_64
	license = Apache
	makedepends = btrfs-progs
	makedepends = go
	makedepends = go-md2man
	makedepends = git
	makedepends = gpgme
	makedepends = systemd
	depends = cni-plugins
	depends = conmon
	depends = containers-common
	depends = device-mapper
	depends = iptables
	depends = libseccomp
	depends = crun
	depends = slirp4netns
	depends = libsystemd
	depends = fuse-overlayfs
	backup = etc/cni/net.d/87-podman-bridge.conflist
	source = git+https://github.com/containers/podman#tag=v3.3.0?signed
	validpgpkeys = B7DBDCA456F7335E91F1C25CD3624C551D0515C4
	validpgpkeys = 7CE1E6F8C90CB53E7E4D8F2D502E08DB0BBF8EEE
	sha256sums = SKIP

pkgname = podman
	depends = cni-plugins
	depends = conmon
	depends = containers-common
	depends = device-mapper
	depends = iptables
	depends = libseccomp
	depends = crun
	depends = slirp4netns
	depends = libsystemd
	depends = fuse-overlayfs
	depends = libgpgme.so
	optdepends = podman-docker: for Docker-compatible CLI
	optdepends = btrfs-progs: support btrfs backend devices
	optdepends = catatonit: --init flag support
	optdepends = crun: support for unified cgroupsv2

pkgname = podman-docker
	pkgdesc = Emulate Docker CLI using podman
	depends = podman
	provides = docker
	conflicts = docker
