pkgbase = k9s
	pkgdesc = TUI for managing Kubernetes clusters and pods
	pkgver = 0.18.1
	pkgrel = 1
	url = https://github.com/derailed/k9s
	arch = x86_64
	license = APACHE
	makedepends = git
	makedepends = go-pie
	source = git+https://github.com/derailed/k9s#commit=c6a8477e5b85e43d08cb58790b7d5ded56c766ce
	sha256sums = SKIP

pkgname = k9s

