pkgbase = k9s
	pkgdesc = TUI for managing Kubernetes clusters and pods
	pkgver = 0.25.12
	pkgrel = 1
	url = https://github.com/derailed/k9s
	arch = x86_64
	license = APACHE
	makedepends = git
	makedepends = go
	source = git+https://github.com/derailed/k9s#commit=01bdc850205a450a6a34705bbde3b05e470a730b
	sha256sums = SKIP

pkgname = k9s
