pkgbase = python-docker
	pkgdesc = A Python library for the Docker Engine API
	pkgver = 3.7.2
	pkgrel = 1
	url = https://github.com/docker/docker-py
	arch = any
	license = Apache
	checkdepends = python-pytest
	checkdepends = python-pytest-cov
	checkdepends = python-pytest-timeout
	checkdepends = python-mock
	checkdepends = python-coverage
	checkdepends = flake8
	makedepends = python-pip
	makedepends = python-requests
	makedepends = python-six
	makedepends = python-websocket-client
	makedepends = python-docker-pycreds
	depends = python-requests
	depends = python-six
	depends = python-websocket-client
	depends = python-docker-pycreds
	depends = python-paramiko
	provides = python-docker-py
	conflicts = python-docker-py
	replaces = python-docker-py
	source = python-docker-3.7.2.tar.gz::https://github.com/docker/docker-py/archive/3.7.2.tar.gz
	sha512sums = 68a4c711dcdb249448ad3ac6d929943cce87c5bda360cf415438bd60db231a0a0115221c9b1ccd278d7dbd1d4027d51bac78321fa5daddb2ec76c153e71274eb

pkgname = python-docker

