pkgbase = python-docker
	pkgdesc = A Python library for the Docker Engine API
	pkgver = 3.6.0
	pkgrel = 1
	url = https://github.com/docker/docker-py
	arch = any
	license = Apache
	checkdepends = python-pytest-cov
	checkdepends = python2-pytest-cov
	checkdepends = python-mock
	checkdepends = python2-mock
	checkdepends = flake8
	checkdepends = python2-flake8
	checkdepends = python-paramiko
	checkdepends = python2-paramiko
	makedepends = python-pip
	makedepends = python2-pip
	makedepends = python-requests
	makedepends = python2-requests
	makedepends = python-six
	makedepends = python2-six
	makedepends = python-websocket-client
	makedepends = python2-websocket-client
	makedepends = python2-backports.ssl_match_hostname
	makedepends = python2-ipaddress
	makedepends = python-docker-pycreds
	makedepends = python2-docker-pycreds
	source = python-docker-3.6.0.tar.gz::https://github.com/docker/docker-py/archive/3.6.0.tar.gz
	sha512sums = b32acb2585995c3c5bdef95ea4bbb6bcadba3b9fca81a3e637dc294b5dbd3823ee6c98236c4bb197373a96feafcaae665b9c64b805abd52e1ae27aa42079278d

pkgname = python-docker
	depends = python-requests
	depends = python-six
	depends = python-websocket-client
	depends = python-docker-pycreds
	provides = python-docker-py
	conflicts = python-docker-py
	replaces = python-docker-py

pkgname = python2-docker
	depends = python2-requests
	depends = python2-six
	depends = python2-websocket-client
	depends = python2-docker-pycreds
	depends = python2-backports.ssl_match_hostname
	depends = python2-ipaddress
	provides = python2-docker-py
	conflicts = python2-docker-py
	replaces = python2-docker-py

