pkgbase = python-docker
	pkgdesc = A Python library for the Docker Engine API
	pkgver = 6.1.1
	pkgrel = 1
	url = https://github.com/docker/docker-py
	arch = any
	license = Apache
	checkdepends = flake8
	checkdepends = python-coverage
	checkdepends = python-paramiko
	checkdepends = python-pytest
	checkdepends = python-pytest-cov
	checkdepends = python-pytest-timeout
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python-packaging
	depends = python-requests
	depends = python-urllib3
	depends = python-websocket-client
	optdepends = python-paramiko: for connections using the SSH protocol
	provides = python-docker-py
	conflicts = python-docker-py
	replaces = python-docker-py
	source = python-docker-6.1.1.tar.gz::https://github.com/docker/docker-py/archive/6.1.1.tar.gz
	sha512sums = f2590073559600e5a027875af6007af3274620e5d984e26087a0346bfbe6dae20efff0a0f813486759fda0dc0d2aaac2c223b0531db3dd45fd68ae2229e73131

pkgname = python-docker
