pkgbase = nomad-driver-containerd
	pkgdesc = A nomad taskdriver for containerd containers
	pkgver = 0.9.1
	pkgrel = 1
	url = https://github.com/Roblox/nomad-driver-containerd
	arch = x86_64
	license = MPL2
	makedepends = go
	makedepends = git
	depends = nomad
	depends = containerd
	source = nomad-driver-containerd-0.9.1.tar.gz::https://github.com/Roblox/nomad-driver-containerd/archive/v0.9.1.tar.gz
	b2sums = f0b20fe3234a1525145233ca5be8d09e0ca2f1284ccc578494e8f8891374a05951f4ca3bea8f74ed6f7c11b9d79aae496074dbdac5aba2b34edd158ae790bcca

pkgname = nomad-driver-containerd
