pkgbase = nomad-driver-containerd
	pkgdesc = A nomad taskdriver for containerd containers
	pkgver = 0.9.3
	pkgrel = 2
	url = https://github.com/Roblox/nomad-driver-containerd
	arch = x86_64
	license = MPL2
	makedepends = git
	makedepends = go
	depends = nomad
	depends = containerd
	options = !lto
	source = nomad-driver-containerd::git+https://github.com/Roblox/nomad-driver-containerd.git#commit=c564dd2e58cff25f5e768b754258a44d5e3bf800
	b2sums = SKIP

pkgname = nomad-driver-containerd
