pkgbase = gopls
	pkgdesc = Language server for Go programming language
	pkgver = 0.8.1
	pkgrel = 1
	url = https://github.com/golang/tools/tree/master/gopls
	arch = x86_64
	arch = aarch64
	arch = armv7h
	arch = armv7l
	license = BSD
	makedepends = git
	makedepends = go
	depends = glibc
	source = gopls-0.8.1.tar.gz::https://github.com/golang/tools/archive/gopls/v0.8.1.tar.gz
	sha256sums = 2a5bdf324d48515565613ba7b7e368b2be91ecc7ab51b77489f609153a65e174

pkgname = gopls
