pkgbase = gopls
	pkgdesc = Language server for Go programming language
	pkgver = 0.7.3
	pkgrel = 1
	url = https://github.com/golang/tools/tree/master/gopls
	arch = x86_64
	arch = aarch64
	arch = armv7h
	arch = armv7l
	license = BSD
	makedepends = git
	makedepends = go
	depends = glibc
	source = gopls-0.7.3.tar.gz::https://github.com/golang/tools/archive/gopls/v0.7.3.tar.gz
	sha256sums = 8a50c76328469602d0e26fcd145d3ce7e3076684024e55d84c80db570ec94405

pkgname = gopls
