pkgbase = gopls
	pkgdesc = Language server for Go programming language
	pkgver = 0.11.0
	pkgrel = 1
	url = https://github.com/golang/tools/tree/master/gopls
	arch = x86_64
	arch = aarch64
	arch = armv7h
	arch = armv7l
	license = BSD
	makedepends = git
	makedepends = go
	depends = glibc
	source = gopls-0.11.0.tar.gz::https://github.com/golang/tools/archive/gopls/v0.11.0.tar.gz
	sha256sums = b5dd0040bcc75b4760eb543826b6503a163c835c90f50843e626a112ca083931

pkgname = gopls
