pkgbase = helm
	pkgdesc = The Kubernetes Package Manager
	pkgver = 3.5.1
	pkgrel = 1
	url = https://helm.sh/
	arch = x86_64
	license = Apache
	makedepends = go
	makedepends = git
	depends = glibc
	source = git+https://github.com/helm/helm.git#tag=v3.5.1?signed
	validpgpkeys = 672C657BE06B4B30969C4A57461449C25E36B98E
	validpgpkeys = 967F8AC5E2216F9F4FD270AD92AA783CBAAE8E3B
	sha256sums = SKIP

pkgname = helm
