pkgbase = tpm2-tools
	pkgdesc = Trusted Platform Module 2.0 tools based on tpm2-tss
	pkgver = 5.1
	pkgrel = 1
	url = https://github.com/tpm2-software/tpm2-tools
	arch = x86_64
	license = BSD
	checkdepends = cmocka
	checkdepends = expect
	checkdepends = ibm-sw-tpm2
	checkdepends = iproute2
	checkdepends = python-yaml
	checkdepends = tpm2-abrmd
	checkdepends = xxd
	depends = curl
	depends = openssl
	depends = tpm2-tss
	depends = util-linux-libs
	depends = libtss2-esys.so
	depends = libtss2-fapi.so
	depends = libtss2-mu.so
	depends = libtss2-rc.so
	depends = libtss2-sys.so
	depends = libtss2-tctildr.so
	optdepends = tpm2-abrmd: user space resource manager
	source = https://github.com/tpm2-software/tpm2-tools/releases/download/5.1/tpm2-tools-5.1.tar.gz
	source = https://github.com/tpm2-software/tpm2-tools/releases/download/5.1/tpm2-tools-5.1.tar.gz.asc
	validpgpkeys = 5B482B8E3E19DA7C978E1D016DE2E9078E1F50C1
	validpgpkeys = 6313E6DC41AAFC315A8760A414986F6944B1F72B
	sha512sums = 341356472205310e441bc83bf906296fb01b99f0c5bd22b2b14588bd9b5ace1abf8541b7c0d1ef172cf3668e152a1c0417b4b75ea580f0fe4c778bcf6daa81be
	sha512sums = SKIP

pkgname = tpm2-tools

