pkgbase = tpm2-tools
	pkgdesc = Trusted Platform Module 2.0 tools based on tpm2-tss
	pkgver = 4.1
	pkgrel = 1
	url = https://github.com/tpm2-software/tpm2-tools
	arch = x86_64
	license = BSD
	checkdepends = cmocka
	checkdepends = ibm-sw-tpm2
	checkdepends = iproute2
	checkdepends = python-yaml
	checkdepends = tpm2-abrmd
	checkdepends = xxd
	depends = curl
	depends = openssl
	depends = tpm2-tss
	optdepends = tpm2-abrmd: user space resource manager
	source = https://github.com/tpm2-software/tpm2-tools/releases/download/4.1/tpm2-tools-4.1.tar.gz
	source = https://github.com/tpm2-software/tpm2-tools/releases/download/4.1/tpm2-tools-4.1.tar.gz.asc
	validpgpkeys = 5B482B8E3E19DA7C978E1D016DE2E9078E1F50C1
	validpgpkeys = 6313E6DC41AAFC315A8760A414986F6944B1F72B
	sha256sums = 07ce37f552ed47f582fbc3423bc316fea64012ef15a92a25766a36534524dcf2
	sha256sums = SKIP

pkgname = tpm2-tools

