pkgbase = tpm2-tools
	pkgdesc = Trusted Platform Module 2.0 tools based on tpm2-tss
	pkgver = 4.1.1
	pkgrel = 1
	url = https://github.com/tpm2-software/tpm2-tools
	arch = x86_64
	license = BSD
	checkdepends = cmocka
	checkdepends = ibm-sw-tpm2
	checkdepends = iproute2
	checkdepends = python-yaml
	checkdepends = tpm2-abrmd
	checkdepends = xxd
	depends = curl
	depends = openssl
	depends = tpm2-tss
	optdepends = tpm2-abrmd: user space resource manager
	source = https://github.com/tpm2-software/tpm2-tools/releases/download/4.1.1/tpm2-tools-4.1.1.tar.gz
	source = https://github.com/tpm2-software/tpm2-tools/releases/download/4.1.1/tpm2-tools-4.1.1.tar.gz.asc
	validpgpkeys = 5B482B8E3E19DA7C978E1D016DE2E9078E1F50C1
	validpgpkeys = 6313E6DC41AAFC315A8760A414986F6944B1F72B
	sha512sums = 25952cf947f0acd16b1a8dbd3ac8573bce85ff970a7e24c290c4f9cd29418e77a3e48ac82c932fbd250887a9303ab301ff92db594c2fffaba47b873382444d26
	sha512sums = SKIP

pkgname = tpm2-tools

