pkgbase = python-ldap
	pkgdesc = LDAP client API for Python
	pkgver = 3.4.0
	pkgrel = 1
	url = https://python-ldap.readthedocs.io/
	arch = x86_64
	license = MIT
	checkdepends = openldap
	checkdepends = python-pyasn1
	checkdepends = python-pyasn1-modules
	makedepends = python-setuptools
	makedepends = python-coverage
	depends = python-pyasn1
	depends = python-pyasn1-modules
	depends = libldap
	source = python-ldap-3.4.0.tar.gz::https://github.com/python-ldap/python-ldap/archive/python-ldap-3.4.0.tar.gz
	source = openldap-2.5.patch
	sha256sums = 75425c5d06ae934615e8fa7530a2db8c3190bd5a84a1c19cfb732a2342ad448f
	sha256sums = a309bacc490ad11ec48693c72330d4530fd687d7808d8bed90470fbb5e68eac1

pkgname = python-ldap
