pkgbase = python-ldap
	pkgdesc = LDAP client API for Python
	pkgver = 3.4.3
	pkgrel = 2
	url = https://python-ldap.readthedocs.io/
	arch = x86_64
	license = MIT
	checkdepends = openldap
	checkdepends = python-pyasn1
	checkdepends = python-pyasn1-modules
	makedepends = python-setuptools
	makedepends = python-coverage
	depends = python-pyasn1
	depends = python-pyasn1-modules
	depends = libldap
	source = python-ldap-3.4.3.tar.gz::https://github.com/python-ldap/python-ldap/archive/python-ldap-3.4.3.tar.gz
	sha256sums = 0f59a692a4761f70aff6629125a2574dd12f6660316bbac211325fed7a898f48

pkgname = python-ldap
