pkgbase = archlinux-contrib
	pkgdesc = Collection of contrib scripts used in Arch Linux
	pkgver = 20221211
	pkgrel = 1
	url = https://github.com/archlinux/contrib
	arch = any
	license = GPL
	depends = python
	optdepends = python-requests: for security tracker
	optdepends = jq: for rebuild-todo
	source = https://github.com/archlinux/contrib/releases/download/20221211/contrib-20221211.tar.gz
	source = https://github.com/archlinux/contrib/releases/download/20221211/contrib-20221211.tar.gz.sig
	validpgpkeys = C100346676634E80C940FB9E9C02FF419FECBE16
	validpgpkeys = 86CFFCA918CF3AF47147588051E8B148A9999C34
	sha256sums = 4a4339133ca80011e76919416823a08f799c78579ecefa929726ffa659620166
	sha256sums = SKIP

pkgname = archlinux-contrib
