pkgbase = archlinux-contrib
	pkgdesc = Collection of contrib scripts used in Arch Linux
	pkgver = 20200816
	pkgrel = 1
	url = https://github.com/archlinux/contrib
	arch = any
	license = GPL
	depends = python
	optdepends = python-requests: for security tracker
	source = https://github.com/archlinux/contrib/releases/download/20200816/contrib-20200816.tar.gz
	source = https://github.com/archlinux/contrib/releases/download/20200816/contrib-20200816.tar.gz.sig
	validpgpkeys = C100346676634E80C940FB9E9C02FF419FECBE16
	sha256sums = f63e8d2eb493a17345ee51336ff240a74b8dc631c1116ce9c93f808d7cd3009f
	sha256sums = SKIP

pkgname = archlinux-contrib

