pkgbase = archlinux-contrib
	pkgdesc = Collection of contrib scripts used in Arch Linux
	pkgver = 20201205
	pkgrel = 1
	url = https://github.com/archlinux/contrib
	arch = any
	license = GPL
	depends = python
	optdepends = python-requests: for security tracker
	source = https://github.com/archlinux/contrib/releases/download/20201205/contrib-20201205.tar.gz
	source = https://github.com/archlinux/contrib/releases/download/20201205/contrib-20201205.tar.gz.sig
	validpgpkeys = C100346676634E80C940FB9E9C02FF419FECBE16
	sha256sums = 338e1b50bfe8288785ec79cc8026a8f0d8800d46b1bb4c8db36000a5d69a2afb
	sha256sums = SKIP

pkgname = archlinux-contrib
