pkgbase = salt
	pkgdesc = Central system and configuration manager
	pkgver = 3004.2
	pkgrel = 1
	url = http://saltstack.org/
	install = salt.install
	arch = any
	license = Apache
	depends = python-jinja
	depends = python-msgpack
	depends = python-yaml
	depends = python-markupsafe
	depends = python-requests
	depends = python-pyzmq
	depends = python-m2crypto
	depends = python-systemd
	depends = python-distro
	depends = python-importlib-metadata
	depends = python-pycryptodomex
	optdepends = dmidecode: decode SMBIOS/DMI tables
	optdepends = python-pygit2: gitfs support
	conflicts = salt-zmq
	conflicts = salt-raet
	replaces = salt-zmq
	replaces = salt-raet
	backup = etc/logrotate.d/salt
	backup = etc/salt/master
	backup = etc/salt/minion
	source = https://pypi.io/packages/source/s/salt/salt-3004.2.tar.gz
	source = zmq-23.patch::https://github.com/saltstack/salt/commit/6ec8b90e402ff3fa8f27c7da70ece898592416bc.patch
	source = salt.logrotate
	sha256sums = 2fa644f6200d4e36b55846cb372b6e67b6ca0fbec0697f1d8d73e771b665ed70
	sha256sums = a82dcec84d7f2eb5b136ef8112397a1dc1234392741dc6a6db66c868c495eb76
	sha256sums = abecc3c1be124c4afffaaeb3ba32b60dfee8ba6dc32189edfa2ad154ecb7a215

pkgname = salt
