pkgbase = salt
	pkgdesc = Central system and configuration manager
	pkgver = 3006.1
	pkgrel = 1
	url = http://saltstack.org/
	install = salt.install
	arch = any
	license = Apache
	makedepends = python-setuptools
	depends = python-jinja
	depends = python-msgpack
	depends = python-yaml
	depends = python-markupsafe
	depends = python-requests
	depends = python-pyzmq
	depends = python-m2crypto
	depends = python-systemd
	depends = python-distro
	depends = python-importlib-metadata
	depends = python-pycryptodomex
	optdepends = dmidecode: decode SMBIOS/DMI tables
	optdepends = python-pygit2: gitfs support
	conflicts = salt-zmq
	conflicts = salt-raet
	replaces = salt-zmq
	replaces = salt-raet
	backup = etc/logrotate.d/salt
	backup = etc/salt/master
	backup = etc/salt/minion
	source = https://pypi.io/packages/source/s/salt/salt-3006.1.tar.gz
	source = salt.logrotate
	sha256sums = 95587bd611dea6affb6908d0ec2686cb7edb84c14144b4851776f127a60ec5b9
	sha256sums = abecc3c1be124c4afffaaeb3ba32b60dfee8ba6dc32189edfa2ad154ecb7a215

pkgname = salt
