pkgbase = influxdb
	pkgdesc = Scalable datastore for metrics, events, and real-time analytics
	pkgver = 1.7.2
	pkgrel = 1
	url = https://github.com/InfluxData/influxdb
	arch = i686
	arch = x86_64
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = MIT
	makedepends = go-pie
	makedepends = git
	makedepends = asciidoc
	makedepends = xmlto
	makedepends = dep
	backup = etc/influxdb/influxdb.conf
	source = influxdb-1.7.2.tar.gz::https://github.com/influxdata/influxdb/archive/v1.7.2.tar.gz
	source = influxdb.sysusers
	source = influxdb.tmpfiles
	sha256sums = 05b10655c98e5fcf16f99a3c304bda4bac09761a499566c5458e233e224daabe
	sha256sums = 809cca823ae3027984bc7ace70db75753d7d0d4f6658a36db9d94a33054ca5e9
	sha256sums = e2aa59413a6204737383b86cedefd866d7073f56ace5b89aad38c530cc86e60c

pkgname = influxdb

