pkgbase = influxdb
	pkgdesc = Scalable datastore for metrics, events, and real-time analytics
	pkgver = 1.8.3
	pkgrel = 1
	url = https://github.com/InfluxData/influxdb
	arch = x86_64
	license = MIT
	makedepends = go
	makedepends = git
	makedepends = asciidoc
	makedepends = xmlto
	makedepends = dep
	backup = etc/influxdb/influxdb.conf
	source = influxdb-1.8.3.tar.gz::https://github.com/influxdata/influxdb/archive/v1.8.3.tar.gz
	source = fix-go114.patch::https://github.com/Foxboron/influxdb/commit/f8453b48862b50fe44021e320332f75e32457f29.patch
	source = fix-go115.patch::https://github.com/influxdata/influxdb/commit/3a03ad500a4b2bba65a4af74995ad54e88de7210.patch
	source = influxdb.sysusers
	source = influxdb.tmpfiles
	sha256sums = d8b89e324ed7343c1397124ac3cc68c405406faf74e7369e733611cada54656d
	sha256sums = 2812f5cd31bdf6b9f587d471c249fb90ea58c4000ce52e3b91de7b17ca74dc7d
	sha256sums = 616ce43eebc1cbbe5d6376dd6306ffddc3aa1ab0cd396e1b9918ae43e6a27572
	sha256sums = 809cca823ae3027984bc7ace70db75753d7d0d4f6658a36db9d94a33054ca5e9
	sha256sums = e2aa59413a6204737383b86cedefd866d7073f56ace5b89aad38c530cc86e60c

pkgname = influxdb

