pkgbase = influxdb
	pkgdesc = Scalable datastore for metrics, events, and real-time analytics
	pkgver = 2.0.4
	pkgrel = 1
	url = https://github.com/InfluxData/influxdb
	arch = x86_64
	license = MIT
	makedepends = go
	makedepends = git
	makedepends = bzr
	makedepends = protobuf
	makedepends = yarn
	makedepends = cargo
	makedepends = clang
	makedepends = llvm
	backup = etc/influxdb/influxdb.conf
	source = git+https://github.com/influxdata/influxdb.git#tag=v2.0.4
	source = influxdb.service
	sha256sums = SKIP
	sha256sums = a22ba54f10fa98ec4e81e864c0c3181e53dedd9e23e1d112ac4ad22c4fa4d9ee

pkgname = influxdb

