pkgbase = python-pyflakes
	pkgdesc = A lint-like tool for Python to identify common errors quickly without executing code
	pkgver = 3.0.1
	pkgrel = 2
	url = https://pypi.python.org/pypi/pyflakes
	arch = any
	license = MIT
	makedepends = python-setuptools
	depends = python
	source = https://pypi.io/packages/source/p/pyflakes/pyflakes-3.0.1.tar.gz
	sha512sums = 10ffe2b92f3885d40578452423a93609f8546b2392997bdbc3f64ca0094516ce6b8449e5d3675bda5fdbc16190c89be23609559fc4cd4f1c97e6af032226d7b7

pkgname = python-pyflakes
