pkgbase = python-pyflakes
	pkgdesc = A lint-like tool for Python to identify common errors quickly without executing code
	pkgver = 2.4.0
	pkgrel = 3
	url = https://pypi.python.org/pypi/pyflakes
	arch = any
	license = MIT
	makedepends = python-setuptools
	depends = python-setuptools
	source = https://pypi.io/packages/source/p/pyflakes/pyflakes-2.4.0.tar.gz
	sha512sums = f4c6512eb811511c897623f52c4f88e50275a3292582d7dd34462e90e39fecce939818cb92e750eebdd66eab25b91c23540104fc4530c42621d7cfeb1d33c577

pkgname = python-pyflakes
