pkgbase = step-ca
	pkgdesc = A private certificate authority (X.509 & SSH) & ACME server for secure automated certificate management, so you can use TLS everywhere & SSO for SSH.
	pkgver = 0.23.2
	pkgrel = 1
	url = https://github.com/smallstep/certificates
	arch = x86_64
	license = Apache
	makedepends = go
	depends = glibc
	depends = pcsclite
	source = https://github.com/smallstep/certificates/releases/download/v0.23.2/step-ca_0.23.2.tar.gz
	sha512sums = 5318dca365a11b6ba49c55ccf12b750a1087d7abce7e209a8dc4f9977304510b2d46cc4a6e4d3ae21b324822808256e99f9ad9255f8be6613a4f93622081ae7b

pkgname = step-ca
