pkgbase = step-ca
	pkgdesc = A private certificate authority (X.509 & SSH) & ACME server for secure automated certificate management, so you can use TLS everywhere & SSO for SSH.
	pkgver = 0.17.1
	pkgrel = 1
	url = https://github.com/smallstep/certificates
	arch = x86_64
	license = Apache
	makedepends = go
	depends = glibc
	depends = pcsclite
	source = https://github.com/smallstep/certificates/releases/download/v0.17.1/step-ca_0.17.1.tar.gz
	sha512sums = 9f160649cd709c5d5a75835ad10daa7c43c930d69279ecd73bc17c59037989bdfaf00667c5637774458cf4243d6d0d3ff9037a781009e6fae0b194ed1286465f

pkgname = step-ca
