pkgbase = step-ca
	pkgdesc = A private certificate authority (X.509 & SSH) & ACME server for secure automated certificate management, so you can use TLS everywhere & SSO for SSH.
	pkgver = 0.23.0
	pkgrel = 1
	url = https://github.com/smallstep/certificates
	arch = x86_64
	license = Apache
	makedepends = go
	depends = glibc
	depends = pcsclite
	source = https://github.com/smallstep/certificates/releases/download/v0.23.0/step-ca_0.23.0.tar.gz
	sha512sums = 9b41112a7fe2e31c4667b527559107954b5f3564c318431a276920c8c827f5b3993e4a96c4d45f3d4e230d2ef47aa2d82d66fca57e2bd8f360cc591d54e91282

pkgname = step-ca
