pkgbase = flatpak-xdg-utils
	pkgdesc = Utilities for containerized apps to launch programs outside the container
	pkgver = 1.0.5
	pkgrel = 1
	url = https://github.com/flatpak/flatpak-xdg-utils
	arch = i686
	arch = x86_64
	arch = arm
	arch = armv7h
	arch = armv6h
	arch = aarch64
	license = GPL
	makedepends = ninja
	makedepends = meson
	optdepends = flatpak: interface support
	optdepends = flatpak-builder: interface support for building flatpaks
	source = https://github.com/flatpak/flatpak-xdg-utils/releases/download/1.0.5/flatpak-xdg-utils-1.0.5.tar.xz
	sha256sums = 9dbbebfb71bd99ec439fd00603cf6cbb2bc1e19b8eae75f2e5c11dabf105414b

pkgname = flatpak-xdg-utils
