pkgbase = python-sqlparse
	pkgdesc = Non-validating SQL parser for Python
	pkgver = 0.4.1
	pkgrel = 2
	url = https://github.com/andialbrecht/sqlparse
	arch = any
	license = BSD
	makedepends = python-setuptools
	depends = python
	source = python-sqlparse-0.4.1.tar.gz::https://github.com/andialbrecht/sqlparse/archive/0.4.1.tar.gz
	sha256sums = f75cdec98a4cc8296890279d744e1ae8618bb14dbad77e3d0637f0d7bb5d6535

pkgname = python-sqlparse

