pkgbase = containerd
	pkgdesc = An open and reliable container runtime
	pkgver = 1.1.2
	pkgrel = 1
	url = https://containerd.io/
	arch = x86_64
	license = APACHE
	makedepends = go-pie
	makedepends = git
	makedepends = btrfs-progs
	depends = runc
	source = containerd-1.1.2.tar.gz::https://github.com/containerd/containerd/archive/v1.1.2.tar.gz
	sha256sums = fd2531e1a1ace89b62f193f8c32e04ab847d75ad6316c7aa864e1eb386db3743

pkgname = containerd

