pkgbase = runc
	pkgdesc = CLI tool for managing OCI compliant containers
	pkgver = 1.0.0rc8
	pkgrel = 1
	url = https://runc.io/
	arch = x86_64
	license = Apache
	makedepends = git
	makedepends = go-pie
	makedepends = go-md2man
	depends = libseccomp
	source = git+https://github.com/opencontainers/runc.git#commit=425e105d5a03fabd737a126ad93d62a9eeede87f?signed
	validpgpkeys = 5F36C6C61B5460124A75F5A69E18AA267DDB8DB4
	sha256sums = SKIP

pkgname = runc

