pkgbase = python-pydocstyle
	pkgdesc = Docstring style checker
	pkgver = 4.0.0
	pkgrel = 1
	url = http://www.pydocstyle.org/
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytest-runner
	checkdepends = python-mock
	checkdepends = python-pip
	checkdepends = python-snowballstemmer
	makedepends = python-setuptools
	depends = python-snowballstemmer
	source = python-pydocstyle-4.0.0.tar.gz::https://github.com/PyCQA/pydocstyle/archive/4.0.0.tar.gz
	sha256sums = f5096e8003f97b4520137ee5f84945517003a68e58bdfbf13b91ea9073434a42

pkgname = python-pydocstyle

