pkgbase = python-pydocstyle
	pkgdesc = Docstring style checker
	pkgver = 5.0.2
	pkgrel = 1
	url = http://www.pydocstyle.org/
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytest-runner
	checkdepends = python-mock
	checkdepends = python-pip
	checkdepends = python-snowballstemmer
	makedepends = python-setuptools
	depends = python-snowballstemmer
	source = python-pydocstyle-5.0.2.tar.gz::https://github.com/PyCQA/pydocstyle/archive/5.0.2.tar.gz
	sha256sums = 51543d61812f1b3a7195c122de4db2102b4cce07fe48cdac0eb59edf5b2cd8e0

pkgname = python-pydocstyle

