pkgbase = perl-moox-late
	pkgdesc = Easily translate Moose code to Moo
	pkgver = 0.100
	pkgrel = 2
	url = https://metacpan.org/release/MooX-late
	arch = any
	license = PerlArtistic
	license = GPL
	checkdepends = perl-test-fatal
	checkdepends = perl-test-simple
	checkdepends = perl-test-requires
	depends = perl-moo
	depends = perl-type-tiny
	depends = perl-moox-handlesvia
	depends = perl-sub-handlesvia
	options = !emptydirs
	source = https://cpan.metacpan.org/authors/id/T/TO/TOBYINK/MooX-late-0.100.tar.gz
	sha512sums = 69450edbe7b2192094608a3ec543348d87223c9a124b86dc04a1cdf74b697adb331e5e1498533a557e5d4eded374770086d6696bdda597afe924520cad0c229c

pkgname = perl-moox-late

