pkgbase = i3-gaps
	pkgdesc = A fork of i3wm tiling window manager with more features, including gaps
	pkgver = 4.18.2
	pkgrel = 2
	url = https://github.com/Airblader/i3
	arch = i686
	arch = x86_64
	groups = i3
	license = BSD
	makedepends = bison
	makedepends = flex
	makedepends = asciidoc
	makedepends = xmlto
	depends = xcb-util-keysyms
	depends = xcb-util-wm
	depends = libev
	depends = yajl
	depends = startup-notification
	depends = pango
	depends = perl
	depends = xcb-util-cursor
	depends = xcb-util-xrm
	depends = libxkbcommon-x11
	optdepends = rxvt-unicode: The terminal emulator used in the default config.
	optdepends = dmenu: As menu.
	optdepends = i3lock: For locking your screen.
	optdepends = i3status: To display system information with a bar.
	optdepends = perl-json-xs: For i3-save-tree
	optdepends = perl-anyevent-i3: For i3-save-tree
	provides = i3-wm
	conflicts = i3-wm
	options = docs
	backup = etc/i3/config
	source = i3-gaps-4.18.2.tar.gz::https://github.com/Airblader/i3/archive/4.18.2.tar.gz
	source = fix-tray.patch::https://github.com/i3/i3/commit/838b600fead202416013db5c1b57f7031f06bed6.diff
	sha256sums = cc03cc008f51792b3c2fd5c8815ec213f8040385865fa558b0c78d5dc5f7150d
	sha256sums = bade69559a83187375dbe12a23079225ad443fb90d23383647cdc7998e617d0c

pkgname = i3-gaps

