pkgbase = python-sqlobject
	pkgdesc = SQLObject, an object-relational mapper for Python
	pkgver = 3.9.0
	pkgrel = 1
	url = http://sqlobject.org/
	arch = any
	license = LGPL
	makedepends = python-setuptools
	depends = python-pydispatcher
	source = python-sqlobject-3.9.0.tar.gz::https://github.com/sqlobject/sqlobject/archive/3.9.0.tar.gz
	sha256sums = dd720d636e4d098ff2b826628c75ef014fc561935d8711cc0bcd83465bba4c8a

pkgname = python-sqlobject
