pkgbase = python-sqlobject
	pkgdesc = SQLObject, an object-relational mapper for Python
	pkgver = 3.7.3
	pkgrel = 2
	url = http://sqlobject.org/
	arch = any
	license = LGPL-2.1
	makedepends = python
	makedepends = python-setuptools
	makedepends = python2
	makedepends = python2-setuptools
	source = python-sqlobject-3.7.3.tar.gz::https://github.com/sqlobject/sqlobject/archive/3.7.3.tar.gz
	sha256sums = cafa5b8a81da5eb85201a566803d42a78a081c54885fdac2652afa8b0148161b

pkgname = python-sqlobject
	depends = python
	depends = python-pydispatcher

pkgname = python2-sqlobject
	depends = python2
	depends = python2-formencode
	depends = python2-pydispatcher

