pkgbase = python2-typing
	pkgdesc = Backport of the standard library typing module to Python versions older than 3.6
	pkgver = 3.7.4.3
	pkgrel = 1
	url = https://pypi.python.org/pypi/typing
	arch = any
	license = PSF
	makedepends = python2-setuptools
	depends = python2
	source = python2-typing-3.7.4.3.tar.gz::https://pypi.io/packages/source/t/typing/typing-3.7.4.3.tar.gz
	sha256sums = 1187fb9c82fd670d10aa07bbb6cfcfe4bdda42d6fab8d5134f04e8c4d0b71cc9

pkgname = python2-typing

