pkgbase = python2-typing
	pkgdesc = Backport of the standard library typing module to Python versions older than 3.6
	pkgver = 3.6.6
	pkgrel = 1
	url = https://pypi.python.org/pypi/typing
	arch = any
	license = PSF
	makedepends = python2
	makedepends = python2-setuptools
	source = python2-typing-3.6.6.tar.gz::https://pypi.io/packages/source/t/typing/typing-3.6.6.tar.gz
	md5sums = 64614206b4bdc0864fc0e0bccd69efc9

pkgname = python2-typing
	depends = python2

