pkgbase = python-wheel
	pkgdesc = A built-package format for Python
	pkgver = 0.38.4
	pkgrel = 1
	url = https://pypi.python.org/pypi/wheel
	arch = any
	license = MIT
	checkdepends = python-jsonschema
	checkdepends = python-pytest
	checkdepends = python-keyring
	checkdepends = python-keyrings-alt
	checkdepends = python-xdg
	checkdepends = python-pytest-cov
	makedepends = python-setuptools
	depends = python-packaging
	optdepends = python-keyring: for wheel.signatures
	optdepends = python-xdg: for wheel.signatures
	source = python-wheel-0.38.4.tar.gz::https://github.com/pypa/wheel/archive/0.38.4.tar.gz
	sha512sums = 2ff7c6175201f8145f2c1f9937c6955a1dd22eeedab1e456f65c4edae9186610d9e7702c35773b49026c56c9cc201672025e7d42fcc7f782153c65c28e6b90d0

pkgname = python-wheel
