pkgbase = python-wheel
	pkgdesc = A built-package format for Python
	pkgver = 0.38.1
	pkgrel = 1
	url = https://pypi.python.org/pypi/wheel
	arch = any
	license = MIT
	checkdepends = python-jsonschema
	checkdepends = python-pytest
	checkdepends = python-keyring
	checkdepends = python-keyrings-alt
	checkdepends = python-xdg
	checkdepends = python-pytest-cov
	makedepends = python-setuptools
	depends = python-packaging
	optdepends = python-keyring: for wheel.signatures
	optdepends = python-xdg: for wheel.signatures
	source = python-wheel-0.38.1.tar.gz::https://github.com/pypa/wheel/archive/0.38.1.tar.gz
	sha512sums = 1818b50a4ee50861aac3c9ac4058c5fee2de4a428ca04e7a9b1ce570dab6f1b64f4528f812aa23e87705ed15e360d0bd5b01523bd4360875c25054b1ccbf9179

pkgname = python-wheel
