pkgbase = python-wheel
	pkgdesc = A built-package format for Python
	pkgver = 0.36.2
	pkgrel = 1
	url = https://pypi.python.org/pypi/wheel
	arch = any
	license = MIT
	checkdepends = python-jsonschema
	checkdepends = python-pytest
	checkdepends = python-keyring
	checkdepends = python-keyrings-alt
	checkdepends = python-xdg
	makedepends = python-packaging
	makedepends = python-setuptools
	makedepends = python2-packaging
	makedepends = python2-setuptools
	source = python-wheel-0.36.2.tar.gz::https://github.com/pypa/wheel/archive/0.36.2.tar.gz
	sha512sums = 23f3dd0540ecc8e762f37a4bb69713abe99125a605c03b1a3412cec910fb7a6cea3eee3910d7c98122b276170a17414c9132b57b57a30a4ba1283cea8f9e20fa

pkgname = python-wheel
	depends = python-packaging
	optdepends = python-xdg: for wheel.signatures

pkgname = python2-wheel
	depends = python2-packaging
	optdepends = python2-xdg: for wheel.signatures
