pkgbase = nomad-driver-nspawn
	pkgdesc = A nomad taskdriver for systemd-nspawn
	pkgver = 0.8.0
	pkgrel = 1
	url = https://github.com/JanMa/nomad-driver-nspawn
	arch = x86_64
	license = MIT
	makedepends = go
	makedepends = git
	depends = glibc
	depends = nomad
	depends = systemd
	source = nomad-driver-nspawn-0.8.0.tar.gz::https://github.com/JanMa/nomad-driver-nspawn/archive/v0.8.0.tar.gz
	sha512sums = ca6ca7439c7788b98aa4c01e947bad611f6f2e8386e14a509badf56db768dc5ffad4c960b74b9688f01a38ee636aba395f59aacb404a65f3057bc63b50163016
	b2sums = 2fa8afb69660169edc7fa2a03332386836aa117b659fdf1aea7d9f4881f915655df441418ec9dee08383ab0fbe9008ccd4e1070cbf1fab0fe39a3b4906f5379c

pkgname = nomad-driver-nspawn
