pkgbase = nomad-driver-nspawn
	pkgdesc = A nomad taskdriver for systemd-nspawn
	pkgver = 0.9.0
	pkgrel = 2
	url = https://github.com/JanMa/nomad-driver-nspawn
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = go
	depends = glibc
	depends = nomad
	depends = systemd
	options = !lto
	source = nomad-driver-nspawn::git+https://github.com/JanMa/nomad-driver-nspawn#commit=0008fa3566ac0f3fc666ca5693bf5fd38d7340ed
	b2sums = SKIP

pkgname = nomad-driver-nspawn
