pkgbase = jp2a
	pkgdesc = A small utility for converting JPG images to ASCII
	pkgver = 1.1.1
	pkgrel = 1
	url = https://github.com/Talinx/jp2a/
	arch = x86_64
	license = GPL2
	makedepends = doxygen
	makedepends = autoconf-archive
	makedepends = git
	depends = curl
	depends = libjpeg
	depends = libpng
	source = git+https://github.com/Talinx/jp2a.git#commit=9ed01d6aa57c5b63657abe5c76cd28935206084c?signed
	validpgpkeys = 5FCAE86E581E73AD91CB3235E7DBBCF6B02920CC
	sha256sums = SKIP

pkgname = jp2a
