pkgbase = yubikey-personalization
	pkgdesc = Yubico YubiKey Personalization library and tool
	pkgver = 1.19.1
	pkgrel = 1
	url = https://github.com/Yubico/yubikey-personalization
	arch = x86_64
	license = BSD
	makedepends = systemd
	depends = libusb
	depends = json-c
	depends = yubico-c-client
	provides = ykpers
	conflicts = ykpers
	source = https://developers.yubico.com/yubikey-personalization/Releases/ykpers-1.19.1.tar.gz
	source = https://developers.yubico.com/yubikey-personalization/Releases/ykpers-1.19.1.tar.gz.sig
	validpgpkeys = 0A3B0262BCA1705307D5FF06BCA00FD4B2168C0A
	sha256sums = 4f9f94f4f3c6257c26e140d383e12477d29894b93d4487663645b4785e06cbb6
	sha256sums = SKIP

pkgname = yubikey-personalization

