pkgbase = acpid
	pkgdesc = A daemon for delivering ACPI power management events with netlink support
	pkgver = 2.0.29
	pkgrel = 2
	url = https://sourceforge.net/projects/acpid2/
	arch = x86_64
	license = GPL
	depends = bash
	optdepends = perl: use perl based examples
	replaces = acpid2
	backup = etc/acpi/handler.sh
	backup = etc/acpi/events/anything
	source = https://downloads.sourceforge.net/sourceforge/acpid2/acpid-2.0.29.tar.xz
	source = acpid.service
	source = anything
	source = handler.sh
	sha256sums = 58503b27975c466e627eb741c5453dd662f97edef1a3d0aac822fd03a84203ff
	sha256sums = a8236bbf774f5e90a4daa369731d6d335c3374ddc62f1224fba02a3d6d678111
	sha256sums = eb5230affb9dba7653890655b94e83f377c689a39131b6b13c8202ba2382c275
	sha256sums = 1c1e39b7ecc57092ba9d747f452fb36d8ae0456e2e64849c9c4a2625d1d57413

pkgname = acpid

