pkgbase = udiskie
	pkgdesc = Removable disk automounter using udisks
	pkgver = 1.7.7
	pkgrel = 1
	url = https://pypi.python.org/pypi/udiskie
	arch = any
	license = MIT
	makedepends = asciidoc
	makedepends = python-setuptools
	depends = udisks2
	depends = python
	depends = python-gobject
	depends = python-yaml
	depends = python-docopt
	depends = gtk3
	depends = libnotify
	depends = python-keyutils
	source = udiskie-1.7.7.tar.gz::https://codeload.github.com/coldfix/udiskie/tar.gz/1.7.7
	sha256sums = dd6f01dd43ea377838834da99a12980fcd488f9de1bbbb19ad92687d8b9e94ba

pkgname = udiskie

