pkgbase = udiskie
	pkgdesc = Removable disk automounter using udisks
	pkgver = 2.0.4
	pkgrel = 1
	url = https://pypi.python.org/pypi/udiskie
	arch = any
	license = MIT
	makedepends = asciidoc
	makedepends = python-setuptools
	depends = udisks2
	depends = python
	depends = python-gobject
	depends = python-yaml
	depends = python-docopt
	depends = gtk3
	depends = libnotify
	depends = python-keyutils
	optdepends = libappindicator-gtk3: --appindicator support
	source = udiskie-2.0.4.tar.gz::https://codeload.github.com/coldfix/udiskie/tar.gz/2.0.4
	sha256sums = fb20f8476600714ff7f1c68db31c3b3b85607f78fc214a37df564c31ad031ee0

pkgname = udiskie

