pkgbase = influx-cli
	pkgdesc = CLI for managing resources in InfluxDB
	pkgver = 2.2.1
	pkgrel = 1
	url = https://github.com/InfluxData/influxdb
	arch = x86_64
	license = MIT
	makedepends = go
	makedepends = go-tools
	makedepends = git
	options = !lto
	backup = etc/influxdb/influxdb.conf
	source = git+https://github.com/influxdata/influx-cli.git#tag=v2.2.1
	sha256sums = SKIP

pkgname = influx-cli
